#
#	Sample configuration file for cern_httpd for running it
#	as a normal HTTP server WITH access control, proxy and caching
#
# See:
#	<http://info.cern.ch/hypertext/WWW/Daemon/User/Config/Overview.html>
#
# for more information.
#
# Written by:
#	Ari Luotonen  April 1994  <luotonen@dxcern.cern.ch>
#
#  Updated in minor way, by AJ, Novell 1995
#  Shows proxy and caching

#
#	Set this to point to the directory where you unpacked this
#	distribution, or wherever you want httpd to have its "home"
#
ServerRoot	/opt/lib/httpd

#
#	The default port for HTTP is 80; if you are not root you have
#	to use a port above 1024; good defaults are 8000, 8001, 8080
#
#Port	80

#
#	General setup; on some systems, like HP, nobody is defined so
#	that setuid() fails; in those cases use a different user id.
#
UserId	nobody
GroupId	nogroup

# The latest CERN servers specify logs ending with the date.
# Use this directive to have the logs end in .log
LogFileDateExt  log  
#
#	Logging; if you want logging uncomment these lines and specify
#	locations for your access and error logs
#
AccessLog	/opt/lib/httpd/logs/access
ErrorLog	/opt/lib/httpd/logs/error
LogFormat	Common
LogTime		LocalTime

#
#	User-supported directories under ~/public_html
#
UserDir	public_html

#
#	Protection setup by usernames; specify groups in the group
#	file [if you need groups]; create and maintain password file
#	with the htadm program
#
Protection PROT-SETUP-USERS {
	UserId		nobody
	GroupId		nobody
	ServerId	Test-server
	AuthType	Basic
	PasswdFile	/opt/lib/httpd/config/passwd
	GroupFile	/opt/lib/httpd/config/group
	GET-Mask	andrew, plord
}

#
#	Protection setup by hosts; you can use both domain name
#	templates and IP number templates
#
Protection PROT-SETUP-HOSTS {
	UserId		nobody
	GroupId		nobody
	ServerId	Test-server
	AuthType	Basic
	PasswdFile	/opt/lib/httpd/config/passwd
	GroupFile	/opt/lib/httpd/config/group
	GET-Mask	@(*.uk.novell.com, 192.9.200.* )
}

Protect	/pc-week.html  	PROT-SETUP-USERS
Protect	/another/secret/URL/*	PROT-SETUP-HOSTS

#	Scripts; URLs starting with /cgi-bin/ will be understood as
#	script calls in the directory /your/script/directory
#
Exec	/cgi-bin/*	/opt/lib/httpd/cgi-bin/*

#
#	URL translation rules; If your documents are under /home/www
#	then this single rule does the job:
#
Pass	/*	/home/www/*


#
#	Proxy protections; if you want only certain domains to use
#	your proxy, uncomment these lines and specify the Mask
#	with hostname templates or IP number templates:
#
# Protection PROXY-PROT {
# 	ServerId	YourProxyName
# 	Mask		@(*.cern.ch, 128.141.*.*, *.ncsa.uiuc.edu)
# }
# Protect  *  PROXY-PROT

#
#	Pass the URLs that this proxy is willing to forward.
#
Pass	http:*
Pass	ftp:*
Pass	gopher:*
Pass	wais:*

#	Enable caching, specify cache root directory, and cache size
#	in megabytes
#
Caching		On
CacheRoot	/var/opt/httpd/cache/root
CacheSize	5

#
#	Specify absolute maximum for caching time
#
CacheClean	*	2 months

#
#	Specify the maximum time to be unused
#
CacheUnused	http:*		2 weeks
CacheUnused	ftp:*		1 week
CacheUnused	gopher:*	1 week

#
#	Specify default expiry times for ftp and gopher;
#	NEVER specify it for HTTP, otherwise documents generated by
#	scripts get cached which is usually a bad thing.
#
CacheDefaultExpiry	ftp:*		10 days
CacheDefaultExpiry	gopher:*	2 days

#
#	Garbage collection controls; daily garbage collection at 3am;
#
# If running httpd from inetd , you'll need to run httpd in
# garbage collection mode from cron occasionally
Gc		On
GcDailyGc	3:00

