@@@SKUNKHEADER(Audio / Video Tools)

<P>Welcome to the Skunkware Audio/Video Tools section. Here you will
find sound card drivers, MPEG players and encoders, midi players, audio
CD players and mixers, and other 
tools used for developing and enjoying multimedia presentations.
</P>

@@@START_PACKAGELIST

@@@PACKLIST(mpg123;MPEG audio player with HTTP support;0.59k;Yes;Yes)
@@@PACKLIST(maplay;MPEG audio player;1.2;Yes;Yes)
@@@PACKLIST(festival;Festival Speech Synthesis System;1.4.0;No;Yes)
@@@PACKLIST(mbrola;Speech Synthesis System;3.00;Yes;Yes)
@@@PACKLIST(speech_tools;Edinburgh Speech Tools Library;1.2.0;Yes;Yes)
@@@PACKLIST(txt2pho;Text to Phoneme conversion;0.9.0;Yes;Yes)
@@@PACKLIST(4front;SoundBlaster drivers;3.7;Yes;Yes)
@@@PACKLIST(snd;Snd sound editor;23sep98;Yes;Yes)
@@@PACKLIST(sox;Sound eXchange;11.12;Yes;No)
@@@PACKLIST(timidity;Midi player;0.2i;Yes;Yes)
@@@PACKLIST(xmcd;Audio CD player;2.1;Yes;Yes)
@@@PACKLIST(xmmix;Motif audio mixer;1.2;Yes;Yes)
@@@PACKLIST(Xmixer;Vtcl audio mixer;1.0;Yes;Yes)
@@@PACKLIST(xwave;WAV audio player/editor;0.6;No;Yes)
@@@PACKLIST(mpeg_encode;MPEG encoder;1.5b;Yes;No)
@@@PACKLIST(mpeg_play;MPEG video player;2.3;Yes;No)

@@@END_PACKAGELIST

#include "mpg123.src"
#include "maplay.src"
#include "festival.src"
#include "mbrola.src"
#include "speech_tools.src"
#include "txt2pho.src"
#include "4front.src"
#include "snd.src"
#include "sox.src"
#include "timidity.src"
#include "xmcd.src"
#include "xmmix.src"
#include "Xmixer.src"
#include "xwave.src"
#include "mpeg_encode.src"
#include "mpeg_play.src"

@@@SKUNKFOOTER
