@@@SKUNKHEADER(Editors)

<P>Welcome to the Skunkware Editors section. Here you will
find replacement editors. This section is concerned mainly with text
editors, or general purpose editors, not graphics editors or specialty
editors.</P>

@@@START_PACKAGELIST

@@@PACKLIST(elvis;Elvis;2.0;Yes;Yes)
@@@PACKLIST(emacs;GNU Emacs;20.2;Yes;Yes)
@@@PACKLIST(jed;Jed;0.98.7;Yes;No)
@@@PACKLIST(joe;Joe;2.8;Yes;No)
@@@PACKLIST(gxedit;GXedit - graphical text editor;1.23;No;Yes)
@@@PACKLIST(infodock;Advanced Integrated Development Environment;4.0.8;No;Yes)
@@@PACKLIST(nedit;NEdit - GUI text editor;5.0.2;Yes;Yes)
@@@PACKLIST(nvi;The New Vi;1.79;Yes;Yes)
@@@PACKLIST(pico;Pico;3.96;Yes;No)
@@@PACKLIST(Ted;Ted - text processor;2.4;No;Yes)
@@@PACKLIST(vile;Vile;7.3;Yes;No)
@@@PACKLIST(vim;Vi IMproved, a programmers text editor;5.5;Yes;Yes)
@@@PACKLIST(xcoral;Xcoral;3.14;Yes;Yes)
@@@PACKLIST(xemacs;XEmacs - the best Emacs ever;20.4;Yes;Yes)
@@@PACKLIST(xhtml;HTML editor;1.3;Yes;Yes)

@@@END_PACKAGELIST

#include "elvis.src"
#include "emacs.src"
#include "jed.src"
#include "joe.src"
#include "gxedit.src"
#include "infodock.src"
#include "nedit.src"
#include "nvi.src"
#include "pico.src"
#include "Ted.src"
#include "vile.src"
#include "vim.src"
#include "xcoral.src"
#include "xemacs.src"
#include "xhtml.src"

@@@SKUNKFOOTER
