@@@SKUNKHEADER(Development Tools)

<P>Welcome paragraph</P>

@@@START_PACKAGELIST

<!-- Syntax: @@@PACKLIST(short;desc;version;osr5;uw2) -->

@@@END_PACKAGELIST

<!-- Syntax: @@@STARTPACK(short;desc) -->

<P>Description</P>

<!-- Syntax: @@@OSR5DIST(path) -->
<!-- Syntax: @@@UW2DIST(path) -->
<!-- Syntax: @@@SOURCE(path) -->
<!-- Syntax: @@@HOMEPAGE(path) -->

@@@ENDPACK

<!-- Next package starts here -->

@SKUNKFOOTER
