@@@SKUNKHEADER(Java)

<P>Welcome to the Skunkware Java section. 
#ifdef SKUNK_CD
<P>
Additional Java software for SCO platforms will be available via the Skunkware
web/ftp site at
<A HREF="http://www.sco.com/skunkware/java/">
http://www.sco.com/skunkware/java/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(Acme;Acme Labs Java Software;1.0.2;Yes;Yes)
@@@PACKLIST(ApacheJMe;Apache JMeter;1.0;Yes;Yes)
@@@PACKLIST(Djava;Java class file disassembler;052097;Yes;No)
@@@PACKLIST(Earl;Earl - Cute little fella;1.0;Yes;Yes)
@@@PACKLIST(enhydra;Java Application Server;2.0.1;Yes;Yes)
@@@PACKLIST(jasmin;disassembler;1.06;Yes;No)
@@@PACKLIST(jikes;Java compiler;0.41;No;Yes)
@@@PACKLIST(klassmaster;disassembler;1.0;Yes;No)
@@@PACKLIST(swing;Swing - Java Foundation Clases;1.1;Yes;Yes)
@@@PACKLIST(vrwave;VRwave VRML 2.0 browser;0.9;Yes;Yes)
@@@END_PACKAGELIST

#include "Acme.src"
#include "ApacheJMe.src"
#include "Djava.src"
#include "Earl.src"
#include "enhydra.src"
#include "jasmin.src"
#include "jikes.src"
#include "klassmaster.src"
#include "swing.src"
#include "vrwave.src"

@@@SKUNKFOOTER
