@@@SKUNKHEADER(Shell Utilities)

<P>Welcome to the Skunkware 7 shell utilities section. This section
contains a set of useful programs which can be used to enhance shell
scripts, or are full shell interpreters themselves.</P>
#ifdef SKUNK_CD
<P>
Additional shell utilities for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://skunkware.dev/skunkware/shellutil/">
http://skunkware.dev/skunkware/shellutil/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(gawk;GNU Awk;3.0.3;Yes;Yes)
@@@PACKLIST(mawk;Pattern scanning and text processing language;1.3.3;Yes;Yes)
@@@PACKLIST(bzip2;block-sorting file compressor;2.0;Yes;Yes)
@@@PACKLIST(gzip;GNU file compression utilities;1.2.4;Yes;Yes)
@@@PACKLIST(idutils;identifier database utilities;3.2;No;Yes)
@@@PACKLIST(infozip;PK-Zip compatible tools;5.32;Yes;Yes)
@@@PACKLIST(less;less - the opposite of more;3.3.2;Yes;Yes)
@@@PACKLIST(shutil;sh-utils - GNU shell utilities;2.0;Yes;Yes)
@@@END_PACKAGELIST

#include "gawk.src"
#include "mawk.src"
#include "bzip2.src"
#include "gzip.src"
#include "idutils.src"
#include "infozip.src"
#include "less.src"
#include "shutil.src"

@@@SKUNKFOOTER
