@@@SKUNKHEADER(New or Updated Packages)

<CENTER>
<TABLE BORDER=6 CELLPADDING=3 CELLSPACING=3>
<TR>
<TD WIDTH=50% ALIGN=CENTER><A HREF="#OSR5">What's New for OpenServer</A></TD>
<TD WIDTH=50% ALIGN=CENTER><A HREF="#UW7">What's New for UnixWare</A></TD>
</TR>
<TR>
<TD WIDTH=50% ALIGN=CENTER><A HREF="/skunkware/osr5/vols">
List of All OpenServer Packages</A></TD>
<TD WIDTH=50% ALIGN=CENTER><A HREF="/skunkware/uw7/Packages">
List of All UnixWare 7 Packages</A></TD>
</TR>
<TR>
<TD COLSPAN=2 ALIGN=CENTER>
<A HREF=listjoin.html>Join the Skunkware announcements mailing list</A></TD>
</TR>
<TR>
<TD COLSPAN=2 ALIGN=CENTER>
<A HREF=http://www.ocston.org/HyperNews/get/forums/skunkware-announce.html>
Read the latest Skunkware announcements</A></TD></TR>
</TABLE>
<P>
</CENTER>
<A NAME="OSR5">
The following packages have either been added or updated recently.
</A> To install: download, extract the tar archive
into an empty directory and use the SCO Software Manager (custom) to install
from media images. Note that many of the graphical X clients depend on the
<A HREF="http://www.sco.com/skunkware/osr5/vols/Glib-1.3-VOLS.tar">
Graphics Libraries package</A> which must be installed first.
<P>
<TABLE BORDER=6 CELLPADDING=3 CELLSPACING=3>
<TR>
<TH COLSPAN=3>New/Updated Skunkware for OpenServer</TH></TR>
<TR>
<TH>Date</TH><TH>Media Images</TH><TH>Description</TH></TR>
<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/QwSpriteField-1.1.2-VOLS.tar>
QwSpriteField-1.1.2-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
Class set for implementing efficiently redrawn sprites in the Qt toolkit
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/kasteroids-1.1.2-VOLS.tar>
kasteroids-1.1.2-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
Asteroids video game for KDE (needs QwSpriteField and KDE)
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/emu-2.34b-VOLS.tar>
emu-2.34b-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
eEMU, enterprise Event Management Utility, is a distributed multi-tier 
      highly scalable event management framework 
</TD></TR>

<TR>
<TD ALIGN=CENTER>07-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/gcc-2.95.2pl1-VOLS.tar>
gcc-2.95.2pl1-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
GNU Compiler Collection 2.95.2 with C++ templates patch for systems
      with System V derived linkers
</TD></TR>

<TR>
<TD ALIGN=CENTER>07-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/make-3.78.1-VOLS.tar>
make-3.78.1-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
GNU make release 3.78.1
</TD></TR>

<TR>
<TD ALIGN=CENTER>07-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/xxl-2.1.2-VOLS.tar>
xxl-2.1.2-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
Graphical spreadsheet with LaTex and HTML output (needs STk)
</TD></TR>

<TR>
<TD ALIGN=CENTER>07-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/STk-4.0.1-VOLS.tar>
STk-4.0.1-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
R4RS Scheme interpreter with TK graphical support
</TD></TR>

<TR>
<TD ALIGN=CENTER>07-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/hylafax-4.0pl2-VOLS.tar>
hylafax-4.0pl2-VOLS.tar</A></TD>
<TD ALIGN=LEFT>
Telecommunication system for UNIX to send/receive facsimiles 
      and alpha-numeric pages. Includes network support.
</TD></TR>

<TR>
<TD ALIGN=CENTER>27-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/qb2c-3.40-VOLS.tar>
qb2c-3.40-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
BASIC to C translation with X11 graphics
</TD></TR>
<TR>
<TD ALIGN=CENTER>23-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/xwpe-1.5.21a-VOLS.tar>
xwpe-1.5.21a-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Programming environment and editor
</TD></TR>
<TR>
<TD ALIGN=CENTER>23-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/man2html-3.0.1-VOLS.tar>
man2html-3.0.1-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Convert UNIX manual pages to HTML format
</TD></TR>
<TR>
<TD ALIGN=CENTER>23-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/Eterm-0.8.9-VOLS.tar>
Eterm-0.8.9-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Enlightenment terminal emulator
</TD></TR>
<TR>
<TD ALIGN=CENTER>23-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/dejagnu-1.3-VOLS.tar>
dejagnu-1.3-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
GNU test framework
</TD></TR>
<TR>
<TD ALIGN=CENTER>23-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/gdb-4.18-VOLS.tar>
gdb-4.18-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
GNU source level debugger
</TD></TR>
<TR>
<TD ALIGN=CENTER>17-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/yabasic-2.60-VOLS.tar>
yabasic-2.60-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Yet another BASIC interpreter
</TD></TR>
<TR>
<TD ALIGN=CENTER>11-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/gimp-1.0.4-VOLS.tar>
gimp-1.0.4-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
The GNU Image Manipulation Program
</TD></TR>
<TR>
<TD ALIGN=CENTER>10-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/wxftp-0.4.4-VOLS.tar>
wxftp-0.4.4-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Graphical FTP client
</TD></TR>
<TR>
<TD ALIGN=CENTER>10-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/glib-1.2.3-VOLS.tar>
glib-1.2.3-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
glib, gmodule and gthread libraries
</TD></TR>
<TR>
<TD ALIGN=CENTER>10-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/gtk+-1.2.3-VOLS.tar>
gtk+-1.2.3-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
GIMP Tool Kit
</TD></TR>
<TR>
<TD ALIGN=CENTER>09-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/WindowMaker-0.61.1-VOLS.tar>
WindowMaker-0.61.1-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
WindowMaker X11 Window Manager
</TD></TR>
<TR>
<TD ALIGN=CENTER>09-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/libPropList-0.9.1-VOLS.tar>
libPropList-0.9.1-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Mimick property list behaviour of GNUstep
</TD></TR>
<TR>
<TD ALIGN=CENTER>09-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/bvi-1.2.0-VOLS.tar>
bvi-1.2.0-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Binary visual editor
</TD></TR>
<TR>
<TD ALIGN=CENTER>08-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/bzip2-0.9.5d-VOLS.tar>
bzip2-0.9.5d-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Block-sorting file compression
</TD></TR>
<TR>
<TD ALIGN=CENTER>07-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/python-1.5.2-VOLS.tar>
python-1.5.2-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Interpreted object-oriented programming language
</TD></TR>
<TR>
<TD ALIGN=CENTER>05-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/apache-1.3.6-VOLS.tar>
apache-1.3.6-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
HTTP daemon
</TD></TR>
<TR>
<TD ALIGN=CENTER>05-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/automake-1.4-VOLS.tar>
automake-1.4-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
GNU Makefile generator
</TD></TR>
<TR>
<TD ALIGN=CENTER>05-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/FSUpthreads-3.5-VOLS.tar>
FSUpthreads-3.5-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
POSIX Threads
</TD></TR>
<TR>
<TD ALIGN=CENTER>04-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/screen-3.9.4-VOLS.tar>
screen-3.9.4-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Screen manager with VT100/ANSI terminal emulation
</TD></TR>
<TR>
<TD ALIGN=CENTER>04-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/pth-1.2.0-VOLS.tar>
pth-1.2.0-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
GNU pthreads
</TD></TR>
<TR>
<TD ALIGN=CENTER>04-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/kde-1.1.2-VOLS.tar>
kde-1.1.2-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
The K Desktop Environment
</TD></TR>
<TR>
<TD ALIGN=CENTER>03-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/gettext-0.10-VOLS.tar>
gettext-0.10-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
GNU Gettext library
</TD></TR>
<TR>
<TD ALIGN=CENTER>03-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/qt-1.44-VOLS.tar>
qt-1.44-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
QT GUI widget set
</TD></TR>
<TR>
<TD ALIGN=CENTER>03-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/db-1.85.4-VOLS.tar>
db-1.85.4-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Berkeley DB library
</TD></TR>
<TR>
<TD ALIGN=CENTER>03-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/bu-1.0-VOLS.tar>
bu-1.0-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Simple file backup utility
</TD></TR>
<TR>
<TD ALIGN=CENTER>03-Aug-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/osr5/vols/perl-5.005_03-VOLS.tar>
perl-5.005_03-VOLS.tar
</A></TD>
<TD ALIGN=LEFT>
Perl 5.005_03
</TD></TR>
</TABLE>
<P>
<A NAME="UW7">
The following packages have either been added or updated recently.</A> 
To install: download, uncompress with
<A HREF="http://www.sco.com/skunkware/uw7/shellutil/gzip/">gunzip</A> if
necessary, and install with pkgadd.
<P>
<P>
<TABLE BORDER=6 CELLPADDING=3 CELLSPACING=3>
<TR>
<TH COLSPAN=3>New/Updated Skunkware for UnixWare</TH></TR>
<TR>
<TH>Date</TH><TH>Package</TH><TH>Description</TH></TR>
<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/kasteroid-1.1.2.pkg>
kasteroid-1.1.2.pkg
</A></TD>
<TD ALIGN=LEFT>
Asteroids video game for KDE (needs QwSpriteField and KDE)
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/gcc-2.95.2pl1.pkg>
 gcc-2.95.2pl1.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU Compiler Collection with patch for C++ weak symbol resolution
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/QwSpriteF-1.1.2.pkg>
 QwSpriteF-1.1.2.pkg
</A></TD>
<TD ALIGN=LEFT>
Class set for implementing efficiently redrawn sprites in the Qt toolkit
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/kmp3-1.0pre3.pkg>
 kmp3-1.0pre3.pkg
</A></TD>
<TD ALIGN=LEFT>
GUI MPEG level 3 audio player for KDE
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/everybudd-0.0.6.pkg>
 everybudd-0.0.6.pkg
</A></TD>
<TD ALIGN=LEFT>
Everybuddy is a universal Instant Messaging client
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/webmin-0.75.pkg>
 webmin-0.75.pkg
</A></TD>
<TD ALIGN=LEFT>
Web based system administration GUI
</TD></TR>

<TR>
<TD ALIGN=CENTER>17-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/emu-2.34b.pkg>
 emu-2.34b.pkg
</A></TD>
<TD ALIGN=LEFT>
eEMU, enterprise Event Management Utility, is a distributed multi-tier 
      highly scalable event management framework 
</TD></TR>

<TR>
<TD ALIGN=CENTER>08-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/kdk-1.0.pkg>
   kdk-1.0.pkg
</A></TD>
<TD ALIGN=LEFT>
KDE Development Kit
</TD></TR>

<TR>
<TD ALIGN=CENTER>07-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/enhydra-2.2.1.pkg>
 enhydra-2.2.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Java application server and XML compiler
</TD></TR>

<TR>
<TD ALIGN=CENTER>07-Dec-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/make-3.78.1.pkg>
 make-3.78.1.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU make release 3.78.1
</TD></TR>

<TR>
<TD ALIGN=CENTER>27-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/qb2c-3.40.pkg>
qb2c-3.40.pkg
</A></TD>
<TD ALIGN=LEFT>
BASIC to C translation with X11 graphics
</TD></TR>
<TR>
<TD ALIGN=CENTER>27-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xxl-2.1.2.pkg>
xxl-2.1.2.pkg
</A></TD>
<TD ALIGN=LEFT>
Graphical Spreadsheet with LaTex and HTML output (requires STk)
</TD></TR>
<TR>
<TD ALIGN=CENTER>27-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/STk-4.0.1.pkg>
STk-4.0.1.pkg
</A></TD>
<TD ALIGN=LEFT>
R4RS Scheme interpreter with TK support
</TD></TR>
<TR>
<TD ALIGN=CENTER>27-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/socks5-1.0r10.pkg>
socks5-1.0r10.pkg
</A></TD>
<TD ALIGN=LEFT>
SOCKS V5 networking proxy mechanism
</TD></TR>
<TR>
<TD ALIGN=CENTER>27-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/qt202-2.0.2.pkg>
qt202-2.0.2.pkg
</A></TD>
<TD ALIGN=LEFT>
QT GUI widget set version 2.0.2
</TD></TR>
<TR>
<TD ALIGN=CENTER>27-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/licq-0.71.pkg>
licq-0.71.pkg
</A></TD>
<TD ALIGN=LEFT>
An ICQ (I Seek You) clone
</TD></TR>
<TR>
<TD ALIGN=CENTER>22-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/wxftp-0.4.4.pkg>
wxftp-0.4.4.pkg
</A></TD>
<TD ALIGN=LEFT>
Graphical FTP client
</TD></TR>
<TR>
<TD ALIGN=CENTER>19-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/glibs-2.0.3.pkg>
glibs-2.0.3.pkg
</A></TD>
<TD ALIGN=LEFT>
Graphics Libraries
</TD></TR>
<TR>
<TD ALIGN=CENTER>17-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/yabasic-2.60.pkg>
yabasic-2.60.pkg
</A></TD>
<TD ALIGN=LEFT>
Yet another BASIC interpretor
</TD></TR>
<TR>
<TD ALIGN=CENTER>16-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/mc-4.5.41.pkg>
mc-4.5.41.pkg
</A></TD>
<TD ALIGN=LEFT>
Midnight Commander visual shell
</TD></TR>
<TR>
<TD ALIGN=CENTER>15-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/kde-1.1.2.pkg>
kde-1.1.2.pkg
</A></TD>
<TD ALIGN=LEFT>
The K Desktop Environment
</TD></TR>
<TR>
<TD ALIGN=CENTER>09-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/bvi-1.2.0.pkg>
bvi-1.2.0.pkg
</A></TD>
<TD ALIGN=LEFT>
Binary visual editor
</TD></TR>
<TR>
<TD ALIGN=CENTER>01-Nov-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/kfortune-1.3.pkg>
kfortune-1.3.pkg
</A></TD>
<TD ALIGN=LEFT>
Fortune for KDE
</TD></TR>
<TR>
<TD ALIGN=CENTER>27-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/emacs-20.3.pkg>
emacs-20.3.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU Project Emacs
</TD></TR>
<TR>
<TD ALIGN=CENTER>26-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/enlighten-0.16.0.pkg>
enlighten-0.16.0.pkg
</A></TD>
<TD ALIGN=LEFT>
Enlightenment Window Manager
</TD></TR>
<TR>
<TD ALIGN=CENTER>26-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/libpng-1.0.5.pkg>
libpng-1.0.5.pkg
</A></TD>
<TD ALIGN=LEFT>
PNG library
</TD></TR>
<TR>
<TD ALIGN=CENTER>26-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/imlib-1.9.8.pkg>
imlib-1.9.8.pkg
</A></TD>
<TD ALIGN=LEFT>
ImageMagick Library
</TD></TR>
<TR>
<TD ALIGN=CENTER>25-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/make-3.76.1.pkg>
make-3.76.1.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU Make
</TD></TR>
<TR>
<TD ALIGN=CENTER>25-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/automake-1.4.pkg>
automake-1.4.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU Makefile generator
</TD></TR>
<TR>
<TD ALIGN=CENTER>25-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/kdevelop-1.0beta2.pkg>
kdevelop-1.0beta2.pkg
</A></TD>
<TD ALIGN=LEFT>
An integrated C++/QT/KDE development environment
</TD></TR>
<TR>
<TD ALIGN=CENTER>21-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/radiuscli-0.3.1.pkg>
radiuscli-0.3.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Radius client
</TD></TR>
<TR>
<TD ALIGN=CENTER>19-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/mailman-1.0.pkg>
mailman-1.0.pkg
</A></TD>
<TD ALIGN=LEFT>
Mailman mailing list manager
</TD></TR>
<TR>
<TD ALIGN=CENTER>18-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/stl-3.11.pkg>
stl-3.11.pkg
</A></TD>
<TD ALIGN=LEFT>
Standard Template Library
</TD></TR>
<TR>
<TD ALIGN=CENTER>18-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/python-1.5.2.pkg>
python-1.5.2.pkg
</A></TD>
<TD ALIGN=LEFT>
Interpreted object-oriented programming language
</TD></TR>
<TR>
<TD ALIGN=CENTER>18-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/gtkglarea-1.2.1.pkg>
gtkglarea-1.2.1.pkg
</A></TD>
<TD ALIGN=LEFT>
An OpenGL widget for GTK+
</TD></TR>
<TR>
<TD ALIGN=CENTER>18-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/gtkGL-0.8.9.pkg>
gtkGL-0.8.9.pkg
</A></TD>
<TD ALIGN=LEFT>
OpenGL in GTK+
</TD></TR>
<TR>
<TD ALIGN=CENTER>18-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xtracerou-0.8.14.pkg>
xtracerou-0.8.14.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 traceroute front-end
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xwpe-1.5.20a.pkg>
xwpe-1.5.20a.pkg
</A></TD>
<TD ALIGN=LEFT>
Programming environment and editor
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xscreensa-3.15.pkg>
xscreensa-3.15.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 Screen Saver
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xsane-0.30.pkg>
xsane-0.30.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 Scanner Access front-end
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xpdf-0.90.pkg>
xpdf-0.90.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 PDF document viewer
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xephem-3.2.3.pkg>
xephem-3.2.3.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 Astronomical Ephemeris
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xcoral-3.1.pkg>
xcoral-3.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Multi-window mouse-based graphical text editor
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/xbuffy-3.3bl2.pkg>
xbuffy-3.3bl2.pkg
</A></TD>
<TD ALIGN=LEFT>
Keep track of multiple mailboxes
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/webmin-0.73.pkg>
webmin-0.73.pkg
</A></TD>
<TD ALIGN=LEFT>
Web based system administration interface
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/tkinfo-2.5.pkg>
tkinfo-2.5.pkg
</A></TD>
<TD ALIGN=LEFT>
Program to view GNU info files
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/tk820-8.2.0.pkg>
tk820-8.2.0.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 graphical Tcl widget set
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/tik-0.51.pkg>
tik-0.51.pkg
</A></TD>
<TD ALIGN=LEFT>
AOL Instant Messenger client
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/tclX811-8.1.1.pkg>
tclX811-8.1.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Extended Tcl
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/tcl820-8.2.0.pkg>
tcl820-8.2.0.pkg
</A></TD>
<TD ALIGN=LEFT>
Tcl - Tool Command Language
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/tar-1.12.pkg>
tar-1.12.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU Tar
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/squid-2.2.STABLE4.pkg>
squid-2.2.STABLE4.pkg
</A></TD>
<TD ALIGN=LEFT>
Squid Cacheing Proxy Server
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/sox-12.16.pkg>
sox-12.16.pkg
</A></TD>
<TD ALIGN=LEFT>
Sound Exchange
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/skunkperl-5.005_03.pkg>
skunkperl-5.005_03.pkg
</A></TD>
<TD ALIGN=LEFT>
Perl 5.005_03
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/shutils-2.0.pkg>
shutils-2.0.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU Shell Utilities
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/sharutil-4.2.pkg>
sharutil-4.2.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU Shell Archive Utilities
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/sane-1.0.1.pkg>
sane-1.0.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Scanner Access
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/samba-2.0.5a.pkg>
samba-2.0.5a.pkg
</A></TD>
<TD ALIGN=LEFT>
A Windows SMB/CIFS FIle Server for UNIX
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/roxen-1.3.111.pkg>
roxen-1.3.111.pkg
</A></TD>
<TD ALIGN=LEFT>
Roxen Challenger web server with RXML support
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/qtfree-1.44.pkg>
qtfree-1.44.pkg
</A></TD>
<TD ALIGN=LEFT>
QT GUI widget set
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/qterm-6.0.3.pkg>
qterm-6.0.3.pkg
</A></TD>
<TD ALIGN=LEFT>
Query Terminal
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/psutils-1.17.pkg>
psutils-1.17.pkg
</A></TD>
<TD ALIGN=LEFT>
PostScript Utilities
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/proftpd-1.2.0pre8.pkg>
proftpd-1.2.0pre8.pkg
</A></TD>
<TD ALIGN=LEFT>
FTP daemon
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/pente-2.2.2.pkg>
pente-2.2.2.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 Pente game
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/ntop-1.1.pkg>
ntop-1.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Display network useage
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/nslint-2.0.1a1.pkg>
nslint-2.0.1a1.pkg
</A></TD>
<TD ALIGN=LEFT>
Perform consistency checks on DNS files
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/mrtg-2.8.8.pkg>
mrtg-2.8.8.pkg
</A></TD>
<TD ALIGN=LEFT>
Multi Router Traffic Grapher
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/mpg123-0.59o.pkg>
mpg123-0.59o.pkg
</A></TD>
<TD ALIGN=LEFT>
MPEG audio player
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/mgp-1.06a.pkg>
mgp-1.06a.pkg
</A></TD>
<TD ALIGN=LEFT>
MagicPoint X11 presentation tool
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/lxrundev-0.9.4pre5.pkg>
lxrundev-0.9.4pre5.pkg
</A></TD>
<TD ALIGN=LEFT>
Linux application compatibility (developer's version)
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/lwgate-1.16.pkg>
lwgate-1.16.pkg
</A></TD>
<TD ALIGN=LEFT>
Mailing list WWW gateway
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/jfs-0.05.pkg>
jfs-0.05.pkg
</A></TD>
<TD ALIGN=LEFT>
Network filesystem protocol for java applets
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/itcl301-3.0.1.pkg>
itcl301-3.0.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Oject oriented extensions to Tcl
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/infodock-4.0.8.pkg>
infodock-4.0.8.pkg
</A></TD>
<TD ALIGN=LEFT>
Integrated software development toolset
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/ical-2.2.pkg>
ical-2.2.pkg
</A></TD>
<TD ALIGN=LEFT>
X11 calendar program
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/httpanaly-2.01.pkg>
httpanaly-2.01.pkg
</A></TD>
<TD ALIGN=LEFT>
Analyze web server statistics
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/htdig-3.1.0b4.pkg>
htdig-3.1.0b4.pkg
</A></TD>
<TD ALIGN=LEFT>
World Wide Web indexing and search system
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/gimp-1.0.4.pkg>
gimp-1.0.4.pkg
</A></TD>
<TD ALIGN=LEFT>
The GNU Image Manipulation Program
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/giftrans-1.12.2.pkg>
giftrans-1.12.2.pkg
</A></TD>
<TD ALIGN=LEFT>
Transform GIF87 to GIF89 with transparency
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/gcc-2.95.2.pkg>
gcc-2.95.2.pkg
</A></TD>
<TD ALIGN=LEFT>
The GNU Compiler Collection
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/freefonts-2.0.pkg>
freefonts-2.0.pkg
</A></TD>
<TD ALIGN=LEFT>
Free X11 Fonts
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/expect531-5.31.pkg>
expect531-5.31.pkg
</A></TD>
<TD ALIGN=LEFT>
Programmed dialogue with interactive programs
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/efax-0.9.pkg>
efax-0.9.pkg
</A></TD>
<TD ALIGN=LEFT>
Send and receive faxes
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/dhcp-2.0.pkg>
dhcp-2.0.pkg
</A></TD>
<TD ALIGN=LEFT>
Dynamic Host Configuration Protocol server
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/cvs-1.10.7.pkg>
cvs-1.10.7.pkg
</A></TD>
<TD ALIGN=LEFT>
Concurrent Versions System
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/cgiwrap-3.6.2.pkg>
cgiwrap-3.6.2.pkg
</A></TD>
<TD ALIGN=LEFT>
A gateway that allows more secure user access to CGI programs
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/cal-3.5c.pkg>
cal-3.5c.pkg
</A></TD>
<TD ALIGN=LEFT>
Updated UNIX cal program
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/bzip2-0.9.5d.pkg>
bzip2-0.9.5d.pkg
</A></TD>
<TD ALIGN=LEFT>
Block-sorting file compression
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/blt24g-2.4g.pkg>
blt24g-2.4g.pkg
</A></TD>
<TD ALIGN=LEFT>
A library of extensions to the TK library
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/binutils-2.9.1.pkg>
binutils-2.9.1.pkg
</A></TD>
<TD ALIGN=LEFT>
GNU binary utilities
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/bind-8.2.1.pkg>
bind-8.2.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Domain name system server and tools
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/apache-1.3.6.pkg>
apache-1.3.6.pkg
</A></TD>
<TD ALIGN=LEFT>
HTTP daemon
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/addressbo-0.6.2.pkg>
addressbo-0.6.2.pkg
</A></TD>
<TD ALIGN=LEFT>
Address Book
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/Tix-4.1.0.pkg>
Tix-4.1.0.pkg
</A></TD>
<TD ALIGN=LEFT>
An extension to the TK toolkit
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/Ted-2.6.pkg>
Ted-2.6.pkg
</A></TD>
<TD ALIGN=LEFT>
An easy Rich Text processor for the X Window system
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/Streams-1.0.pkg>
Streams-1.0.pkg
</A></TD>
<TD ALIGN=LEFT>
Sample Streams driver source
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/SoundStud-1.0.1.pkg>
SoundStud-1.0.1.pkg
</A></TD>
<TD ALIGN=LEFT>
Sound Studio
</TD></TR>
<TR>
<TD ALIGN=CENTER>14-Oct-99</TD>
<TD ALIGN=LEFT>
<A HREF=http://www.sco.com/skunkware/uw7/Packages/MHonArc-2.4.3.pkg>
MHonArc-2.4.3.pkg</A></TD>
<TD ALIGN=LEFT>
Mail to HTML converter
</TD></TR>
</TABLE>
<P>
@@@SKUNKFOOTER
