
MACROS:
SKUNK_VERS = 5.0

xv_DIR= ../X11/xv-3.10
xv_VER= 3.10
groff_DIR = ../Tools/groff-1.09
groff_VER = 1.09
perl_DIR = ../Tools/perl-5.0
perl_VER = 5.0
xmcd_DIR = ../X11/xmcd-1.4
xmcd_VER = 1.4
acm_DIR = ../Games/acm-4.7
acm_VER = 4.7
xpilot_DIR = ../Games/xpilot-3.3.1
xpilot_VER = 3.3.1
bash_DIR = ../Tools/bash-1.13CWRU
bash_VER = 1.13
tcsh_DIR = ../Tools/tcsh-6.05
tcsh_VER = 6.05

DEFAULT_EXEC_PERMS = 0755
DEFAULT_FILE_PERMS = 0644
DEFAULT_FILE_OWNER = bin
DEFAULT_FILE_GROUP = bin
DEFAULT_FILE_FLAGS =

DEFAULT_DIR_PERMS = 0755
DEFAULT_DIR_OWNER = bin
DEFAULT_DIR_GROUP = bin
DEFAULT_DIR_FLAGS =

DEFAULT_FIFO_PERMS = 0644
DEFAULT_FIFO_OWNER = bin
DEFAULT_FIFO_GROUP = bin
DEFAULT_FIFO_FLAGS =


CD_MEDIA:
# default media definitions, change if desired
	distVersion     = 5.0.0
       distCode        = SkunkWorks
#       paperLabel      = "SCO OpenServer Tape Volume %s"

CONFIG:
	archiveMedia = CD
	ssoDir = ssoCD
	compress = FALSE


