
MACROS:
SKUNK_VERS = 97.1c

IMGCK_DESC =	"ImageMagick - interactive manipulation of images"
Pix_DESC =	"Pixmaps"
Gimp_DESC =	"GNU Image Manipulation Program"
Xlock_DESC =	"Xlock Screen Locker"
Xsaver_DESC =	"Xscreensaver screen locker"
Xsnow_DESC =	"Snow on your desktop"
XFM_DESC =	"X11 File Manager"
Xinvest_DESC =	"Personal Finance Package"
Xquote_DESC =	"Stock Quotes"
Xsw_DESC =	"X System Watch Package"
Xtar_DESC =	"X tar Package"
Midi_DESC =	"Timidity - Motif Midi Player"
Maplay_DESC =	"MPEG Audio Player"
XMmix_DESC =	"Audio mixer utility for X11/Motif"
Sox_DESC =	"Sound eXchange"
Xlincity_DESC ="Simulated City Development"
Xgal_DESC =	"XGalaga Package"
Xbj_DESC =	"X Blackjack Game"
Xboing_DESC =	"X Boing Game"
GS_DESC =	"Aladdin Ghostscript interpreter/previewer"
rxvt_DESC =	"Terminal emulator with color support"
xfishtank_DESC ="X11 Fishtank"
Astrolog_DESC ="Astrology Charts"
Xtartan_DESC =	"Display Tartans"
Xdaliclock_DESC ="Dali Clock"
ASTP_DESC ="AfterStep Window Manager"
Xkey_DESC ="X Keycaps"
Xanim_DESC =	"X11 Animation Viewer"
Ghostview_DESC =	"Postscript Viewer"
Xpdf_DESC =	"X11 PDF Viewer"
gifutils_DESC ="GIF Utilities"
Unzip_DESC =	"Unzip Package"
Zip_DESC =	"Zip Package"
Apache_DESC =	"Apache web server"
Mosaic_DESC =	"NCSA Mosaic web browser"
Lynx_DESC =	"Character mode web browser"
Ncftp_DESC =	"Ncftp"
sgmltools_DESC ="SGML Tools"
wuftpd_DESC =	"Washington University Ftp Daemon"
Gcc_DESC =	"GNU Development System"
GZIP_DESC =	"GNU Compression Tools"
Git_DESC =	"GNU Interactive Tools"
Autoconf_DESC ="GNU Auto Configuration"
Bash_DESC =	"GNU Bourne-Again Shell"
Bison_DESC =	"GNU Parser Generator"
Cpio_DESC =	"GNU Cpio"
Cvs_DESC =	"Concurrent Versions System"
Diffutils_DESC ="GNU Diff Utilities"
Fileutils_DESC ="GNU File Utilities"
Findutils_DESC ="GNU Find Utilities"
Flex_DESC =	"Fast lexical analyzer generator"
Gawk_DESC =	"GNU pattern scanning and processing language"
Groff_DESC =	"GNU document formatting system"
Indent_DESC =	"Indent and Format C Program Source"
Less_DESC =	"Less Paginator"
M4_DESC =	"GNU Macro Processor"
Make_DESC =	"GNU Make"
Mtools_DESC =	"Utilities to access DOS disks in Unix"
Patch_DESC =	"GNU Patch Utility"
Python_DESC =	"GNU Python Utility"
Rcs_DESC =	"Revision Control System"
Readline_DESC ="GNU Readline"
Shutils_DESC =	"GNU Shell Utilities"
Tar_DESC =	"GNU Tar"
Texinfo_DESC =	"GNU Texinfo"
Zsh_DESC =	"The Z Shell"
MakeCD_DESC =	"CD-ROM Mastering Toolkit"
Mkpkg_DESC =	"SCO Custom Packaging Frontend"
TclX_DESC =	"Tcl Extensions"
Expect_DESC =	"Expect"
Tcl_DESC =	"Tcl"
TK_DESC =	"Tk"
Pthrds_DESC =	"Posix Threads"
Glib_DESC =	"Graphics Libraries"
Gutil_DESC =	"Graphics Utilities"
Zircon_DESC =	"Zircon - tcl/tk IRC Client"
freeWAIS_DESC ="freeWAIS Wide Area Information Service"
Perl5_DESC =	"Perl - Practical Extraction and Report Language"
XHTML_DESC =	"A Simple HTML Editor"
Xarchie_DESC =	"Interface to the Archie Internet Information System"
XDir_DESC =	"LLNL Advanced Graphical FTP Client"
Xfig_DESC =	"Xfig Figure Generation"
Xmcd_DESC =	"CD Audio Player"
Xmorph_DESC =	"Xmorph digital image warping"
XV_DESC =	"XV Interactive Image Viewer"
Mpeg_play_DESC ="Mpeg_play"
Mpeg_bits_DESC ="Mpeg_bits"
Mpeg_blocks_DESC ="Mpeg_blocks"
Mpeg_encode_DESC ="Mpeg_encode"
Mpeg_stat_DESC ="Mpeg_stat"

Pix_DIR = ./dist/x11/graphics/SkunkPix-1.0
Gimp_DIR = ./dist/x11/graphics/gimp-0.99.10
IMGCK_DIR = ./dist/x11/graphics/ImageMagick-3.8.8
Xlock_DIR = ./dist/x11/savers/xlockmore-4.03
Xsaver_DIR = ./dist/x11/savers/xscreensaver-2.06
XFM_DIR = ./dist/x11/apps/xfilemanager-0.4.1
Xinvest_DIR = ./dist/x11/apps/xinvest-2.4
Xquote_DIR = ./dist/x11/apps/xquote-1.0.2
Xlincity_DIR = ./dist/x11/games/xlincity-1.06
Xbj_DIR = ./dist/x11/games/xblackjack-2.2
Xboing_DIR = ./dist/x11/games/xboing-2.4
Xgal_DIR = ./dist/x11/games/xgalaga-1.6c
XMmix_DIR = ./dist/audio/xmmix-1.2
Sox_DIR = ./dist/audio/sox-11.12
Xsw_DIR = ./dist/x11/apps/xsw-5.0.4
Xtar_DIR = ./dist/x11/apps/xtar-1.4
Maplay_DIR = ./dist/audio/maplay-1.2
Midi_DIR = ./dist/audio/timidity-0.2i
Xsnow_DIR = ./dist/x11/misc/xsnow-1.40
rxvt_DIR = ./dist/x11/misc/rxvt-2.18
xfishtank_DIR = ./dist/x11/misc/xfishtank
Astrolog_DIR = ./dist/x11/misc/astrolog-5.30
Xtartan_DIR = ./dist/x11/misc/xtartan-2.3
Xdaliclock_DIR = ./dist/x11/misc/xdaliclock-2.10
ASTP_DIR = ./dist/x11/winman/AfterStep-1.0
Xkey_DIR = ./dist/x11/misc/xkeycaps-2.38
Xanim_DIR = ./dist/x11/viewers/xanim27064
Ghostview_DIR = ./dist/x11/viewers/ghostview-1.5
Xpdf_DIR = ./dist/x11/viewers/xpdf-0.7
GS_DIR = ./dist/textproc/gs5.02
gifutils_DIR = ./dist/fileutil/gifutils-1.0
Unzip_DIR = ./dist/shellutil/unzip-5.3
Zip_DIR = ./dist/shellutil/zip-2.1
Apache_DIR = ./dist/net/apache-1.2.1
Mosaic_DIR = ./dist/net/Mosaic-2.7b4
Lynx_DIR = ./dist/net/lynx2-7-1
Ncftp_DIR = ./dist/net/ncftp-2.4.2
sgmltools_DIR = ./dist/textproc/sgml-tools-0.99.14
wuftpd_DIR = ./dist/net/wu-ftpd-2.4
Gcc_DIR = ./dist/devtools/gcc-2.7.2.1
GZIP_DIR = ./dist/shellutil/gzip-1.2.4
Git_DIR = ./dist/fileutil/git-4.3.15
Autoconf_DIR = ./dist/devtools/autoconf-2.12
Bash_DIR = ./dist/shells/bash-2.01
Bison_DIR = ./dist/devtools/bison-1.25
Cpio_DIR = ./dist/fileutil/cpio-2.4.2
Cvs_DIR = ./dist/devtools/cvs-1.9
Diffutils_DIR = ./dist/fileutil/diffutils-2.7
Fileutils_DIR = ./dist/fileutil/fileutils-3.15
Findutils_DIR = ./dist/fileutil/findutils-4.1
Flex_DIR = ./dist/devtools/flex-2.5.4
Gawk_DIR = ./dist/shellutil/gawk-3.0.3
Groff_DIR = ./dist/textproc/groff-1.10
Indent_DIR = ./dist/devtools/indent-1.9.1
Less_DIR = ./dist/shellutil/less-332
M4_DIR = ./dist/shellutil/m4-1.4
Make_DIR = ./dist/devtools/make-3.75
Mtools_DIR = ./dist/fileutil/mtools-3.6
Patch_DIR = ./dist/devtools/patch-2.4
Python_DIR = ./dist/interp/python-1.4
Rcs_DIR = ./dist/devtools/rcs-5.7
Readline_DIR = ./dist/libraries/readline-2.1
Shutils_DIR = ./dist/shellutil/sh-utils-1.15
Tar_DIR = ./dist/fileutil/tar-1.12
Texinfo_DIR = ./dist/textproc/texinfo-3.11
Zsh_DIR = ./dist/shells/zsh-3.1.2
Mkpkg_DIR = ./dist/devtools/mkpkg-1.0
MakeCD_DIR = ./dist/fileutil/makecd-1.0
TclX_DIR = ./dist/interp/tclX7.6.0
Expect_DIR = ./dist/interp/expect5.22
Tcl_DIR = ./dist/interp/tcl7.6p2
TK_DIR = ./dist/interp/tk4.2p2
Pthrds_DIR = ./dist/libraries/pthreads-1.60b5
Glib_DIR = ./dist/libraries/Glib-1.0
Gutil_DIR = ./dist/libraries/Gutil-1.0
#Xpm_DIR = ./dist/libraries/xpm-3.4j
#Mesa_DIR = ./dist/libraries/Mesa-2.3
#GD_DIR = ./dist/libraries/gd1.2
#
# Packages migrated up from SKUNK96
Zircon_DIR = ./dist/net/zircon-1.17p1
freeWAIS_DIR = ./dist/net/freeWAIS-sf-2.1
Perl5_DIR = ./dist/interp/perl-5.003
XHTML_DIR = ./dist/editors/ashe-1.3
Xarchie_DIR = ./dist/net/xarchie-2.0.10
XDir_DIR = ./dist/net/xdir-2.0
Xfig_DIR = ./dist/x11/graphics/xfig-3.2
Xmcd_DIR = ./dist/audio/xmcd-2.1
Xmorph_DIR = ./dist/x11/apps/xmorph-17jan97
XV_DIR = ./dist/x11/viewers/xv-3.10a
Mpeg_play_DIR = ./dist/video/mpeg_play-2.3
Mpeg_bits_DIR = ./dist/video/mpeg_bits-1.0b
Mpeg_blocks_DIR = ./dist/video/mpeg_blocks-1.0b
Mpeg_encode_DIR = ./dist/video/mpeg_encode-1.5b
Mpeg_stat_DIR = ./dist/video/mpeg_stat-2.2b
#Netpbm_DIR = ./dist/misc/netpbm

Pix_VER = 1.0
Gimp_VER = 0.99.10
IMGCK_VER = 3.8.8
Xlock_VER = 4.03
Xsaver_VER = 2.06
XFM_VER = 0.4.1
Xinvest_VER = 2.4
Xquote_VER = 1.0.2
Xlincity_VER = 1.06
Xbj_VER = 2.2
Xboing_VER = 2.4
Xgal_VER = 1.6c
XMmix_VER = 1.2
Sox_VER = 11.12
Xsw_VER = 5.0.4
Xtar_VER = 1.4
Maplay_VER = 1.2
Midi_VER = 0.2i
Xsnow_VER = 1.40
GS_VER = 5.02
rxvt_VER = 2.18
xfishtank_VER = 1.0
Astrolog_VER = 5.30
Xtartan_VER = 2.3
Xdaliclock_VER = 2.10
ASTP_VER = 1.0
Xkey_VER = 2.38
Xanim_VER = 2.70.6.4
Ghostview_VER = 1.5
Xpdf_VER = 0.7
gifutils_VER = 1.0
Unzip_VER = 5.3
Zip_VER = 2.1
Apache_VER = 1.2.1
Mosaic_VER = 2.7b4
Lynx_VER = 2.7.1
Ncftp_VER = 2.4.2
sgmltools_VER = 0.99.14
wuftpd_VER = 2.4
Gcc_VER = 2.7.2.1
GZIP_VER = 1.2.4
Git_VER = 4.3.15
Autoconf_VER = 2.12
Bash_VER = 2.01
Bison_VER = 1.25
Cpio_VER = 2.4.2
Cvs_VER = 1.9
Diffutils_VER = 2.7
Fileutils_VER = 3.15
Findutils_VER = 4.1
Flex_VER = 2.5.4
Gawk_VER = 3.0.3
Groff_VER = 1.10
Indent_VER = 1.9.1
Less_VER = 3.3.2
M4_VER = 1.4
Make_VER = 3.75
Mtools_VER = 3.6
Patch_VER = 2.4
Python_VER = 1.4
Rcs_VER = 5.7
Readline_VER = 2.1
Shutils_VER = 1.15
Tar_VER = 1.12
Texinfo_VER = 3.11
Zsh_VER = 3.1.2
Mkpkg_VER = 1.0
MakeCD_VER = 1.0
TclX_VER = 7.6.0
Expect_VER = 5.22
Tcl_VER = 7.6p2
TK_VER = 4.2p2
Pthrds_VER = 1.60b5
Glib_VER = 1.0
Gutil_VER = 1.0
#Xpm_VER = 3.4j
#Mesa_VER = 2.3
#GD_VER = 1.2
#
# Packages migrated up from SKUNK96
Zircon_VER = 1.17p1
freeWAIS_VER = 2.1
Perl5_VER = 5.003
XHTML_VER = 1.3
Xarchie_VER = 2.0.10
XDir_VER = 2.0
Xfig_VER = 3.2
Xmcd_VER = 2.1
Xmorph_VER = 17jan97
XV_VER = 3.10a
Mpeg_play_VER = 2.3
Mpeg_bits_VER = 1.0b
Mpeg_blocks_VER = 1.0b
Mpeg_encode_VER = 1.5b
Mpeg_stat_VER = 2.2b
#Netpbm_VER = 1.Mar.1994


DEFAULT_EXEC_PERMS = 0755
DEFAULT_FILE_PERMS = 0644
DEFAULT_FILE_MODE = 0644
DEFAULT_FILE_OWNER = bin
DEFAULT_FILE_GROUP = bin
DEFAULT_FILE_FLAGS =

DEFAULT_DIR_PERMS = 0755
DEFAULT_DIR_MODE = 0755
DEFAULT_DIR_OWNER = bin
DEFAULT_DIR_GROUP = bin
DEFAULT_DIR_FLAGS =

DEFAULT_FIFO_PERMS = 0644
DEFAULT_FIFO_MODE = 0644
DEFAULT_FIFO_OWNER = bin
DEFAULT_FIFO_GROUP = bin
DEFAULT_FIFO_FLAGS =

CD_MEDIA:
# default media definitions, change if desired
    distVersion     = 97.1c
    distCode        = Skunkware
    paperLabel      = "SCO Skunkware 97 Tape Volume %s"


CONFIG:
	archiveMedia = TAPE
	ssoDir = sso
	compress = TRUE


#CONFIG:
#	archiveMedia = CD
#	ssoDir = ssoCD
#	compress = TRUE
