body { background-color: white; }

p, td, ol, ul, dl { color: #000066;
                    }

.intro { font-weight: bold;
         text-align: left;
         }

.note { 
        text-align: right;
        color: #336699; }
.copyright { text-align: right;
             }

.navarea { font-weight: bold;
           text-align: left;
           }

.whatsnew { text-align: left;
            }

.lid     { color: #003399; }
		   
.quote { text-align: left; }
		   
.quotename { font-weight: bold;
           text-align: left;
		   }

code { font-weight: bold; }

h1 { color: #003399;
    margin-left: 0em;
    padding-left: 0em;
    border-bottom: solid 1 #FFCC00;
    border-left: solid 1 #FFCC00; }

h2.subtitle  { 
               font-style: italic;
               color: #003399;
               margin-left: 0em;
               border-bottom: solid 0;
               border-left: solid 0;}

h2 { color: #003399; }


h3 { color: #003399; }

h4 { color: #003399; }

h4.special {color: #003399;
            margin-left: 0em;
            padding-left: .2em;
            border-bottom: solid 1 #FFCC00;
            border-left: solid 1 #FFCC00; }

h5 { color: #003399; }

h6, th p, th { color: #003399;
    text-align: center;}

A:link { color: #0066CC; }
A:visited { color: #660033; }
A:active { color: #FFCC00; }

.navarea A:link,
.navarea A:visited,
.navarea A:active { color: #000066;
                     text-decoration: none; }

table.nav { border: 1px solid #003399;
            background-color: #fc3; }

pre { border: 1px solid #ffcc00; white-space: pre; /* otherwise NN4 starts wrapping */ }

pre strong {color: #0099FF; }

table.quote { border: 1px solid #003399;
            background-color: #fc3; }

table.border { border: 1px solid #003399 }

td.formsectionhead {
  background-color: #fc3;
}
td.formsectionhead p { 
  text-align: left;
  font-weight: bold;
  color: #003399;
}
table.form th,
table.form td {
  vertical-align: top;
}
table.formsection td p { 
  text-align: left; }
table.formsection th.formsubsection
{
  background-color: #ffc;
  vertical-align: middle;
}  
table.formsection th.formsubsection p { 
  font-weight: normal;
  text-align: center;
  color: #003399; }

