@@@SKUNKHEADER(Database Management)

<P>Welcome to the Skunkware database management section. This section
contains useful clients and servers for managing databases.
</P>

@@@START_PACKAGELIST
@@@PACKLIST(addressbo;better graphical rolodex;0.6.2;No;Yes)
@@@PACKLIST(msql;Mini SQL database system;2.0.4.1;Yes;Yes)
@@@PACKLIST(mysql;SQL database server;3.22.14b;Yes;Yes)
@@@END_PACKAGELIST

#include "addressbo.src"
#include "msql.src"
#include "mysql.src"

@@@SKUNKFOOTER

