@@@SKUNKHEADER(Emulators)

<P>
Welcome to the SCO Skunkware emulators. 
</P>

@@@START_PACKAGELIST
@@@PACKLIST(lxrun;Linux Emulator;0.9.0;Yes;Yes)
@@@PACKLIST(ecu;ECU - Extended Call Utility;4.30;Yes;Yes)
@@@PACKLIST(Eterm;Enlightenment terminal emulator;0.8.8;Yes;Yes)
@@@PACKLIST(rxvt;VT102 terminal emulator;2.20;Yes;Yes)
@@@END_PACKAGELIST

#include "lxrun.src"
#include "ecu.src"
#include "Eterm.src"
#include "rxvt.src"

@@@SKUNKFOOTER

