@@@SKUNKHEADER(File Managers / File Handling Utilities)

<P>Welcome to the Skunkware File Managers section. These tools allow
users to navigate filesystems and manipulate files more easily than with
the standard UNIX commands. Mostly, these tools make UNIX a little more
accessible for the novice user. Most expert users will probably be
comfortable enough with the UNIX commands to not require these tools, but
if you are running a system which has novice users, these tools will help
them considerably.</P>

<P>Some of the other tools found in this section provide replacement
versions of some standard UNIX commands, but contain extra features. For
example, both the GNU tar and CPIO programs are found here, and they both
offer considerable advantages over the standard versions. As an example,
GNU tar can decompress and extract a compressed tar archive with a single
command, so you do not need to decompress the file first, or set up command
line pipes. The GNU diff replacement has a very useful addition called
<TT>sdiff</TT>, which provides for side-by-side file diffing.</P>

@@@START_PACKAGELIST
@@@PACKLIST(cdrecord;Record audio & data CD's;1.8a19;Yes;Yes)
@@@PACKLIST(cpio;GNU cpio;2.4.2;Yes;Yes)
@@@PACKLIST(diff;GNU diff;2.7;yes;Yes)
@@@PACKLIST(fileutil;GNU file utilities;3.15;Yes;Yes)
@@@PACKLIST(find;GNU find utilities;4.1;Yes;Yes)
@@@PACKLIST(git;GNU Interactive Toolkit;4.3.15;Yes;Yes)
@@@PACKLIST(glimpse;Glimpse Index System;4.1;Yes;Yes)
@@@PACKLIST(mc;The GNU Midnight Commander;4.0;Yes;Yes)
@@@PACKLIST(md5;Message digest fingerprint;1.0;Yes;Yes)
@@@PACKLIST(mkisofs;Make an ISO 9660 filesystem;1.11;Yes;Yes)
@@@PACKLIST(mtools;DOS filesystem manipulation tools;3.6;Yes;Yes)
@@@PACKLIST(samba;SMB/CIFS fileserver for UNIX;2.0.5a;No;Yes)
@@@PACKLIST(tar;GNU tar;1.12;Yes;Yes)
@@@END_PACKAGELIST

#include "cdrecord.src"
#include "cpio.src"
#include "diff.src"
#include "fileutil.src"
#include "find.src"
#include "git.src"
#include "glimpse.src"
#include "mc.src"
#include "md5.src"
#include "mkisofs.src"
#include "mtools.src"
#include "samba.src"
#include "tar.src"

@@@SKUNKFOOTER
