@@@SKUNKHEADER(Alphabetic Package Listing)

<P>This sections lists most of the Skunkware packages in alphabetical order.
A more recent listing of the packages available for UnixWare 7 and SCO
OpenServer can be found
in the <A HREF="/skunkware/uw7/COMPONENTS.html">Skunkware 7 Component List</A>
and the <A HREF="/skunkware/osr5/COMPONENTS.html">
Skunkware 98 Component List</A>.
</P>
<P>
The "package name" can be used to install that particular component as follows:
<BR>
On UnixWare, issue the command
<PRE>
    # pkgadd -d /dev/cdrom/cdrom1 package_name
</PRE>
<P>
On OpenServer, issue the command
<PRE>
    # # custom -p SKUNK98:default:package_name -i -m /dev/rcd0
</PRE>
<P>
<HR>
<P>

#include "alphabetical.src"

@@@SKUNKFOOTER
