@@@SKUNKHEADER(System Administration)

#ifdef SKUNK_CD
<P>
Additional system administration tools for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://www.sco.com/skunkware/sysadmin/">
http://www.sco.com/skunkware/sysadmin/</A>
</P>
#endif

@@@START_PACKAGELIST

@@@PACKLIST(SarCheck;Performance analysis and tuning tool;3.61lite;Yes;No)
@@@PACKLIST(hog;Memory, cpu and i/o hog analyzer;1.0;Yes;No)
@@@PACKLIST(helpapi;SCO Help API for UnixWare 7;1.1;No;Yes)
@@@PACKLIST(ipalias;IP Address Alias Manager;1.0;No;Yes)
@@@PACKLIST(johnd;System Administrations Scripts;1.1;Yes;No)
@@@PACKLIST(pkgtools;Pkgadd/pkgmk and family;skw98;Yes;No)
@@@PACKLIST(procdump;print information about a live process or core image;1.0;No;Yes)
@@@PACKLIST(rpm;Red Hat Package Manager;2.4.5;Yes;Yes)
@@@PACKLIST(top;Top - display top cpu processes;3.5beta5;Yes;No)

@@@END_PACKAGELIST

#include "SarCheck.src"
#include "hog.src"
#include "helpapi.src"
#include "ipalias.src"
#include "johnd.src"
#include "pkgtools.src"
#include "procdump.src"
#include "rpm.src"
#include "top.src"

@@@SKUNKFOOTER
