@@@SKUNKHEADER(Games)

<P>Welcome to the Skunkware 7 X11 Games section. The Skunkware
team has collected a few graphical games which some users may wish
to run as a way to relax while at work or have fun at home.
</P>
#ifdef SKUNK_CD
<P>
Additional X11 games for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://www.sco.com/skunkware/x11/games/">
http://www.sco.com/skunkware/x11/games/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(xboing;X Boing;2.4;Yes;Yes)
@@@PACKLIST(xdoom;X Doom;1.10;Yes;Yes)
@@@PACKLIST(xgalaga;X Galaga;2.0;Yes;Yes)
@@@PACKLIST(xmame;X MAME;0.29.1;Yes;Yes)
@@@PACKLIST(xpool;X Pool;1.3;Yes;Yes)
@@@END_PACKAGELIST

#include "xboing.src"
#include "xdoom.src"
#include "xmame.src"
#include "xpool.src"
#include "xgalaga.src"

@@@SKUNKFOOTER
