@@@SKUNKHEADER(Audio / Video Tools)

<P>Welcome to the Skunkware '98 Audio / Video Tools section. Here you will
find sound card drivers, MPEG players and encoders, midi players, audio
CD players and mixers, and other 
tools used for developing and enjoying multimedia presentations.
</P>

@@@START_PACKAGELIST

@@@PACKLIST(mpg123;MPEG audio player with HTTP support;0.59k;Yes;Yes)
@@@PACKLIST(maplay;MPEG audio player;1.2;No;Yes)
@@@PACKLIST(4front;SoundBlaster drivers;3.7;Yes;Yes)
@@@PACKLIST(sox;Sound eXchange;11.12;Yes;No)
@@@PACKLIST(timidity;Midi player;0.2i;Yes;No)
@@@PACKLIST(xmcd;Audio CD player;2.1;Yes;No)
@@@PACKLIST(xmmix;Motif audio mixer;1.2;Yes;No)
@@@PACKLIST(mpeg_bits;Bit rate monitor/modifier;1.0b;Yes;No)
@@@PACKLIST(mpeg_blocks;Analyze macroblocks;1.0b;Yes;No)
@@@PACKLIST(mpeg_encode;MPEG encoder;1.5b;Yes;No)
@@@PACKLIST(mpeg_play;MPEG video player;2.3;Yes;No)
@@@PACKLIST(mpeg_stat;Analyze bitstreams;2.2b;Yes;No)

@@@END_PACKAGELIST

#include "mpg123.src"
#include "maplay.src"
#include "4front.src"
#include "sox.src"
#include "timidity.src"
#include "xmcd.src"
#include "xmmix.src"
#include "mpeg_bits.src"
#include "mpeg_blocks.src"
#include "mpeg_encode.src"
#include "mpeg_play.src"
#include "mpeg_stat.src"

@@@SKUNKFOOTER
