@@@SKUNKHEADER(Development Tools)

<P>Welcome to the Skunkware '98 Development Tools section. Here you will
find replacement compilers, debuggers, libraries and other tools used for
software development. A lot of these tools are updated regularly, so you
may want to check out the
<A HREF="http://skunkware.dev/skunkware/devtools">on-line</A>
version of this page.</P>

@@@START_PACKAGELIST

@@@PACKLIST(gcc;Integrated GNU Compilation System;98q2;Yes;Yes)
@@@PACKLIST(gdb;GNU Source level Debugger;4.16;Yes;No)
@@@PACKLIST(make;GNU Make;3.76.1;Yes;Yes)
@@@PACKLIST(aalib;Ascii graphics library;1.2;Yes;Yes)
@@@PACKLIST(autoconf;GNU configuration script generator;2.12;Yes;Yes)
@@@PACKLIST(bison;GNU parser generator;1.25;Yes;Yes)
@@@PACKLIST(flex;Fast lexical analyzer generator;2.5.4;Yes;Yes)
@@@PACKLIST(getline;GNU Getline;3.11;Yes;Yes)
@@@PACKLIST(pkgtools;Pkgadd/pkgmk and family;skw98;Yes;No)
@@@PACKLIST(readline;GNU Readline;2.1;Yes;Yes)
@@@PACKLIST(rcs;GNU revision control system;5.7;Yes;Yes)
@@@PACKLIST(cvs;GNU concurrent version system;1.9;Yes;Yes)
@@@PACKLIST(eiffel;SmallEiffel The GNU Eiffel Compiler;0.91;Yes;No)
@@@PACKLIST(indent;GNU indent - a source code beautifier;1.9.1;Yes;Yes)
@@@PACKLIST(mkpkg;SCO Pkgadd Packaging Frontend;1.1;Yes;Yes)
@@@PACKLIST(mkvol;SCO Custom Packaging Frontend;1.1;Yes;Yes)
@@@PACKLIST(patch;GNU patch;2.5;Yes;Yes)
@@@PACKLIST(glib;Graphics Libraries;1.3;Yes;Yes)
@@@PACKLIST(pthreads;Posix Threads;3.5;Yes;No)
@@@PACKLIST(perl;Perl 5 Scripting Language;5.004_04;Yes;Yes)
@@@PACKLIST(tcl;Tool Command Language (TCL);8.0p2;Yes;Yes)
@@@PACKLIST(tclx;Extended TCL;8.0.2;Yes;Yes)
@@@PACKLIST(tk;Tk - an X11 Toolkit for TCL;8.0p2;Yes;Yes)
@@@PACKLIST(tix;Tk 4.2 based Tix widget set;4.1;No;Yes)
@@@PACKLIST(tix8;Tk 8.0 based Tix widget set;8.0;No;Yes)
@@@PACKLIST(expect;Expect - a TCL Extension;5.25;Yes;Yes)
@@@PACKLIST(python;Python - an object orient scripting tool;1.5;Yes;Yes)

@@@END_PACKAGELIST

#include "gcc.src"
#include "gdb.src"
#include "make.src"
#include "aalib.src"
#include "autoconf.src"
#include "bison.src"
#include "flex.src"
#include "getline.src"
#include "pkgtools.src"
#include "readline.src"
#include "rcs.src"
#include "cvs.src"
#include "eiffel.src"
#include "indent.src"
#include "mkpkg.src"
#include "mkvol.src"
#include "patch.src"
#include "glib.src"
#include "pthreads.src"
#include "perl.src"
#include "tcl.src"
#include "tclx.src"
#include "tk.src"
#include "tix.src"
#include "tix8.src"
#include "expect.src"
#include "python.src"

@@@SKUNKFOOTER
