@@@SKUNKHEADER(Emulators)

<P>
Welcome to the SCO Skunkware emulators. This category contains software
which emulates other operating platforms, thus allowing the end-user to
run binary applications intended for that platform. For instance, one of
the packages contained herein allows users of SCO OpenServer or SCO
UnixWare systems to run binary applications intended for use on Linux
systems.
</P>

@@@START_PACKAGELIST
@@@PACKLIST(lxrun;Linux Emulator;0.9.0;Yes;Yes)
@@@PACKLIST(rxvt;VT102 terminal emulator;2.20;Yes;Yes)
@@@END_PACKAGELIST

#include "lxrun.src"
#include "rxvt.src"

@@@SKUNKFOOTER

