@@@SKUNKHEADER(Skunkware 98 Installation Guide)
<P>
SCO Skunkware 98 contains files suitable for installation on 
SCO OpenServer systems with the Software Manager facility (/etc/custom).
In addition, there are compressed archives of pre-compiled utilities
which can be extraced manually. Finally, there are hundreds of source archives 
(almost everything on the CD is accompanied by the source used to build it).
<P>
<B>NOTE:</B> <I>A full installation of SCO Skunkware 98 will consume over
500 Megabytes of disk space and take several hours</I>.
<P>
SCO Skunkware 98 is both an installation media (recognizable by the SCO
OpenServer Software Manager) and a mountable filesystem. In the text 
that follows, the string
<I>mount-point</I> will refer to the full pathname of the CD-ROM mount point
(for example, you may choose to mount the CD-ROM on /usr/skunkware in which
case <I>mount-point</I> would refer to /usr/skunkware).
<P>
<B>Installation on SCO OpenServer</B>
<P>
The software packages for SCO OpenServer are located in 
/<I>mount-point</I>/opt on the CD-ROM. The packages will be exported to 
/usr/local and in total consume about 500 MB of  disk space in
/opt/K/SKUNK98. If your root filesystem has insufficient space, prior to
installation you can create a symbolic link from /opt/K/SKUNK98 to
another filesystem with sufficient disk space. For instance, assuming you
have created an additional filesystem on /u with lots of disk space :
<PRE>
        # mkdir /u/skunk98
        # cd /opt/K
        # ln -s /u/skunk98 SKUNK98 
</PRE>
<P>
To install the entire Skunkware 98 product, execute the command:
<PRE>
    # custom -i -m /dev/rcd0
</PRE>
<P>
To install an individual package, execute the command:
<PRE>
    # custom -p SKUNK98:default:Package -i -m /dev/rcd0
</PRE>
where "Package" is the name of the desired component. See the file
<A HREF="osr5/COMPONENTS.html">
/<I>mount-point</I>/osr5/COMPONENTS</A> for the list of available components.
<P>
Alternatively, after mounting the Skunkware 98 CD (mount -r /dev/cd0 /mnt), 
as root run the command:
<PRE>
    # /<I>mount-point</I>/INSTALL
</PRE>
The Skunkware INSTALL script
will allow you to select from a menu of Skunkware "software sets" including
All Components, Development Tools, Shells, Audio/Video Components, etc.
The INSTALL script acts as a front-end for a non-interactive installation
using the Software Manager (/etc/custom).
<P>
An interactive graphical installation can be performed by running the
Software Manager (/etc/custom) as root and choosing to install from 
the CD-ROM device. In this mode, desired packages can be selected by
clicking on an individual package and/or <CTRL>-clicking on additional
packages.
<P>
If, as root, you are running the X.Desktop, then you can configure your
system to mount the SCO Skunkware 98 CD-ROM by double-clicking the System
Administration folder -> Filesystems -> Filesystem Manager. Alternatively,
at a root shell prompt, type "scoadmin f" to bring up the Filesystem Manager.
Next select Mount -> Add Mount Configuration -> Local and enter /dev/cd0 for 
the device and a mount point. Change the "Can Users Mount" 
to Yes and uncheck the "At System Startup" mount. After completing this 
operation, you should be able to mount and unmount the SCO Skunkware 98 CD-ROM 
by typing "mnt <I>mount-point</I>" and "umnt <I>mount-point</I>" as any user.
<P>

<P>
This cdrom is built as a mountable filesystem, and may be mounted
to view, use, or install.  To mount the cdrom, use the mount(ADM)
command with the mount point of your choice.
<BR>
OpenServer :
<PRE>
    # mount -r /dev/cd0 /<I>mount-point</I>
</PRE>
    or
<BR>
UnixWare :
<PRE>
    # mount -r -f cdfs /dev/cdrom/c1b0t210 /<I>mount-point</I>
</PRE>

Source code is provided in the /src directory.  
In some cases, source code is provided but no
compiled binaries. The source distributions are in gzip-compressed
tar or cpio format. In order to extract these, use the command:

<PRE>
    $ gzcat /<I>mount-point</I>/src/&lt;directory&gt;/&lt;package&gt;.tar.gz | tar xf -
</PRE>

or, in the case of a compressed cpio archive:

<PRE>
    $ gzcat /<I>mount-point</I>/src/&lt;directory&gt;/&lt;package&gt;.cpio.gz | cpio -icdu
</PRE>

Where &lt;directory&gt; refers to the top-level source directory
and &lt;package&gt; is the package name (e.g. gzip-1.2.4).
<P>
If you do not have gzcat installed (part of the gzip package), you can
install it off of the SCO Skunkware 98 CD via the command:

<PRE>
        # custom -p SKUNK98:default:GZIP -i -m /dev/rcd0
</PRE>
<P>
Further platform-specific installation instructions are available in the 
<A HREF="relnotes.html">Skunkware 98 Release Notes</A>:
<P>
After completing the installation of the Skunkware 98 components you desire,
you may wish to add /usr/local/bin to your PATH and /usr/local/man to your
MANPATH. You may also wish to add /usr/local/java to your CLASSPATH. It should
not be necessary to add /usr/local/lib to your LD_LIBRARY_PATH as the
Skunkware 98 shared libraries have been built with the appropriate flags.
<P>
<B>Technical Library Supplements</B>
<P>
You may also find the 
SCO Technical Library Supplements
to be of interest.
These are
drawn from the 
<A HREF="http://www.sco.com/support/">SCO Support Online System</A>,
and are accessible via anonymous ftp on the Internet from 
<A HREF="ftp://ftp.sco.com/TLS/">
ftp.sco.com/TLS/</A>
or via
web facilities at 
<A HREF="http://www.sco.com">
http://www.sco.com</A>
<P>

<B>Comments</B>
<P>
Please direct any comments on the installation of Skunkware components to
<A HREF="mailto:skunkware@sco.com">skunkware@sco.com</A>.
<P>

@@@SKUNKFOOTER
