@@@SKUNKHEADER(Interpreters / Scripting Languages)

<P>Welcome to the Skunkware '98 Interpreters section. The programs in this
section contain extra scripting languages, both for use from a shell and
for embedding within applications. Some of these tools, like Perl and TCL,
should almost be a standard part of UNIX, as they are that common and
entrenched.</P>

@@@START_PACKAGELIST
@@@PACKLIST(perl;Perl 5 Scripting Language;5.004_04;Yes;Yes)
@@@PACKLIST(tcl;Tool Command Language (TCL);8.0;Yes;Yes)
@@@PACKLIST(tclx;Extended TCL;8.0.2;Yes;Yes)
@@@PACKLIST(tk;Tk - an X11 Toolkit for TCL;8.0;Yes;Yes)
@@@PACKLIST(tix;Tk 4.2 based Tix widget set;4.1;No;Yes)
@@@PACKLIST(tix8;Tk 8.0 based Tix widget set;8.0;No;Yes)
@@@PACKLIST(expect;Expect - a TCL Extension;5.25;Yes;Yes)
@@@PACKLIST(python;Python - an object orient scripting tool;1.5;Yes;Yes)
@@@END_PACKAGELIST

#include "perl.src"
#include "tcl.src"
#include "tclx.src"
#include "tk.src"
#include "tix.src"
#include "tix8.src"
#include "expect.src"
#include "python.src"

@@@SKUNKFOOTER
