@@@SKUNKHEADER(Welcome)

#ifdef SKUNK_CD
<P>
The Skunkware 98 CD-ROM has been prepared primarily as an installation medium.
Please consult the <A HREF="install.html">installation guide</A> for detailed
instructions on how to install Skunkware 98 components.
</P><P>
Use your browser to explore the CD-ROM, read the component descriptions,
or click on the links which take you back to the main Skunkware web site
for additional components and component updates.
</P>
#endif
<P>
<TABLE BORDER=6 CELLSPACING=3 CELLPADDING=3 >
<TR>
<TD ALIGN=CENTER WIDTH="80%" COLSPAN=3>
<TABLE BORDER=6 CELLSPACING=3 CELLPADDING=3 >
<TR>
<TD ALIGN=CENTER WIDTH=100% >
<A HREF="../osr5/vols/">
Skunkware 98 custom installable media images</A>
</TD>
</TR>
</TABLE>
<TR>
<TD ALIGN=CENTER WIDTH="80%" COLSPAN=3>
<TABLE BORDER=6 CELLSPACING=3 CELLPADDING=3 >
<TR>
<TD ALIGN=CENTER WIDTH="25%">
<A HREF="whatsnew.html">
What's New</A>
</TD>
<TD ALIGN=CENTER WIDTH="25%">
<A HREF="http://skunkware.dev/skunkware/">
Skunkware Home</A>
</TD>
<TD ALIGN=CENTER WIDTH="25%">
<A HREF="http://skunkware.dev/skunkware/shutils/index.html#gzip">
Gzip/Gunzip</A>
</TD>
<TD ALIGN=CENTER WIDTH="25%">
<A HREF="http://www.sco.com/offers">Ordering</A>
</TD>
</TR><TR>
<TD ALIGN=CENTER WIDTH="25%">
<A HREF="relnotes.html">Release Notes</A>
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="install.html">Install Guide</A>
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="osr5/COMPONENTS.html">Components</A>
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="faq.html">Q&amp;A (FAQ)</A>
</TD>
</TR></TABLE></TD></TR>

<TR>
<TD ALIGN=CENTER WIDTH=33%>
<A HREF="net/net.html">Network/Internet</A>
</TD>

<TD ALIGN=CENTER WIDTH="34%">
<A HREF="devtools/devtools.html">Development Tools</A> 
</TD>

<TD ALIGN=CENTER WIDTH="33%">
<A HREF="emulators/emulators.html">Emulators</A>
</TD>
</TR>

<TR>
<TD ALIGN=CENTER WIDTH="33%">
<A HREF="shells/shells.html">Shells</A> 
</TD>

<TD ALIGN=CENTER WIDTH="34%">
<A HREF="shutils/shutils.html">Shell Utilities</A> 
</TD>

<TD ALIGN=CENTER WIDTH="33%">
<A HREF="x11/winman/winman.html">Window Managers</A> 
</TD>
</TR>

<TR>
<TD ALIGN=CENTER WIDTH="33%">
<A HREF="x11/viewers/viewers.html">Graphics/Viewers </A> 
</TD>

<TD ALIGN=CENTER WIDTH="34%">
<A HREF="db/db.html">Database Management</A> 
</TD>

<TD ALIGN=CENTER WIDTH="33%">
<A HREF="x11/games/games.html">Games</A>

</TD>
</TR>

<TR>
<TD ALIGN=CENTER WIDTH="33%">
<A HREF="textproc/textproc.html">Text Processing</A> 
</TD>

<TD ALIGN=CENTER WIDTH="34%">
<A HREF="fileutil/fileutil.html">File Managers</A>

</TD>

<TD ALIGN=CENTER WIDTH="33%">
<A HREF="mailnews/index.html">Mail &amp; News</A>

</TD>
</TR>

<TR>
<TD ALIGN=CENTER WIDTH="33%">
<A HREF="audiovis/index.html">Audio/Video</A>
</TD>

<TD ALIGN=CENTER WIDTH="34%">
<A HREF="interp/interp.html">Interpreters/Scripting</A>
</TD>

<TD ALIGN=CENTER WIDTH="33%">
<A HREF="editors/editors.html">Editors</A> 
</TD>
</TR>

<TR>
<TD ALIGN=CENTER WIDTH="33%">
<A HREF="java/index.html">Java</A> 
</TD>

<TD ALIGN=CENTER WIDTH="34%">
<A HREF="sysadmin/sysadmin.html">System Administration</A> 
</TD>

<TD ALIGN=CENTER WIDTH="33%">
<A HREF="x11/apps/apps.html">Applications</A> 
</TD>
</TR>
<TR><TD COLSPAN=3 ALIGN=CENTER>
<TABLE BORDER=6 CELLSPACING=3 CELLPADDING=3 >
<TR>
<TD ALIGN=CENTER WIDTH="25%">
<A HREF="credits.html">Acknowledgements</A> 
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="packages_a.html">Alphabetical Index</A> 
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="ftp://ftp.sco.com/skunkware/"> 
FTP download area</A> 
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="/skunkware/index.html">Previous Skunkware</A> 
</TD>

</TR><TR>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="links.html">More Free Stuff</A> 
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="ftp://ftp.sco.com/TLS/">Supplements (TLS)</A> 
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="http://www.sco.com/">SCO</A> 
</TD>

<TD ALIGN=CENTER WIDTH="25%">
<A HREF="http://www.sco.com/developer/">Developer Program</A> 
</TD>

</TR>

</TABLE>
</TD></TR></TABLE>
</CENTER>

<P>

<H2 ALIGN=CENTER>Skunkware 98 Packaging</H2>

<P>&nbsp;Wherever possible, the Skunkware 98 CD-ROM contains packages
in the operating system's native installation format. For OpenServer,
this means the packages are installed using the <TT>custom</TT> command,
and for UnixWare, packages are installed using <TT>pkgadd</TT></P>

<P>Where this was not possible, the packages can be found in a single tar
or cpio archive on the CD-ROM or the 
<A HREF="http://skunkware.dev/skunkware/">SCO Skunkware home page</A>.
For instructions on how to unpack and install compressed cpio and tar 
packages, please consult the release notes.</P>

#ifdef SKUNK_CD
<P><B>Please note:</B> Although every attempt has been made to ensure
that all of the links on this CD-ROM are accurate, you may encounter
some links which have expired, or which are inaccurate. Sometimes,
the sites to which the links point have moved, and this is more likely
to be the case as time goes on. Wherever possible, you are strongly
advised to view <A HREF="http://skunkware.dev/skunkware/">
the on-line version of Skunkware</A> to get the latest information.</P>
#endif

<P>
<HR ALIGN=LEFT><BR>
<P>Thank you for using Skunkware 98! We hope that the tools you find here
will help make your work more effective and productive. If you have
any comments, queries or suggestions about the contents of this
CD-ROM, please feel free to send mail to
<A HREF="mailto:skunkware@sco.com">skunkware@sco.com</A>.</P>

<P>

<CENTER><P><FONT SIZE=-2>The Santa Cruz Operation, Inc. and SCO Skunkware
are not related to, affiliated with or licensed by the famous Lockheed
Martin Skunk Works (R), the creator of the F-117 Stealth Fighter, SR-71,
U-2, Venturestar(tm), Darkstar(tm), and other pioneering air and spacecraft.
</FONT></P>

<P>

@@@SKUNKFOOTER
