@@@SKUNKHEADER(Text Processing Tools)

<P>Welcome to the Skunkware 7 Text Processing section. These tools
are used for document formatting, layout and conversion. If you do
any kind of documentation preparation or processing, you will find
these tools a great help.</P>
#ifdef SKUNK_CD
<P>
Additional text processing tools for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://skunkware.dev/skunkware/textproc/">
http://skunkware.dev/skunkware/textproc/</A>
</P>
#endif

@@@START_PACKAGELIST

@@@PACKLIST(a2ps;ASCII to PostScript converter;4.10.1;Yes;Yes)
@@@PACKLIST(enscript;Text to PostScript converter;1.6.1;Yes;Yes)
@@@PACKLIST(gs;Ghostscript - a PostScript(tm) interpreter;5.10;Yes;Yes)
@@@PACKLIST(groff;GNU nroff,troff and related tools;1.11;Yes;Yes)
@@@PACKLIST(par;Paragraph reformatter;1.50;Yes;Yes)
@@@PACKLIST(sgmltools;SGML Tools;0.99.14;Yes;Yes)
@@@PACKLIST(tex;TeX - text formatting and typesetting;7.2a;Yes;Yes)
@@@PACKLIST(texinfo;The GNU documentation reader and formatter;3.12;Yes;Yes)

@@@END_PACKAGELIST

#include "a2ps.src"
#include "enscript.src"
#include "gs.src"
#include "groff.src"
#include "par.src"
#include "sgmltools.src"
#include "tex.src"
#include "texinfo.src"

@@@SKUNKFOOTER
