@@@SKUNKHEADER(Applications)

<P>Welcome to the Skunkware 7 X11 Applications section. The Skunkware
team has collected a few graphical applications which some users may wish
to run as additional productivity tools.
Users wil almost certainly want to customize these applications.
</P>
#ifdef SKUNK_CD
<P>
Additional X11 applications for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://skunkware.dev/skunkware/x11/apps/">
http://skunkware.dev/skunkware/x11/apps/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(AnswerGar;organizational memory program;1.0;No;Yes)
@@@PACKLIST(addressbo;better graphical rolodex;0.6.2;No;Yes)
@@@PACKLIST(bb;bb - aalib demo;1.2;Yes;Yes)
@@@PACKLIST(mathrec;Mathematical Recreation Software;1.1;Yes;Yes)
@@@PACKLIST(stacey;Stacey Campbell's Mandelbrot Program;1.1;No;Yes)
@@@PACKLIST(xacc;X Accountant;1.0.17;Yes;Yes)
@@@PACKLIST(xaos;XaoS - fractal zoomer/morpher;3.0;Yes;Yes)
@@@PACKLIST(xearth;Planet earth root window;1.0;Yes;Yes)
@@@PACKLIST(xhtml;HTML editor;1.3;Yes;Yes)
@@@PACKLIST(xinvest;Personal finance package;2.4;Yes;Yes)
@@@PACKLIST(xquote;Stock quote retrieval;1.0.2;Yes;Yes)
@@@PACKLIST(xlockmore;X11 Screen Locker;4.03;Yes;Yes)
@@@PACKLIST(xautolock;fire up programs in case of user inactivity under X;pl10;No;Yes)
@@@PACKLIST(xmailbox;X11 Mail Reminder;2.4;Yes;Yes)
@@@PACKLIST(astrolog;X11 astrology chart;5.30;Yes;Yes)
@@@PACKLIST(rxvt;VT102 terminal emulator;2.4.5Yes;Yes)
@@@PACKLIST(xdiary;X11 graphical diary;1.0;No;Yes)
@@@PACKLIST(xgrabsc;X11 screen grabber;2.3;No;Yes)
@@@PACKLIST(xpaint;simple paint program;2.4.7;Yes;Yes)
@@@PACKLIST(xrolodex;rolodex program;1.0;No;Yes)
@@@PACKLIST(xtide;Tide and current predictions;2.0b2;Yes;No)
@@@PACKLIST(xwebster;graphical webster client;1.0;No;Yes)
@@@PACKLIST(xfishtank;X11 graphical fish tank;2.2;Yes;Yes)
@@@END_PACKAGELIST

#include "AnswerGar.src"
#include "addressbo.src"
#include "bb.src"
#include "mathrec.src"
#include "stacey.src"
#include "xacc.src"
#include "xaos.src"
#include "xearth.src"
#include "xhtml.src"
#include "xinvest.src"
#include "xquote.src"
#include "xlockmore.src"
#include "xautolock.src"
#include "xmailbox.src"
#include "astrolog.src"
#include "rxvt.src"
#include "xdiary.src"
#include "xgrabsc.src"
#include "xpaint.src"
#include "xrolodex.src"
#include "xtide.src"
#include "xwebster.src"
#include "xfishtank.src"

@@@SKUNKFOOTER
