@@@SKUNKHEADER(Graphics Viewers / Editors)

<P>Welcome to the Skunkware 7 Graphics Viewers / Editors section.
The programs here can be used to view and edit a broad range of graphics
file formats. There is a very powerful image editor (the GIMP) and several
viewers. Most of these files require that you install the Skunkware 7
graphics libraries package.</P>
#ifdef SKUNK_CD
<P>
Additional X11 viewers and editors for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://www.sco.com/skunkware/x11/viewers/">
http://www.sco.com/skunkware/x11/viewers/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(Xswallow;general purpose netscape navigator plug-in;1.0.10;Yes;Yes)
@@@PACKLIST(ImageMagi;ImageMagick - a display utility;4.0;Yes;Yes)
@@@PACKLIST(povray;POV-Ray - Persistence of Vision Ray Tracer;3.02;No;Yes)
@@@PACKLIST(xv;XV - a file viewer;3.10a;Yes;Yes)
@@@PACKLIST(freefont;collection of freely available X11 fonts;1.0;Yes;Yes)
@@@PACKLIST(gimp;The GNU Image Manipulation Program;1.0;Yes;Yes)
@@@PACKLIST(ghostview;View PostScript documents using ghostscript;1.5;Yes;Yes)
@@@PACKLIST(gnuplot;The GNU Interactive Plotting Program;3.5;No;Yes)
@@@PACKLIST(gv;PostScript and PDF previewer;3.5.8;Yes;Yes)
@@@PACKLIST(vrweb;Virtual Reality Scene Viewer;1.5;Yes;Yes)
@@@PACKLIST(xanim;An X11 animation viewer;2.70.7.0;Yes;Yes)
@@@PACKLIST(xascii;ascii character set table for X;1.0;Yes;Yes)
@@@PACKLIST(mathrec;Mathematical Recreation Software;1.1;Yes;Yes)
@@PACKLIST(stacey;Stacey Campbell's Mandelbrot Program;1.1;No;Yes)
@@@PACKLIST(mgdiff;Motif-based graphical file difference browser;1.0;Yes;Yes)
@@@PACKLIST(mpegplay;MPEG video player;2.3;Yes;Yes)
@@@PACKLIST(xearth;Planet earth root window;1.0;Yes;Yes)
@@@PACKLIST(xaos;XaoS - fractal zoomer/morpher;3.0;Yes;Yes)
@@@PACKLIST(xfig;X11 figure drawing package;3.2;Yes;Yes)
@@@PACKLIST(transfig;Transport portable LaTeX figures;3.2;Yes;Yes)
@@@PACKLIST(xpdf;An X11 viewer for Adobe(tm) PDF files;0.7a;Yes;Yes)
@@@PACKLIST(glib;Graphics libraries;1.3;Yes;Yes)
@@@PACKLIST(netpbm;Graphical file conversion utilities;1.0;Yes;Yes)
@@@END_PACKAGELIST

#include "Xswallow.src"
#include "ImageMagi.src"
#include "povray.src"
#include "xv.src"
#include "freefont.src"
#include "gimp.src"
#include "ghostview.src"
#include "gnuplot.src"
#include "gv.src"
#include "vrweb.src"
#include "xanim.src"
#include "xascii.src"
#include "mathrec.src"
#include "stacey.src"
#include "mgdiff.src"
#include "mpegplay.src"
#include "xearth.src"
#include "xaos.src"
#include "xfig.src"
#include "transfig.src"
#include "xpdf.src"
#include "glib.src"
#include "netpbm.src"

@@@SKUNKFOOTER
