
MACROS:
SKUNK_VERS = 98.2

A2ps_DESC = "A2ps 4.10.1 - Convert ascii to postscript"
A2ps_DIR = ./textproc/a2ps-4.10.1
A2ps_VER = 4.10.1
ASTP_DESC = "AfterStep 1.0 Window Manager"
ASTP_DIR = ./x11/winman/AfterStep-1.0
ASTP_VER = 1.0
Acme_DESC = "Acme Labs Java Classes"
Acme_DIR = ./java/Acme-1.0.2
Acme_VER = 1.0.2
Addressbook_DESC = "Addressbook 0.7 Rolodex"
Addressbook_DIR = ./db/addressbook-0.7
Addressbook_VER = 0.7
Apache_DESC =	"Apache Web Server 1.3.0"
Apache_DIR = ./net/apache-1.3.0
Apache_VER = 1.3.0
Astrolog_DESC = "Astrolog 5.30 - Astrology Charts"
Astrolog_DIR = ./x11/misc/astrolog-5.30
Astrolog_VER = 5.30
Autoconf_DESC = "Autoconf 2.12 - GNU Auto Configuration"
Autoconf_DIR = ./devtools/autoconf-2.12
Autoconf_VER = 2.12
Bash_DESC =	"Bash 2.02 - GNU Bourne-Again Shell"
Bash_DIR = ./shells/bash-2.02
Bash_VER = 2.02
Bison_DESC =	"Bison 1.25 - GNU Parser Generator"
Bison_DIR = ./devtools/bison-1.25
Bison_VER = 1.25
Bitmap_DESC =	"Bitmap editor and conversion tools"
Bitmap_DIR = ./x11/graphics/bitmap-x11r5
Bitmap_VER = x11r5
Bzip2_DESC =	"Bzip2 0.1pl2 - block sorting compression/uncompression"
Bzip2_DIR = ./shellutil/bzip2-0.1pl2
Bzip2_VER = 0.1pl2
Count_DESC =	"Count 2.4 - WWW access counter and clock"
Count_DIR = ./net/Count-2.4
Count_VER = 2.4
Cpio_DESC =	"Cpio 2.4.2 - GNU Cpio"
Cpio_DIR = ./fileutil/cpio-2.4.2
Cpio_VER = 2.4.2
Crossfire_DESC = "Crossfire 0.94.0 - multiplayer arcade and adventure game"
Crossfire_DIR = ./x11/games/crossfire-0.94.0
Crossfire_VER = 0.94.0
Cvs_DESC =	"Cvs 1.9 - Concurrent Versions System"
Cvs_DIR = ./devtools/cvs-1.9
Cvs_VER = 1.9
Diffutils_DESC ="Diffutils 2.7 - GNU Diff Utilities"
Diffutils_DIR = ./fileutil/diffutils-2.7
Diffutils_VER = 2.7
Djava_DESC = "Djava 052097 - Java class file disassembler"
Djava_DIR = ./java/Djava-052097
Djava_VER = 052097
Enlightenment_DESC = "Enlightenment Window Manager"
Enlightenment_DIR = ./x11/winman/enlightenment-0.13.3
Enlightenment_VER = 0.13.3
Enscript_DESC = "Enscript 1.6.1 - ASCII to PostScript converter"
Enscript_DIR = ./textproc/enscript-1.6.1
Enscript_VER = 1.6.1
Eterm_DESC = "Eterm 0.8pre6 - Enlightenment Terminal Emulator"
Eterm_DIR = ./emulators/Eterm-0.8pre6
Eterm_VER = 0.8pre6
Expect_DESC =	"Expect 5.25 - programmed dialogue"
Expect_DIR = ./interp/expect-5.25
Expect_VER = 5.25
FSUpthreads_DESC =	"FSU Pthreads 3.5"
FSUpthreads_DIR = ./libraries/FSUpthreads-3.5
FSUpthreads_VER = 3.5
Fetchmail_DESC =    "Fetchmail 4.5.4 - remote mail retrieval/forwarding utility"
Fetchmail_DIR = ./mail/fetchmail-4.5.4
Fetchmail_VER = 4.5.4
File_DESC =	"File 3.22 - GNU File"
File_DIR = ./fileutil/file-3.22
File_VER = 3.22
Fileutils_DESC ="Filutils 3.16 - GNU File Utilities"
Fileutils_DIR = ./fileutil/fileutils-3.16
Fileutils_VER = 3.16
Findutils_DESC ="Findutils 4.1 - GNU Find Utilities"
Findutils_DIR = ./fileutil/findutils-4.1
Findutils_VER = 4.1
Flex_DESC =	"Flex 2.5.4 - Fast lexical analyzer generator"
Flex_DIR = ./devtools/flex-2.5.4
Flex_VER = 2.5.4
Freefonts_DESC = "Freefonts 0.1 - Free X11 fonts"
Freefonts_DIR = ./x11/graphics/freefonts-0.1
Freefonts_VER = 0.1
Fvwm_DESC =	"Fvwm 2.0.46 - Virtual Window Manager"
Fvwm_DIR = ./x11/winman/fvwm-2.0.46
Fvwm_VER = 2.0.46
GS_DESC =	"Ghostscript 5.10 - Aladdin Ghostscript interpreter/previewer"
GS_DIR = ./textproc/gs-5.10
GS_VER = 5.10
GV_DESC =	"GV 3.5.8 - PostScript and PDF previewer"
GV_DIR = ./x11/viewers/gv-3.5.8
GV_VER = 3.5.8
GZIP_DESC =	"Gzip 1.2.4 - GNU Compression Tools"
GZIP_DIR = ./shellutil/gzip-1.2.4
GZIP_VER = 1.2.4
Gawk_DESC =	"Gawk 3.0.3 - GNU pattern scanning and processing language"
Gawk_DIR = ./shellutil/gawk-3.0.3
Gawk_VER = 3.0.3
Gcc_DESC =     "Gcc 98q2 - GNU Compilation Systems (gcc 2.7.2.3/egcs 1.0.2)"
Gcc_DIR = ./devtools/gcc-98q2
Gcc_VER = 98q2
Gdb_DESC =	"Gdb 4.17 - GNU Source-Level Debugger"
Gdb_DIR = ./devtools/gdb-4.17
Gdb_VER = 4.17
Getline_DESC =     "Getline 3.11"
Getline_DIR =     ./devtools/getline-3.11
Getline_VER = 3.11
Ghostview_DESC =	"Ghostview 1.5 - Postscript Viewer"
Ghostview_DIR = ./x11/viewers/ghostview-1.5
Ghostview_VER = 1.5
Gimp_DESC =	"Gimp 1.0 - GNU Image Manipulation Program"
Gimp_DIR = ./x11/graphics/gimp-1.0
Gimp_VER = 1.0
GimpMan_DESC =     "GUM 1.0.0 - The GIMP Manual"
GimpMan_DIR =     ./x11/graphics/GimpManual-1.0.0
GimpMan_VER = 1.0.0
Git_DESC =	"Git 4.3.17 - GNU Interactive Tools"
Git_DIR = ./fileutil/git-4.3.17
Git_VER = 4.3.17
Slang_DESC =	"Slang 1.2.2 - S-Lang Library"
Slang_DIR = ./libraries/slang-1.2.2
Slang_VER = 1.2.2
Glib_DESC =	"Glib 1.3 - Graphics Libraries"
Glib_DIR = ./libraries/Glib-1.3
Glib_VER = 1.3
Glimpse_DESC =     "Glimpse 4.1 - powerful indexing and query system"
Glimpse_DIR =     ./fileutil/glimpse-4.1
Glimpse_VER = 4.1
Gnuplot_DESC =     "Gnuplot 3.5 - an interactive plotting program"
Gnuplot_DIR =     ./x11/graphics/gnuplot-3.5
Gnuplot_VER = 3.5
Groff_DESC =	"Groff 1.11 - GNU document formatting system"
Groff_DIR = ./textproc/groff-1.11
Groff_VER = 1.11
Hog_DESC =	"Hog 1.0 - Memory, CPU and I/O hog analyzer"
Hog_DIR = ./sysadmin/hog-1.0
Hog_VER = 1.0
HttpAnalyze_DESC =	"HttpAnalyze 2.01 - log analyzer for web servers"
HttpAnalyze_DIR = ./net/httpanalyze-2.01
HttpAnalyze_VER = 2.01
Hypermail_DESC =    "Hypermail 1.02 - publish mail folders as HTML documents"
Hypermail_DIR = ./mail/hypermail-1.02
Hypermail_VER = 1.02
IMGCK_DESC =	"ImageMagick 4.0.7 - interactive manipulation of images"
IMGCK_DIR = ./x11/graphics/ImageMagick-4.0.7
IMGCK_VER = 4.0.7
Indent_DESC =	"Indent 1.9.1 - Indent and Format C Program Source"
Indent_DIR = ./devtools/indent-1.9.1
Indent_VER = 1.9.1
INN_DESC =	"Inn 2.0 - InterNetNews"
INN_DIR = ./news/inn-2.0
INN_VER = 2.0
Irc_DESC =	"Irc 2.9.5 - Internet Relay Chat Client and Server"
Irc_DIR = ./net/irc-2.9.5
Irc_VER = 2.9.5
Ispell_DESC =	"Ispell 3.1.20 - Interactive spelling checker"
Ispell_DIR = ./textproc/ispell-3.1.20
Ispell_VER = 3.1.20
Jasmin_DESC = "Jasmin 1.06 - Java Assembler Interface"
Jasmin_DIR = ./java/jasmin-1.06
Jasmin_VER = 1.06
Johnd_DESC = "Johnd 1.1 - System Administration scripts by John Dubois"
Johnd_DIR = ./sysadmin/johnd-1.1
Johnd_VER = 1.1
Kde_DESC =	"Kde 1.0 - The K Desktop Environment"
Kde_DIR = ./x11/winman/kde-1.0
Kde_VER = 1.0
WindowMaker_DESC =	"WindowMaker 0.16.1 - X11 Window Manager"
WindowMaker_DIR = ./x11/winman/WindowMaker-0.16.1
WindowMaker_VER = 0.16.1
Klassmaster_DESC = "KlassMaster 1.0 Java Classes"
Klassmaster_DIR = ./java/klassmaster-1.0
Klassmaster_VER = 1.0
LDAP_DESC =	"LDAP 3.3 - Lightweight Directory Access Protocol"
LDAP_DIR = ./net/ldap-3.3
LDAP_VER = 3.3
Less_DESC =	"Less 332 Paginator"
Less_DIR = ./shellutil/less-332
Less_VER = 332
LinCity_DESC ="LinCity 1.09 - Simulated City Development"
LinCity_DIR = ./x11/games/LinCity-1.09
LinCity_VER = 1.09
Lxrun_DESC = "Lxrun 0.9.0 - Linux emulation run-time package"
Lxrun_DIR = ./emulators/lxrun-0.9.0
Lxrun_VER = 0.9.0
Lynx_DESC =	"Lynx 2.8rel2 - Character mode web browser"
Lynx_DIR = ./net/lynx-2.8rel2
Lynx_VER = 2.8rel2
M4_DESC =	"M4 1.4 - GNU Macro Processor"
M4_DIR = ./shellutil/m4-1.4
M4_VER = 1.4
Majordomo_DESC =	"Majordomo 1.94.4 - manages Internet mailing lists"
Majordomo_DIR = ./mail/majordomo-1.94.4
Majordomo_VER = 1.94.4
MakeCD_DESC =	"MakeCD 1.0 - CD-ROM Mastering Toolkit"
MakeCD_DIR = ./fileutil/makecd-1.0
MakeCD_VER = 1.0
Make_DESC =	"Make 3.76.1 - GNU Make"
Make_DIR = ./devtools/make-3.76.1
Make_VER = 3.76.1
# Maplay_DESC =	"MPEG Audio Player"
# Maplay_DIR = ./audio/maplay-1.2
# Maplay_VER = 1.2
Mathrec_DESC ="Mathrec 1.1 - Mathematical Recreations"
Mathrec_DIR = ./x11/misc/mathrec-1.1
Mathrec_VER = 1.1
Mawk_DESC =	"Mawk 1.3.3 - pattern scanning and text processing language"
Mawk_DIR = ./shellutil/mawk-1.3.3
Mawk_VER = 1.3.3
Metamail_DESC ="Metamail 2.7 - Mailcap-based multimedia mail handling"
Metamail_DIR = ./mail/mm-2.7
Metamail_VER = 2.7
Midi_DESC =	"Timidity 0.2i - Motif Midi Player"
Midi_DIR = ./audio/timidity-0.2i
Midi_VER = 0.2i
Mirror_DESC =	"Mirror Magic 1.3 - X11 Game"
Mirror_DIR = ./x11/games/mirrormagic-1.3
Mirror_VER = 1.3
Mkpkg_DESC =	"Mkpkg 1.1 - SCO Pkgadd Packaging Frontend"
Mkpkg_DIR = ./devtools/mkpkg-1.1
Mkpkg_VER = 1.1
Mkvol_DESC =	"Mkvol 1.1 - SCO Custom Packaging Frontend"
Mkvol_DIR = ./devtools/mkvol-1.1
Mkvol_VER = 1.1
Mktable_DESC ="Mktable 1.0 - table creation"
Mktable_DIR = ./db/mktable-1.0
Mktable_VER = 1.0
# Mosaic_DESC =	"NCSA Mosaic web browser"
# Mosaic_DIR = ./net/Mosaic-2.7b4
# Mosaic_VER = 2.7b4
Mpeg_bits_DESC ="Mpeg_bits 1.0b"
Mpeg_bits_DIR = ./video/mpeg_bits-1.0b
Mpeg_bits_VER = 1.0b
Mpeg_blocks_DESC ="Mpeg_blocks 1.0b"
Mpeg_blocks_DIR = ./video/mpeg_blocks-1.0b
Mpeg_blocks_VER = 1.0b
Mpeg_encode_DESC ="Mpeg_encode 1.5b"
Mpeg_encode_DIR = ./video/mpeg_encode-1.5b
Mpeg_encode_VER = 1.5b
Mpeg_play_DESC ="Mpeg_play 2.3"
Mpeg_play_DIR = ./video/mpeg_play-2.3
Mpeg_play_VER = 2.3
Mpeg_stat_DESC ="Mpeg_stat 2.2b"
Mpeg_stat_DIR = ./video/mpeg_stat-2.2b
Mpeg_stat_VER = 2.2b
Msql_DESC = "mSQL 2.0.3 - Mini SQL database system"
Msql_DIR = ./db/msql-2.0.3
Msql_VER = 2.0.3
Mtools_DESC =	"Mtools 3.8 - Utilities to access DOS disks in Unix"
Mtools_DIR = ./fileutil/mtools-3.8
Mtools_VER = 3.8
Mutt_DESC =	"Mutt 0.92.8 - Text-based MIME mail client"
Mutt_DIR = ./mail/mutt-0.93.2
Mutt_VER = 0.93.2
Mysql_DESC = "Mysql 3.21.26 - Structured Query Language database server"
Mysql_DIR = ./db/mysql-3.21.26
Mysql_VER = 3.21.26
Ncftp_DESC =	"Ncftp 2.4.3 - Internet file transfer program"
Ncftp_DIR = ./net/ncftp-2.4.3
Ncftp_VER = 2.4.3
Ncurses_DESC =     "Ncurses 4.2 - Curses, Form, Menu, Panel Libraries"
Ncurses_DIR =     ./libraries/ncurses-4.2
Ncurses_VER = 4.2
Nedit_DESC = "Nedit 5.0.2 - Motif GUI style text editor"
Nedit_DIR = ./editors/nedit-5.0.2
Nedit_VER = 5.0.2
OSS_DESC =	"OSS 980728 - Open Sound System audio drivers"
OSS_DIR = ./audio/oss-980728
OSS_VER = 980728
PHP_DESC =	"PHP 3.0RC3 - server-side HTML embedded scripting language"
PHP_DIR = ./net/php-3.0RC3
PHP_VER = 3.0RC3
Par_DESC =     "Par 1.50 - Paragraph Reformatter"
Par_DIR = ./textproc/par-1.50
Par_VER = 1.50
Patch_DESC =	"Patch 2.5 - apply changes to a file"
Patch_DIR = ./devtools/patch-2.5
Patch_VER = 2.5
Perl_DESC =	"Perl 5.004_04 - Practical Extraction and Report Language"
Perl_DIR = ./interp/perl-5.004_04
Perl_VER = 5.004_04
Pixmaps_DESC =	"Pixmaps 2.0"
Pixmaps_DIR = ./x11/graphics/pixmaps-2.0
Pixmaps_VER = 2.0
Pkgtools_DESC = "Pkgtools skw98 - UnixWare compatible packaging tools"
Pkgtools_DIR = ./sysadmin/pkgtools-skw98
Pkgtools_VER = skw98
Procmail_DESC =	"Procmail 3.11pre7 - autonomous mail processor"
Procmail_DIR = ./mail/procmail-3.11pre7
Procmail_VER = 3.11pre7
Python_DESC =	"Python 1.5 - GNU Python Utility"
Python_DIR = ./interp/python-1.5
Python_VER = 1.5
Rcs_DESC =	"Rcs 5.7 - Revision Control System"
Rcs_DIR = ./devtools/rcs-5.7
Rcs_VER = 5.7
Readline_DESC ="Readline 2.1 - GNU Readline"
Readline_DIR =     ./devtools/readline-2.1
Readline_VER = 2.1
Rpm_DESC =	"Rpm 2.4.5 - Red Hat Package Manager"
Rpm_DIR = ./sysadmin/rpm-2.4.5
Rpm_VER = 2.4.5
Rxvt_DESC =	"Rxvt 2.4.5 - Terminal emulator with color support"
Rxvt_DIR = ./emulators/rxvt-2.4.5
Rxvt_VER = 2.4.5
SarCheck_DESC = "SarCheck 3.61lite - Performance analysis and tuning tool"
SarCheck_DIR = ./sysadmin/SarCheck-3.61lite
SarCheck_VER = 3.61lite
Shutils_DESC =	"Shutils 1.15 - GNU Shell Utilities"
Shutils_DIR = ./shellutil/sh-utils-1.15
Shutils_VER = 1.15
SmallEiffel_DESC =	"SmallEiffel 0.91 - GNU Eiffel Compiler"
SmallEiffel_DIR = ./devtools/SmallEiffel-0.91
SmallEiffel_VER = 0.91
Sox_DESC =	"Sox 11.12 - Sound eXchange"
Sox_DIR = ./audio/sox-11.12
Sox_VER = 11.12
Spambnc_DESC =     "Spambnc 1.00h - The Spam Bouncer"
Spambnc_DIR =     ./mail/spambnc-1.00h
Spambnc_VER = 1.00h
Spellcast_DESC = "Spellcast 1.0 - Multi-player strategy game"
Spellcast_DIR = ./x11/games/spellcast-1.0
Spellcast_VER = 1.0
Squid_DESC = "Squid 1.1.22 - Squid Internet Object Cache"
Squid_DIR = ./net/squid-1.1.22
Squid_VER = 1.1.22
#Stacey_DESC = "Stacey Campbell's Mandelbrot Program"
#Stacey_DIR = ./x11/misc/stacey-1.1
#Stacey_VER = 1.1
TK_DESC =	"TK 8.0p2 - Tcl based X11 toolkit"
TK_DIR = ./interp/tk-8.0p2
TK_VER = 8.0p2
Tar_DESC =	"Tar 1.12 - GNU Tar"
Tar_DIR = ./fileutil/tar-1.12
Tar_VER = 1.12
TclX_DESC =	"TclX 8.0.2 - Tcl Extensions"
TclX_DIR = ./interp/tclx-8.0.2
TclX_VER = 8.0.2
Tcl_DESC =	"Tcl 8.0p2 - Tcl Scripting Language"
Tcl_DIR = ./interp/tcl-8.0p2
Tcl_VER = 8.0p2
Tcsh_DESC = "Tcsh 6.07 - C shell with file name completion and command line editing"
Tcsh_DIR = ./shells/tcsh-6.07
Tcsh_VER = 6.07
TeX_DESC =     "TeX 7.2a - document formatting and typesetting system"
TeX_DIR = ./textproc/tex-7.2a
TeX_VER = 7.2a
Texinfo_DESC =	"Texinfo 3.12 - GNU Texinfo"
Texinfo_DIR = ./textproc/texinfo-3.12
Texinfo_VER = 3.12
Tftpd_DESC =	"Tftpd 1.0 - DARPA Trivial File Transfer Protocol server"
Tftpd_DIR = ./net/tftpd-1.0
Tftpd_VER = 1.0
Top_DESC =	"Top 3.5beta5 - Display top cpu processes"
Top_DIR = ./sysadmin/top-3.5beta5
Top_VER = 3.5beta5
Transfig_DESC =	"Transfig 3.2 - figure translation tools"
Transfig_DIR = ./x11/graphics/transfig-3.2
Transfig_VER = 3.2
Unzip_DESC =	"Unzip 5.3 - Pkunzip compatible unzip"
Unzip_DIR = ./shellutil/unzip-5.3
Unzip_VER = 5.3
VRwave_DESC = "VRwave 0.9 - VRML browser"
VRwave_DIR = ./java/vrwave-0.9
VRwave_VER = 0.9
Pico_DESC =	"Pico 3.96 - Editor"
Pico_DIR = ./editors/pico-3.96
Pico_VER = 3.96
Tags_DESC =	"Tags 1.0 - ctags/etags editor common files"
Tags_DIR = ./editors/tags-1.0
Tags_VER = 1.0
Vile_DESC =	"Vile 7.3 - Editor"
Vile_DIR = ./editors/vile-7.3
Vile_VER = 7.3
Elvis_DESC = "Elvis 2.0 - Editor"
Elvis_DIR = ./editors/elvis-2.0
Elvis_VER = 2.0
Emacs_DESC = "Emacs 20.2 - A powerful, extensible text editor"
Emacs_DIR = ./editors/emacs-20.2
Emacs_VER = 20.2
Nvi_DESC = "Nvi 1.79 - Editor"
Nvi_DIR = ./editors/nvi-1.79
Nvi_VER = 1.79
Joe_DESC = "Joe 2.8 - Editor"
Joe_DIR = ./editors/joe-2.8
Joe_VER = 2.8
Jed_DESC = "Jed 0.98.7 - Editor"
Jed_DIR = ./editors/jed-0.98.7
Jed_VER = 0.98.7
Vim_DESC = "Vim 5.1 - Vi IMproved"
Vim_DIR = ./editors/vim-5.1
Vim_VER = 5.1
WWWtar_DESC =	"WWWtar 1.0 - CGI program for viewing and manipulating Tape file ARchives"
WWWtar_DIR = ./net/wwwtar-1.0
WWWtar_VER = 1.0
Wget_DESC =	"Wget 1.5.2 - retrieve files from the World Wide Web"
Wget_DIR = ./net/wget-1.5.2
Wget_VER = 1.5.2
XDir_DESC =	"Xdir 2.0 - LLNL Advanced Graphical FTP Client"
XDir_DIR = ./net/xdir-2.0
XDir_VER = 2.0
XFM_DESC =	"Xfilemanager 0.4.1 - X11 File Manager"
XFM_DIR = ./x11/apps/xfilemanager-0.4.1
XFM_VER = 0.4.1
XHTML_DESC =	"Xhtml 1.3 - A Simple HTML Editor"
XHTML_DIR = ./editors/ashe-1.3
XHTML_VER = 1.3
XMmix_DESC =	"Xmmix 1.2 - Audio mixer utility for X11/Motif"
XMmix_DIR = ./audio/xmmix-1.2
XMmix_VER = 1.2
XV_DESC =	"XV 3.10a - Interactive Image Viewer"
XV_DIR = ./x11/viewers/xv-3.10a
XV_VER = 3.10a
Xacc_DESC =     "X Accountant 1.0.17 - Motif Finance Package"
Xacc_DIR = ./x11/apps/xacc-1.0.17
Xacc_VER = 1.0.17
Xanim_DESC =	"Xanim 1.70.7.0 - X11 Animation Viewer"
Xanim_DIR = ./x11/viewers/xanim-2.70.7.0
Xanim_VER = 2.70.7.0
XaoS_DESC =	"XaoS 3.0 - Fast interactive real-time fractal zoomer/morpher"
XaoS_DIR = ./x11/misc/xaos-3.0
XaoS_VER = 3.0
Xarchie_DESC =	"Xarchie 2.0.10 - Interface to the Archie Internet Information System"
Xarchie_DIR = ./net/xarchie-2.0.10
Xarchie_VER = 2.0.10
Xbj_DESC =	"Xblackgack 2.2 - X Blackjack Game"
Xbj_DIR = ./x11/games/xblackjack-2.2
Xbj_VER = 2.2
Xboing_DESC =	"Xboing 2.4 - X Boing Game"
Xboing_DIR = ./x11/games/xboing-2.4
Xboing_VER = 2.4
XBuffy_DESC =	"XBuffy 3.3 - keep track of multiple mailboxes"
XBuffy_DIR = ./mail/xbuffy-3.3
XBuffy_VER = 3.3
Xconq_DESC = "Xconq 7.2.2 - X-based configurable strategy game"
Xconq_DIR = ./x11/games/xconq-7.2.2
Xconq_VER = 7.2.2
Xcoral_DESC = "Xcoral 3.14 - Text Editor/Browser"
Xcoral_DIR = ./editors/xcoral-3.14
Xcoral_VER = 3.14
Xdaliclock_DESC ="Xdali 2.10 - Dali Clock"
Xdaliclock_DIR = ./x11/misc/xdaliclock-2.10
Xdaliclock_VER = 2.10
Xdoom_DESC = "Xdoom 980307 - X11 Doom Video Game"
Xdoom_DIR = ./x11/games/xdoom-980307
Xdoom_VER = 980307
Xearth_DESC = "Xearth 1.0 - Planet earth root window"
Xearth_DIR = ./x11/misc/xearth-1.0
Xearth_VER = 1.0
Xemacs_DESC = "Xemacs 20.4 - A powerful, extensible text editor with full GUI support"
Xemacs_DIR = ./editors/xemacs-20.4
Xemacs_VER = 20.4
Xfig_DESC =	"Xfig 3.2 - Figure Generation"
Xfig_DIR = ./x11/graphics/xfig-3.2
Xfig_VER = 3.2
Xgal_DESC =	"Xgal 2.0.34 - XGalaga X11 Video Game"
Xgal_DIR = ./x11/games/xgalaga-2.0.34
Xgal_VER = 2.0.34
Xinvest_DESC =	"Xinvest 2.5.1 - Personal Finance Package"
Xinvest_DIR = ./x11/apps/xinvest-2.5.1
Xinvest_VER = 2.5.1
Xkey_DESC ="Xkeycaps 2.42 - X Keycaps"
Xkey_DIR = ./x11/misc/xkeycaps-2.42
Xkey_VER = 2.42
Xlock_DESC =	"Xlock 4.09 - Xlockmore Screen Locker"
Xlock_DIR = ./x11/savers/xlockmore-4.09
Xlock_VER = 4.09
Xmcd_DESC =	"Xmcd 2.3 - CD Audio Player"
Xmcd_DIR = ./audio/xmcd-2.3
Xmcd_VER = 2.3
# Xmixer_DESC =	"Xmixer 1.1 - Graphical/character audio mixer"
# Xmixer_DIR = ./audio/Xmixer-1.1
# Xmixer_VER = 1.1
Xmorph_DESC =	"Xmorph 17jan97 - digital image warping"
Xmorph_DIR = ./x11/apps/xmorph-17jan97
Xmorph_VER = 17jan97
Xpaint_DESC =	"Xpaint 2.5.4 - X11 Paint Program"
Xpaint_DIR = ./x11/apps/xpaint-2.5.4
Xpaint_VER = 2.5.4
Xpdf_DESC =	"Xpdf 0.7a - X11 PDF Viewer"
Xpdf_DIR = ./x11/viewers/xpdf-0.7a
Xpdf_VER = 0.7a
Xpilot_DESC =     "Xpilot 3.7.1 - multi-player game"
Xpilot_DIR =     ./x11/games/xpilot-3.7.1
Xpilot_VER =  3.7.1
Xquote_DESC =	"Xquote 1.1 - Stock Quotes"
Xquote_DIR = ./x11/apps/xquote-1.1
Xquote_VER = 1.1
Xsaver_DESC =	"Xscreensaver 2.24 - screen locker"
Xsaver_DIR = ./x11/savers/xscreensaver-2.24
Xsaver_VER = 2.24
Xsnow_DESC =	"Xsnow 1.40 - Snow on your desktop"
Xsnow_DIR = ./x11/misc/xsnow-1.40
Xsnow_VER = 1.40
Xsw_DESC =	"Xsw 5.0.4 - X System Watch Package"
Xsw_DIR = ./x11/apps/xsw-5.0.4
Xsw_VER = 5.0.4
Xswallow_DESC = "Xswallow 1.0.11 - General Purpose Netscape Navigator Plugin"
Xswallow_DIR = ./x11/viewers/Xswallow-1.0.11
Xswallow_VER = 1.0.11
Xtar_DESC =	"Xtar 1.4 - X tar Package"
Xtar_DIR = ./x11/apps/xtar-1.4
Xtar_VER = 1.4
Xtartan_DESC =	"Xtartan 2.3 - Display Tartans"
Xtartan_DIR = ./x11/misc/xtartan-2.3
Xtartan_VER = 2.3
XTide_DESC =	"XTide 2.0b2 - tide and current predictions"
XTide_DIR = ./x11/apps/xtide-2.0b2
XTide_VER = 2.0b2
Zip_DESC =	"Zip 2.1 - Pkzip compatible zip"
Zip_DIR = ./shellutil/zip-2.1
Zip_VER = 2.1
Zircon_DESC =	"Zircon 1.18.113 - tcl/tk IRC Client"
Zircon_DIR = ./net/zircon-1.18.113
Zircon_VER = 1.18.113
Zsh_DESC =	"Zsh 3.1.4 - The Z Shell"
Zsh_DIR = ./shells/zsh-3.1.4
Zsh_VER = 3.1.4
freeWAIS_DESC ="freeWAIS-sf 2.2.10 -  Wide Area Information Service"
freeWAIS_DIR = ./net/freeWAIS-sf-2.2.10
freeWAIS_VER = 2.2.10
gifutils_DESC ="Gifutils 1.0 - GIF Utilities"
gifutils_DIR = ./fileutil/gifutils-1.0
gifutils_VER = 1.0
mc_DESC =     "Mc 4.1 - Midnight Commander Visual Shell"
mc_DIR = ./fileutil/mc-4.1
mc_VER = 4.1
mpg123_DESC = "Mpg123 0.59k - MPEG Layer 3 Audio Player"
mpg123_DIR = ./audio/mpg123-0.59k
mpg123_VER = 0.59k
omniORB_DESC ="omniORB 2.5.0 - Object Request Broker"
omniORB_DIR = ./net/omniORB-2.5.0
omniORB_VER = 2.5.0
sgmltools_DESC ="SGML Tools 1.0.6"
sgmltools_DIR = ./textproc/sgml-tools-1.0.6
sgmltools_VER = 1.0.6
wuftpd_DESC =	"Wu-ftpd 2.4 - Washington University Ftp Daemon"
wuftpd_DIR = ./net/wu-ftpd-2.4
wuftpd_VER = 2.4
xfishtank_DESC ="Xfishtank 1.0 - X11 Fishtank"
xfishtank_DIR = ./x11/misc/xfishtank
xfishtank_VER = 1.0

DEFAULT_EXEC_PERMS = 0755
DEFAULT_FILE_PERMS = 0644
DEFAULT_FILE_MODE = 0644
DEFAULT_FILE_OWNER = bin
DEFAULT_FILE_GROUP = bin
DEFAULT_FILE_FLAGS =

DEFAULT_DIR_PERMS = 0755
DEFAULT_DIR_MODE = 0755
DEFAULT_DIR_OWNER = bin
DEFAULT_DIR_GROUP = bin
DEFAULT_DIR_FLAGS =

DEFAULT_FIFO_PERMS = 0644
DEFAULT_FIFO_MODE = 0644
DEFAULT_FIFO_OWNER = bin
DEFAULT_FIFO_GROUP = bin
DEFAULT_FIFO_FLAGS =

CD_MEDIA:
# default media definitions, change if desired
    distVersion     = 98.2
    distCode        = Skunkware
    paperLabel      = "SCO Skunkware 98 Tape Volume %s"

FLOPPY_MEDIA:
        device          = /dev/rfd0
        volumeSize      = 8000
        distVendor      = SCO
        distVersion     = 4.09
        distCode        = SKUNK98
        paperLabel      = "SCO Skunkware Xlock 4.09"


#CONFIG:
#	archiveMedia = TAPE
#	ssoDir = sso
#	compress = TRUE


CONFIG:
	archiveMedia = CD
	ssoDir = ssoCD
	compress = TRUE

#CONFIG:
#        archiveMedia    = FLOPPY
#        removeFiles     = FALSE
#        removalPrompt   = FALSE
#        compress        = TRUE
#        ssoDir          = sso

