@@@SKUNKHEADER(Audio / Video Tools)

<P>Welcome to the Skunkware 7 Audio / Video Tools section. Here you will
find sound card drivers, MPEG players and encoders, midi players, audio
CD players and mixers, and other 
tools used for developing and enjoying multimedia presentations.
</P>
#ifdef SKUNK_CD
<P>
Additional audio/video tools for SCO platforms are available via the
Skunkware web/ftp site at
<A HREF="http://skunkware.dev/skunkware/audiovis/">
http://skunkware.dev/skunkware/audiovis/</A>.
</P>
#endif
<P>
<A HREF="http://skunkware.dev/skunkware/">SCO Skunkware 97</A> included a 
SoundBlaster compatible driver for
SCO OpenServer and SCO UnixWare 2.x. UnixWare 7 contains this audio driver 
in the standard distribution. Drivers for additional sound cards
can be obtained from 
<A HREF="http://www.4front-tech.com/sco.html">4Front Technologies</A>.
In addition, 4Front maintains
a pretty good set of links to free audio software at
<A HREF="http://www.4front-tech.com/ossapps.html">
http://www.4front-tech.com/ossapps.html</A>.
</P>

@@@START_PACKAGELIST

@@@PACKLIST(maplay;MPEG audio player;1.2;Yes;Yes)
@@@PACKLIST(mpg123;MPEG audio layer 3 player;0.59k;Yes;Yes)
@@@PACKLIST(snd;Snd sound editor;23sep98;Yes;Yes)
@@@PACKLIST(timidity;Midi player;0.2i;Yes;Yes)
@@@PACKLIST(xmcd;Audio CD player;2.1;Yes;Yes)
@@@PACKLIST(Xmixer;Vtcl audio mixer;1.0;Yes;Yes)
@@@PACKLIST(xmmix;Motif audio mixer;1.2;Yes;Yes)
@@@PACKLIST(xwave;WAV audio player/editor;0.6;Yes;Yes)

@@@END_PACKAGELIST

#include "maplay.src"
#include "mpg123.src"
#include "snd.src"
#include "timidity.src"
#include "xmcd.src"
#include "Xmixer.src"
#include "xmmix.src"
#include "xwave.src"

@@@SKUNKFOOTER
