@@@SKUNKHEADER(Development Tools)

<P>Welcome to the Skunkware 7 Development Tools section. Here you will
find replacement compilers, debuggers, libraries and other tools used for
software development.
#ifdef SKUNK_CD
 A lot of these tools are updated regularly, so you
may want to check out the on-line version of this page at
<A HREF="http://www.sco.com/skunkware/devtools">
http://www.sco.com/skunkware/devtools/</A>
#endif
</P>

@@@START_PACKAGELIST

@@@PACKLIST(aalib;Ascii graphics library;1.2;Yes;Yes)
@@@PACKLIST(bison;GNU Project parser generator;1.25;Yes;Yes)
@@@PACKLIST(cvs;GNU concurrent version system;1.10;Yes;Yes)
@@@PACKLIST(flex;fast lexical analyzer generator;2.5.4a;Yes;Yes)
@@@PACKLIST(gdb;GNU Source level Debugger;970817;Yes;Yes)
@@@PACKLIST(make;GNU Make;3.76.1;Yes;Yes)
@@@PACKLIST(dejagnu;GNU test framework;971028;Yes;Yes)
@@@PACKLIST(gcc;GNU C compiler;2.8.0;Yes;Yes)
@@@PACKLIST(egcs;Experimental GNU C compiler;1.0.1;Yes;Yes)
@@@PACKLIST(autoconf;GNU configuration script generator;2.12;Yes;Yes)
@@@PACKLIST(getline;command-line editing library with history;39;No;Yes)
@@@PACKLIST(glib;Graphics Libraries;1.0;Yes;Yes)
@@@PACKLIST(mkpkg;SCO packaging front-ends;1.1;Yes;Yes)
@@@PACKLIST(rcs;GNU revision control system;5.7;Yes;Yes)
@@@PACKLIST(readline;GNU Readline Library;2.1;No;Yes)
@@@PACKLIST(stl;SGI Standard Template Library;3.11;Yes;Yes)

@@@END_PACKAGELIST

#include "aalib.src"
#include "bison.src"
#include "cvs.src"
#include "flex.src"
#include "gdb.src"
#include "make.src"
#include "dejagnu.src"
#include "gcc.src"
#include "egcs.src"
#include "autoconf.src"
#include "getline.src"
#include "glib.src"
#include "mkpkg.src"
#include "rcs.src"
#include "stl.src"
#include "readline.src"

@@@SKUNKFOOTER

