@@@SKUNKHEADER(Editors)

<P>Welcome to the Skunkware 7 Editors section. Here you will
find replacement editors. This section is concerned mainly with text
editors, or general purpose editors, not graphics editors or specialty
editors.</P>
#ifdef SKUNK_CD
<P>
Additional editing tools for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://skunkware.dev/skunkware/editors/">
http://skunkware.dev/skunkware/editors/</A>
</P>
#endif

@@@START_PACKAGELIST

@@@PACKLIST(elvis;a clone of the ex/vi text editor;2.0;Yes;Yes)
@@@PACKLIST(nedit;NEdit - GUI text editor;5.0.2;Yes;Yes)
@@@PACKLIST(nvi;The New VI;1.79;Yes;Yes)
@@@PACKLIST(vim;Vi IMproved, a programmers text editor;4.6;Yes;Yes)
@@@PACKLIST(xcoral;Multi-window mouse-based graphical text editor;3.1;Yes;Yes)
@@@PACKLIST(xemacs;XEmacs - the best Emacs ever;19.15;Yes;Yes)
@@@PACKLIST(xhtml;HTML editor;1.3;Yes;Yes)

@@@END_PACKAGELIST

#include "elvis.src"
#include "nedit.src"
#include "nvi.src"
#include "vim.src"
#include "xcoral.src"
#include "xemacs.src"
#include "xhtml.src"

@@@SKUNKFOOTER
