@@@SKUNKHEADER(Emulators)

<P>
Welcome to the SCO Skunkware emulators. This category contains software
which emulates other operating platforms and terminals, 
thus allowing the end-user to
run binary applications intended for that platform. For instance, one of
the packages contained herein allows users of SCO OpenServer or SCO
UnixWare systems to run binary applications intended for use on Linux
systems.
</P>
#ifdef SKUNK_CD
<P>
Additional emulation tools for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://skunkware.dev/skunkware/emulators/">
http://skunkware.dev/skunkware/emulators/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(Eterm;Enlightenment terminal emulator;0.8.8;Yes;Yes)
@@@PACKLIST(ecu;Communications program;4.13;Yes;Yes)
@@@PACKLIST(lxrun;Linux Emulator;0.8.8c;Yes;Yes)
@@@PACKLIST(rxvt;VT102 terminal emulator;2.4.5;Yes;Yes)
@@@END_PACKAGELIST

#include "Eterm.src"
#include "ecu.src"
#include "lxrun.src"
#include "rxvt.src"

@@@SKUNKFOOTER

