@@@SKUNKHEADER(File Managers / File Handling Utilities)

<P>Welcome to the Skunkware 7 File Managers section. These tools allow
users to navigate filesystems and manipulate files more easily than with
the standard UNIX commands. Mostly, these tools make UNIX a little more
accessible for the novice user. Most expert users will probably be
comfortable enough with the UNIX commands to not require these tools, but
if you are running a system which has novice users, these tools will help
them considerably.</P>

<P>Some of the other tools found in this section provide replacement
versions of some standard UNIX commands, but contain extra features. For
example, both the GNU tar and CPIO programs are found here, and they both
offer considerable advantages over the standard versions. As an example,
GNU tar can decompress and extract a compressed tar archive with a single
command, so you do not need to decompress the file first, or set up command
line pipes. The GNU diff replacement has a very useful addition called
<TT>sdiff</TT>, which provides for side-by-side file diffing.</P>
#ifdef SKUNK_CD
<P>
Additional file management tools for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://skunkware.dev/skunkware/fileutil/">
http://skunkware.dev/skunkware/fileutil/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(cdrecord;Cdrecord - create audio & data CD's;1.8a19;Yes;Yes)
@@@PACKLIST(cpio;GNU cpio;2.4.2;Yes;Yes)
@@@PACKLIST(fileutil;GNU file utilities;3.16;Yes;Yes)
@@@PACKLIST(findutils;GNU find utilities;4.1;Yes;Yes)
@@@PACKLIST(glimpse;Glimpse Index System;4.1;Yes;Yes)
@@@PACKLIST(mc;Midnight Commander;4.1;yes;Yes)
@@@PACKLIST(md5;calculate a message-digest checksum for a file;v1;No;Yes)
@@@PACKLIST(mgdiff;Motif-based graphical file difference browser;1.0;yes;Yes)
@@@PACKLIST(mtools;DOS filesystem manipulation tools;3.6;Yes;Yes)
@@@PACKLIST(netpbm;Graphical file conversion utilities;1.0;Yes;Yes)
@@@END_PACKAGELIST

#include "cdrecord.src"
#include "cpio.src"
#include "fileutil.src"
#include "findutils.src"
#include "glimpse.src"
#include "mc.src"
#include "md5.src"
#include "mgdiff.src"
#include "mtools.src"
#include "netpbm.src"

@@@SKUNKFOOTER
