@@@SKUNKHEADER(Interpreters / Scripting Languages)

<P>Welcome to the Skunkware 7 Interpreters section. The programs in this
section contain extra scripting languages, both for use from a shell and
for embedding within applications. Some of these tools, like Perl and TCL,
are often a standard part of UNIX, as they are that common and entrenched.</P>
#ifdef SKUNK_CD
<P>
Additional scripting tools for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://skunkware.dev/skunkware/interp/">
http://skunkware.dev/skunkware/interp/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(tcl802;Tool Command Language (TCL);8.0.2;No;Yes)
@@@PACKLIST(tclx802;Extended TCL;8.0.2;Yes;Yes)
@@@PACKLIST(tk802;Tk - an X11 Toolkit for TCL;8.0.2;No;Yes)
@@@PACKLIST(expect524;Expect - a TCL Extension;5.24;Yes;Yes)
@@@PACKLIST(python;Python - an object orient scripting tool;1.5;Yes;Yes)
@@@END_PACKAGELIST

#include "tcl802.src"
#include "tclx802.src"
#include "tk802.src"
#include "expect524.src"
#include "python.src"

@@@SKUNKFOOTER
