@@@SKUNKHEADER(Java)

<P>Welcome to the Skunkware 7 Java section. 
#ifdef SKUNK_CD
<P>
Additional Java software for SCO platforms will be available via the Skunkware
web/ftp site at
<A HREF="http://www.sco.com/skunkware/java/">
http://www.sco.com/skunkware/java/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(Acme;Acme Labs Java Software;1.1;Yes;Yes)
@@@PACKLIST(Earl;Earl - Cute little fella;1.0;Yes;Yes)
@@@PACKLIST(vrwave;VRwave VRML 2.0 browser;0.9;Yes;Yes)
@@@END_PACKAGELIST

#include "Acme.src"
#include "earl.src"
#include "vrwave.src"

@@@SKUNKFOOTER
