@@@SKUNKHEADER(Network / Internet )

<P>Welcome to the Skunkware 7 Network / Internet section. Here you will
find HTTP and FTP servers, WWW browsers, IRC &amp; Archie clients and other 
tools used for networking and internetworking.
</P>
#ifdef SKUNK_CD
<P>
Additional network/internet tools for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://www.sco.com/skunkware/net/">
http://www.sco.com/skunkware/net/</A>
</P>
#endif

@@@START_PACKAGELIST

@@@PACKLIST(Mosaic;NCSA Mosaic WWW browser;2.7b4;Yes;Yes)
@@@PACKLIST(apache;Apache HTTP server;1.2.5;Yes;Yes)
@@@PACKLIST(Count;WWW access counter;2.4;Yes;Yes)
@@@PACKLIST(ipalias;IP Address Alias Manager;1.0;No;Yes)
@@@PACKLIST(php;PHP/FI;2.0b12;Yes;Yes)
@@@PACKLIST(freeWAIS;Wide area information server;2.2.10;Yes;Yes)
@@@PACKLIST(httpanaly;log analyzer for web servers;1.9e;Yes;Yes)
@@@PACKLIST(irc;Internet Relay Chat server and client;2.9.3;Yes;Yes)
@@@PACKLIST(metahtml;Web Authoring Language;5.05;Yes;Yes)
@@@PACKLIST(msql;mSQL Relational Database Management System;2.0.3;Yes;Yes)
@@@PACKLIST(ncftp;NcFTP - Internet file transfer program;1.6.0;Yes;Yes)
@@@PACKLIST(squid;Proxy HTTP server;1.1.20;Yes;Yes)
@@@PACKLIST(xdir;graphical network-oriented file manager;2.0;Yes;Yes)
@@@PACKLIST(xt;communications program using telnet;1.2;No;Yes)
@@@PACKLIST(zircon;Tcl/Tk IRC client;1.18.44;Yes;Yes)

@@@END_PACKAGELIST

#include "mosaic.src"
#include "apache.src"
#include "Count.src"
#include "ipalias.src"
#include "php.src"
#include "freeWAIS.src"
#include "httpanaly.src"
#include "irc.src"
#include "metahtml.src"
#include "msql.src"
#include "ncftp.src"
#include "squid.src"
#include "xdir.src"
#include "xt.src"
#include "zircon.src"

@@@SKUNKFOOTER
