@@@SKUNKHEADER(Platform Package Listing)

<P>
What follows is a listing of the available SCO Skunkware 7 packages
for each operating platform (SCO OpenServer and SCO UnixWare). See also
the <A HREF="packages_a.html">alphabetical package listing</A>.
</P>

@@@START_PACKAGELIST
@@@PACKLIST(uw7;UnixWare Packages;97.1b;No;Yes)
@@@PACKLIST(osr5;OpenServer Packages;97.1b;Yes;No)
@@@END_PACKAGELIST
<P>
<A NAME="uw7"><IMG SRC="/skunkware/pics/gif/uw2pack.gif"></A>
#include "uw7.src"
<P>
<HR>
<P>
<A NAME="osr5"><IMG SRC="/skunkware/pics/gif/osr5pack.gif"></A>
#include "osr5.src"

@@@SKUNKFOOTER

