 @@@SKUNKHEADER(Skunkware 7 Release Notes)
<P>
<H3>Table of Contents</H3>
<P>
<UL>
#ifdef SKUNK_CD
<LI><A HREF="#latest">Updates to these notes</A>
#endif
<LI><A HREF="#what">What is it ?</A>
    <UL>
    <LI><A HREF="#intro">Introduction</A>
    <LI><A HREF="#license">Licensing</A>
    <LI><A HREF="#categories">Software Categories</A>
    <LI><A HREF="#serious">Serious Tools</A>
    <LI><A HREF="#fun">Fun Stuff</A>
    <LI><A HREF="#experimental">Experimental Research</A>
    <LI><A HREF="#disclaimer">Disclaimer</A>
    </UL>
<LI><A HREF="#starting">Getting started</A>
    <UL>
    <LI><A HREF="#mounting">Mounting the Skunkware 7 CD-ROM</A>
    <LI><A HREF="#browsing">Browsing the Skunkware 7 HTML documents</A>
    <LI><A HREF="#moving">Making room for the Skunkware 7 software</A>
    <LI><A HREF="#installing">Installing the Skunkware 7 software</A>
    <LI><A HREF="#removing">Removing the Skunkware 7 software</A>
    <LI><A HREF="#unload">"Unloading" the Skunkware 7 software</A>
    </UL>
<LI><A HREF="#uw7">UnixWare 7</A>
    <UL>
    <LI><A HREF="#uw7inst">UnixWare 7 installation notes</A>
    <LI><A HREF="#magic">Augmented /etc/magic for UnixWare 7</A>
    <LI><A HREF="#ipalias">IP Address Alias SCOadmin Manager</A>
    <LI><A HREF="#built">Built (precompiled) source directories</A>
    <LI><A HREF="#scripts">Miscellaneous scripts and startup files</A>
    </UL>
<LI><A HREF="#osr5">OpenServer</A>
<LI><A HREF="#uw2">UnixWare 2.x</A>
<LI><A HREF="#other">Other systems</A>
<LI><A HREF="#source">Source Code Distribution</A>
<LI><A HREF="#tls">Technical Library Supplements</A>
<LI><A HREF="#config">Default package configurations</A>
    <UL>
    <LI><A HREF="#apache">Apache port and document root</A>
    <LI><A HREF="#squid">Squid port and accelerator</A>
    <LI><A HREF="#gcc">Two (2) GNU C compilers (FSF and EGCS)</A>
    <LI><A HREF="#htmlman">HTML documentation in /usr/local/man/html</A>
    <LI><A HREF="#sw7mount">Serving the Skunkware 7 HTML documents</A>
    <LI><A HREF="#inn">INN creates user "news" and group "news"</A>
    <LI><A HREF="#xmcd">Xmcd install prompts for CD make and model</A>
    <LI><A HREF="#netpbm">Netpbm binaries in /usr/local/netpbm</A>
    <LI><A HREF="#procdump">Proc utility lives in /opt/bin</A>
    <LI><A HREF="#wmconf">Alternate window managers' default configurations</A>
    <LI><A HREF="#xgalaga">Xgalaga defaults to audio on</A>
    <LI><A HREF="#enlighten">Enlightenment themes need large deep screen</A>
    </UL>
<LI><A HREF="#limits">Known limitations and problems:</A>
    <UL>
    <LI><A HREF="#musserver">Missing music server in xdoom package</A>
    <LI><A HREF="#depend">Missing package dependencies (especially glib)</A>
    <LI><A HREF="#tmpdir">Insufficient space in /tmp and /var/tmp</A>
    <LI><A HREF="#disk7">Disk space consumption on UnixWare 7</A>
    <LI><A HREF="#disk5">Disk space consumption on OpenServer 5</A>
    <LI><A HREF="#xgrab">Xdoom/Xgrab/Xgrabsc need a PseudoColor visual</A>
    <LI><A HREF="#wmexit">Exiting the alternate window managers</A>
    <LI><A HREF="#xboing">Xboing minimum height</A>
    <LI><A HREF="#freefont">Adding freefont directory to your font path</A>
    <LI><A HREF="#dtlogin">Use startx rather than the CDE graphical login</A>
    <LI><A HREF="#man5">OpenServer man command search directories</A>
    <LI><A HREF="#compman">Compressed manual pages</A>
    <LI><A HREF="#osr5gimp">OpenServer default gimp fonts</A>
    <LI><A HREF="#makecd">Makecd limitations</A>
    <LI><A HREF="#osr5tcl8">OpenServer Tcl 8 installation</A>
    <LI><A HREF="#osr5g++">OpenServer g++ notes</A>
    <LI><A HREF="#xlincity">Xlincity needs PseudoColor visual</A>
    </UL>
</UL>
<P>
<HR>
<P>
#ifdef SKUNK_CD
<A NAME="latest"><B>Updates To These Notes </B></A>
<P>
The very latest Release Notes for Skunkware 7 can be found at
<A HREF="http://skunkware.dev/skunkware/uw7/relnotes.html">
http://skunkware.dev/skunkware/uw7/relnotes.html</A>
or
<A HREF="ftp://ftp.sco.com/skunkware/uw7/relnotes.html">
ftp://ftp.sco.com/skunkware/uw7/relnotes.html</A>
<P>
#endif
<A NAME="what"><B>What is it ?</B></A>
<P>
<DL>
<DT><A NAME="intro"></A>
<DD>
SCO Skunkware is the generic name for a free collection of software 
prebuilt for SCO systems. This distribution is Skunkware 7 (the distribution 
naming is rather eclectic) and is targeted mainly at the Unixware 7 platform 
though there are packages here for both UW 2.x and OpenServer. 
<P>
Distributions are released on CD periodically and a repository of this 
and previous distributions as well as updates and corrections can 
always be found at 
<A HREF="http://www.sco.com/skunkware">
http://www.sco.com/skunkware</A>.
<P>
SCO Skunkware is software for entertainment, education,
experimentation, and often real work.   It is provided
for free and is not formally supported by SCO.
<P>
<DT><A NAME="license"></A>
<DD>
The software on the Skunkware 7 CD-ROM is licensed under a variety
of terms. Much of it is licensed under the terms of the 
<A HREF="info/gpl.html">GNU General Public License</A>.
Some is licensed under the
<A HREF="info/lgpl.html">GNU Library General Public License</A>.
Other components are licensed under the
<A HREF="info/Artistic">Artistic License</A>. Many of the components are
"freeware" with no restrictions on their redistribution while a few components
are "shareware" meaning the author would like you to try the software and,
if you wish to use it, send her some money. A few components are commercial
products which can be used freely for non-commercial purposes (e.g. msql).
Some components simply restrict their use to non-commercial purposes.
<P>
To determine the licensing conditions for a particular component, see the
corresponding source in the <A HREF="src">source directory</A>. With the
infrequent exception of SCO proprietary code, all Skunkware components are
accompanied by the source used to build them. The source is archived in
<A HREF="src/CONTENTS.html">the src subdirectory</A> by category.
The categories are:
<CENTER>
<P>
<DT><A NAME="categories"></A>
<TABLE BORDER=6 CELLSPACING=3 CELLPADDING=3>
<TR><TH COLSPAN=9>Skunkware 7 Software Categories</TH></TR>
<TR>
<TD ALIGN=CENTER><A HREF="src/audio">
audio</A></TD>
<TD ALIGN=CENTER><A HREF="src/emulators">
emulators</A></TD>
<TD ALIGN=CENTER><A HREF="src/libraries">
libraries</A></TD>
<TD ALIGN=CENTER><A HREF="src/shellutil">
shellutil</A></TD>
<TD ALIGN=CENTER><A HREF="src/fileutil">
fileutil</A></TD>
<TD ALIGN=CENTER><A HREF="src/mail">
mail</A></TD>
<TD ALIGN=CENTER><A HREF="src/sysadmin">
sysadmin</A></TD>
<TD ALIGN=CENTER><A HREF="src/db">
db</A></TD>
<TD ALIGN=CENTER><A HREF="src/net">
net</A></TD></TR>
<TR><TD ALIGN=CENTER><A HREF="src/textproc">
textproc</A></TD>
<TD ALIGN=CENTER><A HREF="src/devtools">
devtools</A></TD>
<TD ALIGN=CENTER><A HREF="src/interp">
interp</A></TD>
<TD ALIGN=CENTER><A HREF="src/news">
news</A></TD>
<TD ALIGN=CENTER><A HREF="src/video">
video</A></TD>
<TD ALIGN=CENTER><A HREF="src/editors">
editors</A></TD>
<TD ALIGN=CENTER><A HREF="src/lib">
lib</A></TD>
<TD ALIGN=CENTER><A HREF="src/shells">
shells</A></TD>
<TD ALIGN=CENTER><A HREF="src/www">
www</A></TD></TR>
<TR><TH COLSPAN=9>X11 Graphical Categories</TH></TR>
<TR><TD ALIGN=CENTER><A HREF="src/x11/apps">
apps</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/fonts">
fonts</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/games">
games</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/graphics">
graphics</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/misc">
misc</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/savers">
savers</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/utils">
utils</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/viewers">
viewers</A></TD>
<TD ALIGN=CENTER><A HREF="src/x11/winman">
winman</A></TD>
</TD></TR></TABLE>
</CENTER>
<P>
<DT><A NAME="serious"></A>
<DD>
Many of the components of SCO Skunkware may be viewed as productivity and
development tools to be taken seriously. Don't let its whimsical nature
fool you. Examples of serious tools on Skunkware 7 include:
<UL>
<LI>The GNU C Compilation system
<LI>The IP Address Alias Manager for SCOadmin
<LI>Mtools - DOS filesystem manipulation tools
<LI>Scripting languages (Tcl, Tk, Python, Expect)
<LI>Process and core information utility (proc)
<LI>Internet/Network tools (apache, squid, xdir, many more)
<LI>Editors and text processing tools (xcoral, xemacs, ghostscript, vim, xhtml)
<LI>Many many more
</UL>
<DT><A NAME="fun"></A>
<DD>
Of course, Skunkware also contains fun stuff. Gotta have something to keep
the polecats entertained thru the night. Examples include:
<UL>
<LI>Games (xdoom, xgalaga, xboing, xpool)
<LI>Graphics (mathematical recreations, animation viewers, image manipulators)
<LI>Audio (audio players and editors, mixers, CD players, games with sound)
<LI>Stuff (view astrology charts, graphical fish tank, lots more)
</UL>
<DT><A NAME="experimental"></A>
<DD>
Several of the components on this CD should be considered experimental.
Consider Skunkware a research tool. Examples:
<UL>
<LI>Egcs, the Experimental GNU Compilation System from Cygnus.
<LI>Alpha or pre-release versions of window managers and graphical tools
<LI>A variety of Java classes and applications from Acme Laboratories
<LI>VRwave, a Java based VRML 2.0 browser
<LI>Endo, a tool for exploring dynamical systems in the plane
</UL>
<P>
<DT><A NAME="disclaimer"></A>
<DD>
<P>Remember, Skunkware is freely distributed and <I>unsupported</I> software.
No warranty is made on any of the Skunkware components. Support and assistance
with this software is not provided by SCO. In many cases, however, an e-mail
to <A HREF="mailto:skunkware@sco.com">skunkware@sco.com</A> describing any 
problem you might have may result in a reply/fix/solution. And ...
<CENTER>
<P><FONT SIZE=-2>
"The Santa Cruz Operation, Inc. and SCO Skunkware are not
related to, affiliated with or licensed by the famous Lockheed
Martin Skunk Works (R), the creator of the F-117 Stealth Fighter,
SR-71, U-2, Venturestar(tm), Darkstar(tm), and other pioneering
air and spacecraft."</FONT></CENTER>
</DL>
<P>
<A NAME="starting"><B>Getting Started </B></A>
<P>
<UL>
<LI><A NAME="mounting">Mounting the Skunkware 7 CD-ROM</A>
<P>
[Note that it is not necessary to mount the Skunkware 7 CD-ROM
in order to install the pkgadd installable packages. See the section
below on <A HREF="#installing">installing the Skunkware 7 software</A>.]
<P>
To mount the Skunkware 7 CD-ROM on an SCO UnixWare system, use the command:
<PRE>
    # mount -r -f cdfs /dev/cdrom/c1b0t0l0 /&lt;mount-point&gt;
</PRE>
where &lt;mount-point&gt; refers to the full pathname of the directory on
which you wish to mount the CD-ROM (e.g. /mnt).
Note also that the CD-ROM device name may vary from system to system
(the exact name for the cdrom device is usually the only entry in /dev/cdrom).
<P>
On an SCO OpenServer Release 5 system issue the command:
<PRE>
    # mount -r /dev/cd0 /&lt;mount-point&gt;
</PRE>
<P>
<LI><A NAME="moving">Making room for the Skunkware 7 software</A>
<P>
Almost all of the files in the Skunwkare 7 distribution will be installed
in /usr/local. Unfortunately, in UnixWare 7 the /usr/local directory is on
the root filesystem and contains the Netscape Navigator plugins. Therefore,
you may wish to move the existing /usr/local hierarchy to a filesystem with
sufficient disk space and create a symbolic link from /usr/local. For instance,
assuming you had created a /u filesystem with plenty of space:
<PRE>
    # mv /usr/local /u/local
    # ln -s /u/local /usr/local
</PRE>
<P>
<LI><A NAME="installing">Installing the Skunkware 7 Software</A>
<P>
To install most of the software available on the CD,
you can invoke one of the following as a system owner:
<P>
<HR>
<OL>
<LI>After mounting the CD-ROM, run the command:
<PRE>
    # /&lt;mount-point&gt;/INSTALL
</PRE>
This is the recommended Skunkware 7 installation procedure.
The INSTALL program will detect which platform you are installing on,
(possibly) ask some questions and install all the available packaged files 
for that platform. On UnixWare 7 this installation method also installs several 
additional UnixWare 2.x packages in /&lt;mount-point&gt;/uw2/Packages, 
consuming around 30 MB of additional disk space. UnixWare 7 installs will also
be given the opportunity to update /etc/magic with the augmented /etc/magic
on Skunkware 7 when using this installation method.
<LI>After mounting the CD-ROM, run the command:
<PRE>
    # pkgadd -d /&lt;mount-point&gt; [glib tcl802 tk802 all | package_list]
</PRE>
<LI>Prior to mounting the CD-ROM, you can install the software with:
<PRE>
    # pkgadd -d /dev/cdrom/c1b0t010 [glib tcl802 tk802 all | package_list]
</PRE>
where /dev/cdrom/c1b0t0l0 is the device node name of your CD-ROM drive
(this may vary from system to system).
</OL>
<HR>
<P>
The installation of all the Skunkware 7 components requires about 150 MB 
of free space on the root partition for OpenServer, about 500 MB of free 
space on the partition used by /usr/local for UnixWare 7 and around 80 MB
on UnixWare 2.x.
<P>
Further platform-specific installation instructions are available later
in these notes:
<UL>
<LI><A HREF="#uw7">UnixWare 7 Installation</A>
<LI><A HREF="#uw2">UnixWare 2.x Installation</A>
<LI><A HREF="#osr5">OpenServer 5 Installation</A>
</UL>
<P>
After completing the installation of the Skunkware 7 components you desire,
you may wish to add /usr/local/bin to your PATH and /usr/local/man to your
MANPATH. You may also wish to add /usr/local/java to your CLASSPATH. It should
not be necessary to add /usr/local/lib to your LD_LIBRARY_PATH as the
Skunkware 7 shared libraries have been built with the appropriate flags.
<P>
To query the system about installed Skunkware 7 packages, issue the command:
<PRE>
    # pkginfo -c skunkware
</PRE>
<P>
<LI><A NAME="browsing">Browsing the Skunkware 7 HTML Documents</A>
<P>
For an introductory tour, point a web browser at 
<A HREF="index.html">
/&lt;mount-point&gt;/index.html</A>
<PRE>
    # /usr/bin/X11/netscape file:/&lt;mount-point&gt;/index.html
</PRE>
If you do not have Netscape Navigator installed, download a trial copy from
<A HREF="http://www2.sco.com">http://www2.sco.com</A> 
or (for OpenServer) install NCSA Mosaic off of this CD:
<PRE>
    # custom -p SKUNK97:default:Mosaic -i -z /&lt;mount-point&gt;/osr5/inst
</PRE>
or use any browser that supports tables and open the URL file:/&lt;mount-point&gt;/index.html
(assuming you mounted the CD on /&lt;mount-point&gt;).
<P>
If you do not have or want a graphical browser, you can install Lynx 2.7.1
(a character browser) off of this CD (OpenServer only, if you are running
UnixWare 7 then Lynx is included by default).
<PRE>
    # custom -p SKUNK97:default:Lynx -i -z /&lt;mount-point&gt;/osr5/inst
</PRE>
Then execute the command:
<PRE>
    # lynx file:/&lt;mount-point&gt;/index.html
</PRE>
<P>
SCO Skunkware 7 contains both files suitable for installation on SCO UnixWare 
systems with the pkgadd facility, and media images suitable for installation
on SCO OpenServer systems with the custom utility, 
In addition, there are compressed archives of pre-compiled utilities
which can be extraced manually. Finally, there are 
<A HREF="src/">hundreds of source archives</A>
(almost everything on the CD is accompanied by the source used to build it).
<P>
<LI><A NAME="removing">Removing the Skunkware 7 software</A>
<P>
If you wish to remove the Skunkware 7 components installed with the pkgadd
facility, first mount the Skunkware 7 CD-ROM using a command similar to the
example above. Then, as a user with owner privileges, issue the command:
<PRE>
    # &lt;mount-point&gt;/REMOVE
</PRE>
This will remove all of the Skunkware 7 packages which were installed with
the pkgadd facility. The REMOVE command will occasionally leave remnants of
some packages. In particular, you may need to manually remove
/usr/local/squid and /usr/local/man. Further, the REMOVE command does not
remove the "news" user and "news" group created by the INN installation nor
does it restore the original /etc/magic.

<P>
<LI><A NAME="unload">"Unloading" the Skunkware 7 software</A>
<P>
Some sites may wish to make the Skunkware 7 packages available for download
via ftp/http. In that case it is convenient to transfer the packages from
the CD-ROM to an ftp download area or an httpd document root. It's also nice
to provide the packages as a single file rather than in filesystem layout.
To assist in this process, i have written a script called UNLOAD. This shell
script acts as a front-end to the pkgtrans program and transforms each of the
pkgadd installable filesystem format packages on the CD-ROM into pkgadd
installable data-stream format packages on the hard disk. To "unload" the
Skunkware 7 software, issue the following command as a system owner:
<PRE>
    # &lt;mount-point&gt;/UNLOAD
</PRE>
You will be prompted for a location for the data-stream package files
to be placed.
</UL>
<P>
<A NAME="uw7"><B>SCO UnixWare 7</B></A>
<P>
<UL>
<LI><A NAME="uw7inst">UnixWare 7 installation notes</A>:
<P>
The pkgadd installable files for UnixWare 7 are located in 
/&lt;mount-point&gt;/&lt;package-name&gt;
(in pkgadd Filesystem Format files) on the CD-ROM (where &lt;package-name&gt;
indicates the package name).
<P>
They are installed into  /usr/local and in total consume about 500 MB. 
<P>
To install an individual package, execute the command:
<PRE>
    # pkgadd -d /&lt;mount-point&gt; package_name
</PRE>
    where "package_name" is the name of the desired component.
<BR>
    or
<PRE>
    # pkgadd -d /&lt;mount-point&gt;  
</PRE>
    and select the name of the package to install
  <P>      
For a list of all the pkg installable components see the file
/&lt;mount-point&gt;/uw7/CONTENTS.
<P>
An interactive graphical installation can be performed by running 
/usr/X/bin/PackageMgr (with owner permissions):
<P>
Select "CD-ROM_1" from the "Install from" Combo Box.
<P>
Wait for the Packages to be scanned then select the Packages you want
installed and press the install button. Unfortunately, i have not found
an easy way to install all of the packages with PackageMgr. To install
all of the packages on the Skunkware 7 CD-ROM, either run the INSTALL script
or use the pkgadd command:
<PRE>
    # pkgadd -d /&lt;mount-point&gt; glib tcl802 tk802 all
</PRE>
<P>
<LI><A NAME="magic">Augmented /etc/magic for UnixWare 7</A>:
<P>
Some of the Skunkware 7 components intended for use on UnixWare 7 are not
pkgadd installable. Notably, there is an augmented /etc/magic file in
<A HREF="sco/magic">/&lt;mount-point&gt;/sco/magic</A>. 
This augmented /etc/magic contains support for additional file types including 
Java class files. To install it, back-up your existing /etc/magic and copy the 
new one in off of the Skunkware CD-ROM:
<PRE>
    # cp /etc/magic /etc/magic.00 
    # cp /&lt;mount-point&gt;/sco/magic /etc/magic
</PRE>
Note that the INSTALL command on Skunkware 7 prompts for the installation
of the augmented /etc/magic. 
<P>
<LI><A NAME="ipalias">IP Address Alias SCOadmin Manager</A>:
<P>
The "IP Address Alias Manager" administers network addresses for
configured IP interfaces - enabling the virtual domains
services in both FTP server and mail delivery.
<P>
Currently UnixWare 7 does not have a manager to do this and the
administrator has to set up the aliases by hand.
<P>
Included in the image is a set of HTML pages that are added to
SCOhelp at install time. The doc is under Networking ->
Administering TCP/IP and Internet services -> Configuring IP Address Aliases.
<P>
The package is fully removable and can be installed with the command:
<PRE>
    # pkgadd -d /&lt;mount-point&gt; ipalias
</PRE>
<P>
<LI><A NAME="built">Built (precompiled) source directories</A>:
<P>
The Skunkware 7 CD-ROM contains several "pre-compiled" source archives.
These include:
    <UL>
    <LI><A HREF="uw7/net/php-2.0b12-built.tar.gz">
    uw7/net/php-2.0b12-built.tar.gz</A>
    <LI><A HREF="uw7/textproc/a2ps-4.9.7-built.tar.gz">
    uw7/textproc/a2ps-4.9.7-built.tar.gz</A>
    <LI><A HREF="uw7/mail/imap-4.1.BETA-built.tar.gz">
    uw7/mail/imap-4.1.BETA-built.tar.gz</A>
    <LI><A HREF="uw7/mail/procmail-3.11pre7-built.tar.gz">
    uw7/mail/procmail-3.11pre7-built.tar.gz</A>
    </UL>
In order to install one of these you will need to unpack the archive
and run "make install" in the already built source directory. For instance,
to install the PHP/FI cgi-bin program, follow these steps (as root):
<PRE>
    # cd /x/src/www
    (this can be anywhere you have write permission and sufficient disk space)
    # cd php-2.0b12
    # make install
</PRE>
<P>
<LI><A NAME="scripts">Miscellaneous scripts and startup files</A>
<P>
There are several useful scripts in the <A HREF="sco">sco directory</A>.
The <A HREF="uw7/x11/winman">uw7/x11/winman directory</A> contains some 
examples of how to configure your X session to use one of the alternate 
window managers (e.g. AfterStep) as well as examples of how to configure
the UnixWare graphical login and session manager to include these alternate
window managers. There are several audio files in the <A HREF="audio">
audio directory</A>. A script to maintain hypermail archives is in the
<A HREF="uw7/mail">uw7/mail directory</A>.
</UL>
<P>
<A NAME="osr5"><B>SCO OpenServer</B></A>
<P>
The media images for SCO OpenServer are located in /&lt;mount-point&gt;/osr5/inst
on the CD-ROM. The packages will be exported to /usr/local and in total
consume about 150 MB.
<P>
To install an individual package, execute the command:
<PRE>
    # custom -p SKUNK97:default:Package -i -z /&lt;mount-point&gt;/osr5/inst
</PRE>
where "Package" is the name of the desired component. See the file
/&lt;mount-point&gt;/osr5/CONTENTS for the list of available components.
<P>
An interactive graphical installation can be performed by running 
/etc/custom as root and choosing to install from "media images". 
Enter the pathname of the media images (e.g. /&lt;mount-point&gt;/osr5/inst) and choose 
to do a full install.
<P>
If, as root, you are running the X.Desktop, then you can configure your
system to mount the SCO Skunkware 7 CD-ROM by double-clicking the System
Administration folder -&gt; Filesystems -&gt; Filesystem Manager. Alternatively,
at a root shell prompt, type "scoadmin f" to bring up the Filesystem Manager.
Next select Mount -&gt; Add Mount Configuration -&gt; Local and enter /dev/cd0 for 
the device and a mount point. Change the "Can Users Mount" 
to Yes and uncheck the "At System Startup" mount. After completing this 
operation, you should be able to mount and unmount the SCO Skunkware 7 CD-ROM 
by typing "mnt &lt;mount-point&gt; and "umnt &lt;mount-point&gt; as any user.
<P>
The Skunkware 7 CD-ROM contains several additional distributions intended for
use on SCO OpenServer systems but not yet packaged for installation via the
SCO custom facility. To install one of these distributions, it is necessary
to extract the archive from / as root as follows:
<PRE>
    # cd /
    # gzcat /&lt;mount-point&gt;/osr5/path/to/foo-rel-dist.tar.gz | tar xf -
</PRE>
These additional binary distributions include:
<UL>
<LI><A HREF="osr5/emulators/rxvt-2.20-dist.tar.gz">
osr5/emulators/rxvt-2.20-dist.tar.gz</A>
<LI><A HREF="osr5/emulators/lxrun/lxrun-0.8.8c-dist.tar.gz">
osr5/emulators/lxrun/lxrun-0.8.8c-dist.tar.gz</A>
<LI><A HREF="osr5/mail/fetchmail-4.2.5-dist.tar.gz">
osr5/mail/fetchmail-4.2.5-dist.tar.gz</A>
<LI><A HREF="osr5/mail/mutt-0.88e-dist.tar.gz">
osr5/mail/mutt-0.88e-dist.tar.gz</A>
<LI><A HREF="osr5/shells/tcsh-6.07-dist.tar.gz">
osr5/shells/tcsh-6.07-dist.tar.gz</A>
<LI><A HREF="osr5/x11/viewers/gv-3.5.8-dist.tar.gz">
osr5/x11/viewers/gv-3.5.8-dist.tar.gz</A>
<LI><A HREF="osr5/x11/viewers/Xswallow-1.0.10-dist.tar.gz">
osr5/x11/viewers/Xswallow-1.0.10-dist.tar.gz</A>
<LI><A HREF="osr5/x11/games/xgalaga-1.6c-dist.tar.gz">
osr5/x11/games/xgalaga-1.6c-dist.tar.gz</A>
<LI><A HREF="osr5/x11/games/xdoom-1.10-dist.tar.gz">
osr5/x11/games/xdoom-1.10-dist.tar.gz</A>
<LI><A HREF="osr5/x11/graphics/xfig-3.2-dist.tar.gz">
osr5/x11/graphics/xfig-3.2-dist.tar.gz</A>
<LI><A HREF="osr5/devtools/binutils-2.8.1-dist.tar.gz">
osr5/devtools/binutils-2.8.1-dist.tar.gz</A>
<LI><A HREF="osr5/www/xt-1.2-dist.tar.gz">
osr5/www/xt-1.2-dist.tar.gz</A>
<LI><A HREF="osr5/textproc/a2ps-4.9.7-dist.tar.gz">
osr5/textproc/a2ps-4.9.7-dist.tar.gz</A>
<LI><A HREF="osr5/fileutil/tar-1.12-dist.tar.gz">
osr5/fileutil/tar-1.12-dist.tar.gz</A>
</UL>
<P>

<A NAME="uw2"><B>SCO UnixWare 2.x</B></A>
<P>
The pkgadd installable files for UnixWare 2.x systems are located in 
/&lt;mount-point&gt;/uw2/Packages/&lt;package-name&gt;.pkg
(in pkgadd Data Stream Format files) on the CD-ROM (where &lt;package-name&gt;
indicates the package name). 
<P>
They are installed into  /usr/local and in total consume about 80 MB. 
<P>
To install an individual package, execute the command:
<PRE>
    # pkgadd -d /&lt;mount-point&gt;/uw2/Packages/package_name.pkg
</PRE>
    where "package_name" is the name of the desired component.
  <P>      
For a list of all the pkg installable components see the file
/&lt;mount-point&gt;/uw2/CONTENTS.
<P>
The Skunkware 7 CD-ROM contains several "pre-compiled" source archives
intended for installation on UnixWare 2.x systems. These include:
    <UL>
    <LI><A HREF="editors/emacs-20.2.UW2.tar.gz">
                 editors/emacs-20.2.UW2.tar.gz</A>
    <LI><A HREF="emulators/lxrun-0.8.8c-dist.tar.gz">
                 emulators/lxrun-0.8.8c-dist.tar.gz</A>
    <LI><A HREF="emulators/rxvt-2.20-dist.tar.gz">
                 emulators/rxvt-2.20-dist.tar.gz</A>
    <LI><A HREF="x11/games/xdoom-1.10-dist.tar.gz">
                 x11/games/xdoom-1.10-dist.tar.gz</A>
    <LI><A HREF="x11/viewers/mgdiff-1.0.UW2.tar.gz">
                 x11/viewers/mgdiff-1.0.UW2.tar.gz</A>
    <LI><A HREF="x11/viewers/xv-3.10a.pkg.tar">
                 x11/viewers/xv-3.10a.pkg.tar</A>
    </UL>
<P>
<A NAME="other"><B>Other</B></A>
<P>
On any other system, after mounting or otherwise making the High-Sierra
Rockridge CD-ROM filesystem accessible, point your WWW browser to
&lt;mount-point&gt;/index.html where &lt;mount-point&gt; indicates
the UNIX directory or Windows drive representing the CD-ROM.
<P>
<A NAME="source"><B>Source Code Distribution</B></A>
<P>
In almost all cases, source code is also provided, so you can rebuild 
for earlier SCO releases or other platforms.
Source code is provided in the <A HREF="src/CONTENTS.html">src directory</A>.  
In some cases, source code is provided but no
compiled binaries. The source distributions are in gzip-compressed
tar or cpio format. In order to extract these, use the command:

<PRE>
    $ gzcat /&lt;mount-point&gt;/src/&lt;directory&gt;/&lt;package&gt;.tar.gz | tar xf -
</PRE>

or, in the case of a compressed cpio archive:

<PRE>
    $ gzcat /&lt;mount-point&gt;/src/&lt;directory&gt;/&lt;package&gt;.cpio.gz | cpio -icdu
</PRE>

Where &lt;directory&gt; refers to the top-level source directory
and &lt;package&gt; is the package name (e.g. gzip-1.2.4).
<P>
If you do not have gzcat installed (part of the gzip package), you can
install it off of the SCO Skunkware 7 CD via the command:

<PRE>
        (UnixWare 7 systems)
        # pkgadd -d /&lt;mount-point&gt; gzip

        (UnixWare 2.x systems)
        # pkgadd -d /&lt;mount-point&gt;/uw2/Packages/gzip.pkg

        (OpenServer systems)
        # custom -p SKUNK97:default:GZIP -i -z /&lt;mount-point&gt;/osr5/inst
</PRE>
<P>
<A NAME="tls"><B>Technical Library Supplements</B></A>
<P>
You may also find the 
<A HREF="ftp://ftp.sco.com/TLS/">SCO Technical Library Supplements </A>
to be of interest. These are drawn from the 
<A HREF="http://www.sco.com/support/">SCO Support Online System</A>,
and are accessible via anonymous ftp on the Internet from 
<A HREF="ftp://ftp.sco.com">ftp.sco.com</A>
or via web facilities at 
<A HREF="http://www.sco.com">
http://www.sco.com</A>
<P>

<A NAME="config"><B>Default Package Configurations</B></A>
<P>
Many of the Skunkware packages contain configuration files. In order to
avoid excessive user interaction during installation and to provide a
consistent and well integrated set of configurations, the Skunkware 7
packages have been pre-configured (with the exception of xmcd which will
prompt you for your CD-ROM make and model; and inn which may prompt for a
"news" user password).
<P>
Generally, you will not need to alter the default configurations but you
may choose to do so. Some of the package pre-configurations are as follows:
<UL>
<LI><A NAME="apache">
The Apache web server is configured to run on port 8080</A>. If you are not
going to use Squid as an httpd accelerator, you may wish to run the Apache
web server on port 80. To do so, modify /usr/local/lib/apache/conf/httpd.conf.
Further, the default document directory for the Apache web server is set to
/usr/local/lib/apache/htdocs. If you wish to serve your HTML documents out
of a different location, modify /usr/local/lib/apache/conf/srm.conf and
/usr/local/lib/apache/conf/access.conf
<LI><A NAME="squid">
The Squid Internet Object Cache is configured to run on port 80</A> and to 
act as an httpd accelerator for the server running on port 8080 (by default,
the Apache web server). If you wish to use this default configuration,
remember to stop/disable any other server running on port 80. In particular,
the Netscape FastTrack server is usually configured to run on port 80.
<LI><A NAME="gcc">
Skunkware 7 contains pkgadd installable versions of both the Free Software
Foundation's GNU C Compiler and Cygnus' experimental GNU C Compiler (EGCS).
Either or both of these packages can be installed. If both are installed,
the file /etc/default/gcc can be used to specify which is the default
preferred compiler. The entries in this file set the system-wide default.
An individual user can override this default by setting and exporting the
PREFERRED_GCC environment variable. This variable must be set to either
/usr/local/lib/front-fsf or /usr/local/lib/front-egcs. If set incorrectly,
the system will revert to the preference specified in /etc/default/gcc.
<LI><A NAME="htmlman">
Several packages install documentation, manuals, tutorials and other</A>
introductory and informative matter as HTML documents in /usr/local/man/html.
During the installation of these packages, a symbolic link is created in
the default Apache web server document root. Thus, the documentation for
these packages can be accessed via a browser. For instance, the HTML documents
describing the Xcoral editor are installed in /usr/local/man/html/xcoral.
A symbolic link pointing to this location is installed as
/usr/local/lib/apache/htdocs/xcoral. Thus, to access the Xcoral HTML 
documentation, you need only open the URL http://your.server.name/xcoral/
These convenience links are provided for xcoral, fetchmail, addressbook,
apache, metahtml, msql, tcsh, hypermail, squid and the TIFF
library package.
<LI><A NAME="sw7mount">
If you mount the CD-ROM under your default document root, </A>
you will be able to serve up the Skunkware 7 HTML documents
with your web server. For instance, after installing the apache and squid
packages, if you mounted the Skunkware 7 CD-ROM on 
/usr/local/lib/apache/htdocs/skunkware, then opening the URL
http://your.server.name/skunkware/ would allow you to browse the contents
of the Skunkware 7 CD-ROM from any browser that could access your server.
<LI><A NAME="inn">
The INN installation is configured to install many of its files owned </A>
by the user "news" and group "news". During the inn package installation,
this user/group is created if it doesn't already exist. If the installation
creates a "news" user, you will be prompted for a password during installation.
<LI><A NAME="xmcd">
The Xmcd (Motif audio CD player) package will prompt you for the CD drive </A>
configuration during the installation. If you wish to configure Xmcd during
the installation, you should know the make and model number of your CD drive(s).
<LI><A NAME="netpbm">
The Netpbm suite of graphical file conversion utilities installs its </A>
binaries in /usr/local/netpbm. That's because there are 175 of them. In order
to use these quite useful utilities, you will need to do one of the following:
    <UL>
    <LI>Invoke them with an absolute path (e.g. /usr/local/netpbm/giftopnm ...)
    <LI>Add /usr/local/netpbm to your execution PATH
    <LI>Move, link or symlink the Netpbm utilities you wish to use into a
        location that is in your PATH (e.g. /usr/local/bin)
    </UL>
<LI><A NAME="procdump">The "proc" utility and its companion "msize"</A>
are installed in /opt/bin. You may wish to add /opt/bin to your PATH or
create appropriate symbolic links out to an existing PATH component.
For more information on the proc utility, see the manual page at
/opt/man/man1/proc.1.
<LI><A NAME="wmconf">Alternate window managers' default configurations</A>
are those provided in the source distributions and will need to be tailored
for use on UnixWare 7. That is, the rc startup files for fvwm, fvwm95,
AfterStep and Enlightenment will need system-specific
configuration. The Skunkware team plans on making UnixWare 7 specific
window manager configuration files available via the Skunkware web site at
<A HREF="http://skunkware.dev/skunkware/x11/winman/">
http://skunkware.dev/skunkware/x11/winman/</A>.
<LI><A NAME="xgalaga">Xgalaga defaults to playing with audio on</A>.
In order to run it on a system with no audio support, use the -nosound
option as follows:
<PRE>
    $ xgal -nosound
</PRE>
<LI><A NAME="enlighten">Many of the enlightenment window manager themes</A>
assume they have a high resolution (e.g. 1280x1024) and 16 bits per pixel
or more. These themes will not work well on, say, an 800x600 256 color visual.
The DEFAULT theme seems to work well on most systems. Enlightenment is cool.
I recommend getting a quality video card and monitor so you can check out
all the themes.
</UL>

<P>
<A NAME="limits"><B>Known Limitations and Problems</B></A>
<UL>
<LI><A NAME="musserver">The xdoom package in the initial release of</A>
Skunkware 7 was missing the music server /usr/local/games/xdoom/musserver.
Further, running xdoom from the shell script front-end also caused the
sound server to be ignored. To correct these problems, remove the xdoom
package if installed, download and install the
<A HREF="http://skunkware.dev/skunkware/uw7/Packages/xdoom.pkg.gz">
corrected xdoom package</A>.
</LI><LI><A NAME="depend">Several of the pkgadd installable packages have </A>
dependencies on other packages. Often these have not been noted in the
package depend file. Therefore, a package may install correctly but not
function correctly due to missing components supplied in another package.
This is most common in packages that rely on one or more of the dynamic
libraries in the "Graphics Libraries" (glib) package. It is recommended
that the "glib" package be installed. To do so, issue the command:
<PRE>
    # pkgadd -d /&lt;mount-point&gt; glib
</PRE>
</LI><LI><A NAME="tmpdir"> On systems with a smallish /tmp or /var/tmp,</A>
some packages
may fail to install. If this is the case, temporarily unmount /tmp or /var/tmp
and re-run the installation. Another workaround is to set the TMPDIR 
environment variable to a location with sufficient space. To do so in the
Bourne or Korn shell, execute the following commands:
<PRE>
    # TMPDIR=/u/tmp
    # export TMPDIR
</PRE>
(where /u/tmp represents a location with sufficient disk space).

<P>
</LI><LI> <A NAME="disk7">A full installation of the Skunkware 7 files </A>
  for UnixWare 7 requires approximately 500 Mb of disk space. These files are
  all installed in /usr/local. If your system's /usr filesystem does not 
  contain sufficient disk space (a check is performed at the  beginning of the 
  installation), then you may wish to perform the following  workaround 
  (rather than removing files from the root partition):
<PRE>
      # cd /usr
      # mv local /u/local
      # ln -s /u/local local
</PRE>
  Where /u/local resides on an additional disk with sufficient space.

<P>
</LI><LI> <A NAME="disk5">A full installation of the SCO Skunkware 7 </A>
  media images for SCO OpenServer
  requires approximately 125 Mb of disk space. If your system's root filesystem
  does not contain sufficient disk space (a check is performed at the
  beginning of the installation), then you may wish to perform the following
  workaround (rather than removing files from the root partition):
<PRE>
      # cd /opt/K
      # ln -s /u/local local
</PRE>
  Where /u/local resides on an additional disk with sufficient space.

<P>
</LI><LI><A NAME="xgrab">The xdoom video game and the xgrabsc command need a 
PseudoColor visual</A>.
Before attempting to run either xdoom or xgrab, the front-end for xgrabsc, 
you will need to configure your X server to run in 256 color mode. Sorry.

<P>
</LI><LI><A NAME="wmexit">Exiting the alternate window managers</A>
does not always exit the X session and return you to the graphical login.
If this happens, switch to another screen (ctrl-alt-fkey) and kill the
X server process for your display:
<PRE>
    # ps -ef | grep X
    # kill &lt;pid&gt;
</PRE>

<P>
</LI><LI><A NAME="xboing">Xboing minimum height</A> exceeds that of an
800x600 display. To play xboing effectively, the screen resolution must
be set larger than a 600 pixel height.

<P>
</LI><LI><A NAME="freefont">Adding freefont directory to your font path</A>
can be accomplished with the following commands:
<PRE>
    $ xset -fp /usr/local/share/fonts/freefont
    $ xset +fp /usr/local/share/fonts/freefont
    $ xset fp rehash
</PRE>
The gimp command has been wrappered with a shell script which does this for you.

<P>
</LI><LI><A NAME="dtlogin">Use startx rather than the CDE graphical login</A>
to initiate your graphical X session. The CDE login and subsequent use of
dtterm seems to cause all sorts of things to go wrong. Besides, CDE consumes
too many resources and is only their to satisfy some government contracts.
Anyway, we will try to figure out why things are going wrong and maybe you
will be quite happy with CDE but it has been my experience that a simple
$HOME/.startxrc works quite well. In fact, Skunkware 7 contains a
<A HREF="uw7/x11/winman/sample.startxrc">sample startxrc script</A> that you
can tailor for your own use.
<P>
</LI><LI><A NAME="man5">
  The SCO OpenServer 5 man command</A> expects the man pages to be in
  directories named man.suffix and cat.suffix. Many public domain
  packages place their manual pages in directories like man1, man8,
  cat1, cat8 and so on. Further, these directories are usually located
  in /usr/local/man rather than /usr/man. To remedy this, add /usr/local/man
  to your MANPATH (see /etc/default/man) and create symbolic links from
  mann to man.n, catn to cat.n and so on.

<P>
</LI><LI><A NAME="compman">
  Several of the SCO UnixWare packages contain compressed man pages</A>.
  It may be necessary to uncompress the man pages in /usr/local/man
  in order to view them with the man command.

<P>
</LI><LI><A NAME="osr5gimp">
  On OpenServer, the default font settings for logos in the 
  Xtns -&gt; Script-Fu -&gt; Logos menu of the gimp wll not work without the 
 "freefonts" package installed. You can get the freefonts package from:
<BR>
<A HREF="ftp://ftp.gimp.org/pub/gimp/fonts/">
    ftp://ftp.gimp.org/pub/gimp/fonts/</A>
<BR>
  To try the Logo scripts without freefonts installed:
<UL>
        <LI> Select the logo style you want
<BR>
                (e.g., Xtns -&gt; Script-Fu -&gt; Logos -&gt; Alien Glow)

<P>
        </LI><LI> Change the Font field to a font which is installed on
          your system (e.g., "courier", which is included by
          default on OpenServer 5.0.x)

<P>
        </LI><LI> Press the "OK" button
</UL>
<P>
</LI><LI><A NAME="makecd">
  The "makecd" package</A> is only known to work on SCO OpenServer 5.0.4
  with the HP SureStore 4020/6020 or Philips CDD 2600 CD-ROM writers.

<P>
</LI><LI> <A NAME="osr5tcl8">
  On OpenServer, installation of the Tcl 8.0 and Tk 8.0 packages</A> will 
  overwrite some header files in an existing Tcl 7.6p2 or Tk 4.2p2 installation.
  These newer beta releases of Tcl/Tk are included as optional packages
  and are not installed by default (using the SCO Skunkware INSTALL script).

<P>
</LI><LI><A NAME="osr5g++">
  On OpenServer, if you use g++ to link an ELF binary, libg++ and libstdc++</A>
  will be linked in automatically, regardless of whether they are
  actually used by your program.  Such binaries will not run on
  machines that do not have the libg++ and libstdc++ shared
  libraries installed.  If you know your program does not need
  these libraries, you can link it using gcc and they will not be
  included.  In programs that do use libg++ or libstdc++, you can
  maintain portability by using the "-static" flag which makes a
  statically-linked binary.

<P>
</LI><LI><A NAME="xlincity">
  Apparently xlincity needs a pseudo-color visual</A>. That is, if you have
  configured your video for use with more than 256 colors, xlincity fails
  with "Major opcode of failed request:  89 (X_StoreColors)". If you find
  you can run xlincity in TrueColor mode, let us know.
</UL>

<B>Comments</B>
<P>
We are interested in your general comments about this distribution
and about development tools in general. Please feel free to e-mail
<A HREF="mailto:skunkware@sco.com">skunkware@sco.com</A> with
comments, criticisms and suggestions.
<P>
<TABLE BORDER=6 CELLPADDING=3 CELLSPACING=3>
<TR><TD ALIGN=CENTER COLSPAN=2>Ronald Joe Record</TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/">SCO</A></TD>
<TD ALIGN=CENTER><A HREF="mailto:rr@sco.com">rr@sco.com</A></TD></TR>
<TR><TD ALIGN=CENTER COLSPAN=4>
Senior Engineer for Free Stuff, Skunkware, technical tools, etc.</TD></TR>
<TR><TD ALIGN=CENTER>400 Encinal St.</TD>
<TD ALIGN=CENTER>Santa Cruz, CA 95061</TD>
<TD ALIGN=CENTER>    FAX: 408-427-5417</TD>
<TD ALIGN=CENTER>  Voice: 408-427-7604</TD></TR>
</TABLE>
<P>
<TABLE BORDER=6 CELLPADDING=3 CELLSPACING=3>
<TR><TD ALIGN=CENTER COLSPAN=2>Dion L. Johnson II  </TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/">SCO</A></TD>
<TD ALIGN=CENTER><A HREF="mailto:dionj@sco.com">dionj@sco.com</A></TD></TR>
<TR><TD ALIGN=CENTER COLSPAN=4>
Product Manager for Free Stuff, Skunkware, technical tools, etc.</TD></TR>
<TR><TD ALIGN=CENTER>400 Encinal St.</TD><TD ALIGN=CENTER>  Santa Cruz, CA 95061
</TD>
<TD ALIGN=CENTER>    FAX: 408-427-5417</TD>
<TD ALIGN=CENTER>  Voice: 408-427-7565</TD></TR>
</TABLE>

@@@SKUNKFOOTER
