@@@SKUNKHEADER(Replacement Shells)

<P>Welcome to the Skunkware 7 replacement shells section. This section
contains replacement login shells which users may find a bit easier to
use than the standard system shells.</P>
#ifdef SKUNK_CD
<P>
Additional replacement shells for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://www.sco.com/skunkware/shells/">
http://www.sco.com/skunkware/shells/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(bash;GNU Bourne Again Shell;2.01.1;Yes;Yes)
@@@PACKLIST(tcsh;C shell with name completion and command editing;6.07;No;Yes)
@@@END_PACKAGELIST

#include "bash.src"
#include "tcsh.src"

@@@SKUNKFOOTER

