@@@SKUNKHEADER(System Administration)

#ifdef SKUNK_CD
<P>
Additional system administration tools for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://www.sco.com/skunkware/sysadmin/">
http://www.sco.com/skunkware/sysadmin/</A>
</P>
#endif

@@@START_PACKAGELIST

@@@PACKLIST(ipalias;IP Address Alias Manager;1.0;No;Yes)
@@@PACKLIST(lsof;List open files;4.37;No;Yes)
@@@PACKLIST(procdump;print information about a live process or core image;1.0;No;Yes)
@@@PACKLIST(scofi;SCOadmin for Intranets;0.99b;No;Yes)
@@@PACKLIST(sudo;Execute a command as the superuser;1.5.6p5;Yes;Yes)
@@@PACKLIST(top;Top - display top cpu processes;3.5beta5;Yes;Yes)

@@@END_PACKAGELIST

#include "ipalias.src"
#include "lsof.src"
#include "procdump.src"
#include "scofi.src"
#include "sudo.src"
#include "top.src"

@@@SKUNKFOOTER


