@@@SKUNKHEADER(Text Processing Tools)

<P>Welcome to the Skunkware 7 Text Processing section. These tools
are used for document formatting, layout and conversion. If you do
any kind of documentation preparation or processing, you will find
these tools a great help.</P>
#ifdef SKUNK_CD
<P>
Additional text processing tools for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://skunkware.dev/skunkware/textproc/">
http://skunkware.dev/skunkware/textproc/</A>
</P>
#endif

@@@START_PACKAGELIST

@@@PACKLIST(a2ps;ASCII to PostScript converter;4.9.7;Yes;Yes)
@@@PACKLIST(enscript;Text to PostScript converter;1.5.0;No;Yes)
@@@PACKLIST(gs;Ghostscript - a PostScript(tm) interpreter;5.03;Yes;Yes)
@@@PACKLIST(groff;GNU nroff,troff and related tools;1.11;Yes;Yes)
@@@PACKLIST(teTeX;text formatting and typesetting;0.4;No;Yes)
@@@PACKLIST(texinfo;The GNU documentation reader and formatter;3.11;Yes;Yes)

@@@END_PACKAGELIST

#include "a2ps.src"
#include "enscript.src"
#include "gs.src"
#include "groff.src"
#include "teTeX.src"
#include "texinfo.src"

@@@SKUNKFOOTER
