@@@SKUNKHEADER(Servers)

<P>Welcome to the Skunkware 7 X11 Servers section. The Skunkware
team hopes to add to this section in the future. 
</P>
#ifdef SKUNK_CD
<P>
Additional X11 serversfor SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://www.sco.com/skunkware/x11/servers/">
http://www.sco.com/skunkware/x11/servers/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(xfree86;XFree 86 X11 Server;3.3.1;Yes;No)
@@@END_PACKAGELIST

#include "xfree86.src"

@@@SKUNKFOOTER
