@@@SKUNKHEADER(Emulators)

<P>
Welcome to the SCO Skunkware emulators. 
</P>

@@@START_PACKAGELIST
@@@PACKLIST(rxvt;VT102 terminal emulator;2.20;Yes;Yes)
@@@END_PACKAGELIST

#include "rxvt.src"

@@@SKUNKFOOTER

