@@@SKUNKHEADER(Mail and News Readers / Servers)

<P>Welcome to the Skunkware 7 Mail and News section. This section
contains mail and news readers and servers. Please read the comments on
each individual package before installing and using them.</P>
#ifdef SKUNK_CD
<P>
Additional mail/news tools for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://skunkware.dev/skunkware/mailnews/">
http://skunkware.dev/skunkware/mailnews/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(fetchmail;The Fetchmail Mail Client;4.2.5;Yes;Yes)
@@@PACKLIST(hypermail;Convert mail archives to HTML;1.02;Yes;Yes)
@@@PACKLIST(majordomo;Manage Internet mailing lists;1.94.4;Yes;No)
@@@PACKLIST(imap;IMAP4 mail server;4.1.BETA;Yes;Yes)
@@@PACKLIST(imaputils;IMAP4 utilities;4.1.BETA;No;Yes)
@@@PACKLIST(inn;InterNetNews Programs;2.0;Yes;Yes)
@@@PACKLIST(mutt;Mutt - text based mail client;0.93.2;Yes;Yes)
@@@PACKLIST(slrn;An easy to use NNTP based newsreader;0.9.5.1;Yes;Yes)
@@@PACKLIST(spam;E-Mail Spamming Countermeasures;I-005;Yes;Yes)
@@@END_PACKAGELIST

#include "fetchmail.src"
#include "hypermail.src"
#include "majordomo.src"
#include "imap.src"
#include "imaputils.src"
#include "inn.src"
#include "mutt.src"
#include "slrn.src"
#include "spam.src"

@@@SKUNKFOOTER
