@@@SKUNKHEADER(Network / Internet )

<P>Welcome to the Skunkware Network / Internet section. Here you will
find HTTP and FTP servers, WWW browsers, IRC &amp; Archie clients and other 
tools used for networking and internetworking.
</P>
#ifdef SKUNK_CD
<P>
Additional network/internet tools for SCO platforms are available via the 
Skunkware web/ftp site at
<A HREF="http://skunkware.dev/skunkware/net/">
http://skunkware.dev/skunkware/net/</A>
</P>
#endif

@@@START_PACKAGELIST

@@@PACKLIST(apache;Apache HTTP server;1.3.0;Yes;Yes)
@@@PACKLIST(cgiwrap;CGIwrap gateway program;3.6.2;Yes;Yes)
@@@PACKLIST(Count;WWW access counter;2.4;Yes;Yes)
@@@PACKLIST(ipalias;IP Address Alias Manager;1.0;No;Yes)
@@@PACKLIST(php;PHP/FI;3.0RC3;Yes;Yes)
@@@PACKLIST(freeWAIS;Wide area information server;2.2.10;Yes;Yes)
@@@PACKLIST(httpanaly;log analyzer for web servers;2.01;Yes;Yes)
@@@PACKLIST(irc;Internet Relay Chat server and client;2.9.5;Yes;Yes)
@@@PACKLIST(ldap;Lightweight Directory Access Protocol;3.3;Yes;Yes)
@@@PACKLIST(lynx;Character based web browser;2.8rel2;Yes;Yes)
@@@PACKLIST(metahtml;Web Authoring Language;5.05;Yes;Yes)
@@@PACKLIST(msql;mSQL Relational Database Management System;2.0.3;Yes;Yes)
@@@PACKLIST(mysql;SQL Relational Database Management System;3.21.26;Yes;Yes)
@@@PACKLIST(ncftp;NcFTP - Internet file transfer program;2.4.3;Yes;Yes)
@@@PACKLIST(tftpd;DARPA Trivial File Transfer Protocol server;1.0;Yes;Yes)
@@@PACKLIST(omniORB;omniORB Object Request Broker;2.5.0;Yes;No)
@@@PACKLIST(squid;Proxy HTTP server;1.1.22;Yes;Yes)
@@@PACKLIST(wget;Retrieve files from the World Wide Web;1.5.2;Yes;Yes)
@@@PACKLIST(xdir;graphical network-oriented file manager;2.0;Yes;Yes)
@@@PACKLIST(xt;communications program using telnet;1.2;No;Yes)
@@@PACKLIST(ytalk;A multi-user chat program;3.0.3;Yes;No)
@@@PACKLIST(zircon;Tcl/Tk IRC client;1.18.113;Yes;Yes)

@@@END_PACKAGELIST

#include "apache.src"
#include "cgiwrap.src"
#include "Count.src"
#include "ipalias.src"
#include "php.src"
#include "freeWAIS.src"
#include "httpanaly.src"
#include "irc.src"
#include "ldap.src"
#include "metahtml.src"
#include "msql.src"
#include "ncftp.src"
#include "tftpd.src"
#include "omniORB.src"
#include "squid.src"
#include "wget.src"
#include "xdir.src"
#include "xt.src"
#include "ytalk.src"
#include "zircon.src"

@@@SKUNKFOOTER
