@@@SKUNKHEADER(Alphabetic Package Listing)

<P>This sections lists all of the Skunkware 7 packages in alphabetical order.
This list is limited to the Skunkware components on the Skunkware 7 CD-ROM.
To see a listing of all of the available Skunkware components, visit the
<A HREF="http://www.sco.com/skunkware/">SCO Skunkware web site</A>.
</P>
<P>
The "package name" can be used to install that particular component as follows:
<BR>
On UnixWare, issue the command
<PRE>
    # pkgadd -d /dev/cdrom/c1b0t0l0 package_name
</PRE>
<P>
On OpenServer, issue the command
<PRE>
    # # custom -p SKUNK98:default:package_name -i -m /dev/rcd0
</PRE>
<P>
<HR>
<P>

#include "alphabetical.src"

@@@SKUNKFOOTER
