<HTML>
<HEAD>
  <TITLE>Skunkware 99 Release Notes</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff">

<P><TABLE CELLSPACING="0" CELLPADDING="0" WIDTH="100%" BORDER="0">
<TR ALIGN="LEFT" VALIGN="TOP">
<TD ROWSPAN="2" WIDTH="20%"><IMG SRC="/skunkware/pics/gif/skunkware.gif" HEIGHT="80" 
WIDTH="108" ALIGN="BOTTOM"></TD>
<TD VALIGN="BOTTOM" WIDTH="80%">
<MAP NAME="skunknav">
    <AREA SHAPE="rect" COORDS="347,1,460,25" 
          HREF="http://www.sco.com/skunkware/99/relnotes.html">
    <AREA SHAPE="rect" COORDS="252,1,331,26" HREF="credits.html">
    <AREA SHAPE="rect" COORDS="112,2,236,26" HREF="index.html">
    <AREA SHAPE="rect" COORDS="3,1,93,25" HREF="index.html">
</MAP>
<IMG SRC="/skunkware/pics/gif/skunknav.gif" BORDER="0" WIDTH="466" HEIGHT="26" 
    ALIGN="BOTTOM" USEMAP="#skunknav" ISMAP></TD></TR>
<TR>
<TD VALIGN="TOP">
<IMG SRC="/skunkware/pics/gif/relnotes.gif" WIDTH="382" HEIGHT="26" ALIGN="BOTTOM"></TD>
</TR>
</TABLE>
<P>
<HR>
<P>
<B>NOTE:</B> This release of SCO Skunkware is a pre-release special edition.
As such, several of the components have not been thoroughly tested. Please
report any problems you encounter by e-mailing
<A HREF=mailto:skunkware@sco.com>skunkware@sco.com</A> so that we can correct
any errors prior to subsequent inclusion in future releases of SCO OpenServer
or UnixWare 7.
<P>
<B>Table of Contents</B>
<P>
<UL>
#ifdef SKUNK_CD
<LI><A HREF="#latest">Updates to these notes</A>
#endif
<LI><A HREF="#what">What is it ?</A>
    <UL>
    <LI><A HREF="#intro">Introduction</A>
    <LI><A HREF="#license">Licensing</A>
    <LI><A HREF="#categories">Software Categories</A>
    <LI><A HREF="#serious">Serious Tools</A>
    <LI><A HREF="#fun">Fun Stuff</A>
    <LI><A HREF="#experimental">Experimental Research</A>
    <LI><A HREF="#disclaimer">Disclaimer</A>
    </UL>
<LI><A HREF="#starting">Getting started</A>
    <UL>
    <LI><A HREF="#mounting">Mounting the Skunkware CD-ROM</A>
    <LI><A HREF="#browsing">Browsing the Skunkware HTML documents</A>
    <LI><A HREF="#moving">Making room for the Skunkware software</A>
    <LI><A HREF="#inst">Installing the Skunkware software</A>
       <UL>
       <LI><A HREF="#inst">Installing all of the Skunkware software</A>
       <LI><A HREF="#part">Installing Skunkware software sets</A>
       <LI><A HREF="#indi">Installing individual Skunkware components</A>
       <LI><A HREF="#conf">Configuring your system for use with Skunkware</A>
       </UL>
    <LI><A HREF="#removing">Removing the Skunkware software</A>
    </UL>
<LI><A HREF="#other">Accessing on other platforms</A>
<LI><A HREF="#source">Source Code Distribution</A>
<LI><A HREF="#tls">Technical Library Supplements</A>
<LI><A HREF="#config">Default package configurations</A>
    <UL>
    <LI><A HREF="#apache">Apache port and document root</A>
    <LI><A HREF="#squid">Squid port and accelerator</A>
    <LI><A HREF="#htmlman">HTML documentation in /usr/local/man/html</A>
    <LI><A HREF="#sw98mount">Serving the Skunkware HTML documents</A>
    <LI><A HREF="#wmconf">Alternate window managers' default configurations</A>
    <LI><A HREF="#wmaker">Individual account configuration of  WindowMaker</A>
    </UL>
<LI><A HREF="#limits">Known limitations and problems:</A>
    <UL>
    <LI><A HREF="#disk5">Disk space consumption</A>
    <LI><A HREF="#xgrab">Xfishtank/Xdoom/Xgrab/Xgrabsc need a PseudoColor visual</A>
    <LI><A HREF="#winman">Alternate window managers</A>
    <LI><A HREF="#kde">The K Desktop Environment (KDE)</A>
    <LI><A HREF="#kdm">The KDE graphical login manager </A>
    <LI><A HREF="#wmexit">Exiting the alternate window managers</A>
    <LI><A HREF="#mcexit">Exiting Midnight Commander under WindowMaker</A>
    <LI><A HREF="#xboing">Xboing minimum height</A>
    <LI><A HREF="#freefont">Adding freefont directory to your font path</A>
    <LI><A HREF="#bash">Installing bash on UnixWare 7.0.1</A>
    </UL>
</UL>
<P>
<HR>
<P>
#ifdef SKUNK_CD
<A NAME="latest"><B>Updates To These Notes </B></A>
<P>
The very latest Release Notes for Skunkware can be found at
<A HREF="http://www.sco.com/skunkware/relnotes.html">
http://www.sco.com/skunkware/relnotes.html</A>.
<P>
#endif
<A NAME="what"><B>What is it ?</B></A>
<P>
<DL>
<DT><A NAME="intro"></A>
<DD>
SCO Skunkware is the generic name for a free collection of software 
prebuilt for SCO systems. This distribution is Skunkware 99
and is intended for use on either SCO OpenServer 5 or UnixWare 7 platforms. 
Skunkware 99 is primarily intended as an update to either Skunkware 98
for OpenServer 5 or Skunkware 7.1 for UnixWare 7. It should be installed
after having installed one of these previous releases but may also be
installed standalone.
<P>
To obtain additional SCO Skunkware pre-built for use on SCO OpenServer or
UnixWare 7, see the
<A HREF="http://www.sco.com/skunkware/">SCO Skunkware Web Site</A> 
or you may wish to
<A HREF="http://www.sco.com/offers/">order the Skunkware CD</A>.
<P>
Distributions are released on CD periodically and a repository of this 
and previous distributions as well as updates and corrections can 
always be found at 
<A HREF="http://www.sco.com/skunkware">
http://www.sco.com/skunkware</A>.
<P>
SCO Skunkware contains a wide variety of software ranging from educational
and experimental research tools to commercial grade software suitable for
use on a production server. 
<P>
It is provided for free and is not formally supported by SCO.
<P>
<DT><A NAME="license"></A>
<DD>
The software on the Skunkware CD-ROM is licensed under a variety
of terms. Much of it is licensed under the terms of the 
<A HREF="info/gpl.html">GNU General Public License</A>.
Some is licensed under the
<A HREF="info/lgpl.html">GNU Library General Public License</A>.
Other components are licensed under the
<A HREF="info/Artistic">Artistic License</A>. Many of the components are
"freeware" with no restrictions on their redistribution while a few components
are "shareware" meaning the author would like you to try the software and,
if you wish to use it, send her some money. A few components are commercial
products which can be used freely for non-commercial purposes (e.g. msql).
Some components simply restrict their use to non-commercial purposes.
<P>
To determine the licensing conditions for a particular component, see the
corresponding source in the 
<A HREF="http://www.sco.com/skunkware/src">source directory</A>. With the
infrequent exception of SCO proprietary code, all Skunkware components are
accompanied by the source used to build them. The source is archived in
<A HREF="http://www.sco.com/skunkware/src/CONTENTS.html">the src subdirectory</A> by category.
The categories are:
<CENTER>
<P>
<DT><A NAME="categories"></A>
<TABLE BORDER=6 CELLSPACING=3 CELLPADDING=3 WIDTH="100%">
<TR><TH COLSPAN=9>Skunkware Software Categories</TH></TR>
<TR>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/audio">
audio</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/emulators">
emulators</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/libraries">
libraries</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/shellutil">
shellutil</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/fileutil">
fileutil</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/mail">
mail</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/sysadmin">
sysadmin</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/db">
db</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/net">
net</A></TD></TR>
<TR><TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/textproc">
textproc</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/devtools">
devtools</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/interp">
interp</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/news">
news</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/video">
video</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/editors">
editors</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/lib">
lib</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/shells">
shells</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/www">
www</A></TD></TR>
<TR><TH COLSPAN=9>X11 Graphical Categories</TH></TR>
<TR><TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/apps">
apps</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/fonts">
fonts</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/games">
games</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/graphics">
graphics</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/misc">
misc</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/savers">
savers</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/utils">
utils</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/viewers">
viewers</A></TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/skunkware/src/x11/winman">
winman</A></TD>
</TD></TR></TABLE>
</CENTER>
<P>
<DT><A NAME="serious"></A>
<DD>
Many of the components of SCO Skunkware may be viewed as productivity and
development tools to be taken seriously. Don't let its whimsical nature
fool you. Examples of serious tools on Skunkware include:
<UL>
<LI>The GNU C Compilation system
<LI>Mtools - DOS filesystem manipulation tools
<LI>Scripting languages (Tcl, Tk, Python, Expect)
<LI>Internet/Network tools (apache, squid, xdir, many more)
<LI>Editors and text processing tools (xcoral, xemacs, ghostscript, vim, xhtml)
<LI>Typesetting and document formatting tools (teTeX, SGML-Tools, Lyx, Groff)
<LI>Graphical tools (the GIMP, ImageMagick, XV, Netpbm, Xfig, graphics libs)
<LI>Many many more
</UL>
<DT><A NAME="fun"></A>
<DD>
Of course, Skunkware also contains fun stuff. Gotta have something to keep
the polecats entertained thru the night. Examples include:
<UL>
<LI>Games (xdoom, xgalaga, xboing, xpool)
<LI>Graphics (mathematical recreations, animation viewers, image manipulators)
<LI>Audio (audio players and editors, mixers, CD players, games with sound)
<LI>Stuff (view astrology charts, graphical fish tank, lots more)
</UL>
<DT><A NAME="experimental"></A>
<DD>
Several of the components on this CD should be considered experimental.
Consider Skunkware a research tool. Examples:
<UL>
<LI>Egcs, the Experimental GNU Compilation System from Cygnus.
<LI>Alpha or pre-release versions of window managers and graphical tools
<LI>A variety of Java classes and applications from Acme Laboratories
<LI>VRwave, a Java based VRML 2.0 browser
<LI>Endo, a tool for exploring dynamical systems in the plane
</UL>
<P>
<DT><A NAME="disclaimer"></A>
<DD>
<P>Remember, Skunkware is freely distributed and <I>unsupported</I> software.
No warranty is made on any of the Skunkware components. Support and assistance
with this software is not provided by SCO. In many cases, however, an e-mail
to <A HREF="mailto:skunkware@sco.com">skunkware@sco.com</A> describing any 
problem you might have may result in a reply/fix/solution. And ...
<CENTER>
<P><FONT SIZE=-2>
The Santa Cruz Operation, Inc. and SCO Skunkware are not
related to, affiliated with or licensed by the famous Lockheed
Martin Skunk Works (R), the creator of the F-117 Stealth Fighter,
SR-71, U-2, Venturestar(tm), Darkstar(tm), and other pioneering
air and spacecraft.</FONT></CENTER>
</DL>
<P>
<A NAME="starting"><B>Getting Started </B></A>
<P>
<UL>
<LI><A NAME="mounting">Mounting the Skunkware CD-ROM</A>
<P>
[Note that it is not necessary to mount the Skunkware CD-ROM
in order to install the pkgadd or custom installable packages. See the section
below on <A HREF="#installing">installing the Skunkware software</A>.]
<P>
To mount the Skunkware CD-ROM on an SCO UnixWare system, use the command:
<PRE>
    # mount -r -f cdfs /dev/cdrom/cdrom1 /<I>mount-point</I>
</PRE>
where <I>mount-point</I> refers to the full pathname of the directory on
which you wish to mount the CD-ROM (e.g. /mnt).
Note also that the CD-ROM device name may vary from system to system.
<P>
On an SCO OpenServer Release 5 system issue the command:
<PRE>
    # mount -r /dev/cd0 /<I>mount-point</I>
</PRE>
<P>
<LI><A NAME="moving">Making room for the Skunkware software</A>
<P>
The installation of all the Skunkware components can require several hundred
Megabytes of free space on the root partition (/usr/local). If your root 
partition does not have sufficient space, or you wish to utilize an alternate 
filesystem for the Skunkware components, prior to installing Skunkware create
a symbolic link in /usr as follows (using /u as the alternate filesystem):
<PRE>
On UnixWare
   # mv /usr/local /u/local
   # ln -s /u/local /usr/local

On OpenServer
   # mkdir /u/SKUNK99
   # ln -s /u/SKUNK99 /opt/K/SKUNK99
</PRE>
The above commands assume a separate /u filesystem with sufficient disk space.
The exact name of the alternate filesystem mount point is system dependent.
<P>
<LI><A NAME="inst">Installing the Skunkware Software</A>
<P>
<A NAME="part">
After mounting the Skunkware CD:
<PR>
UnixWare
   # mount -r -f cdfs /dev/cdrom/c1b0t0l0 /mnt

OpenServer
   # mount -r /dev/cd0 /mnt
</PRE>
run the command (as root):</A>
<PRE>
    # /mnt/INSTALL
</PRE>
The Skunkware INSTALL script
will allow you to select from a menu of Skunkware "software sets" including
All Components, Development Tools, Shells, Audio/Video Components, etc.
The INSTALL script acts as a front-end for a non-interactive installation
using the Software Manager (pkgadd or custom).
<P>
<B>NOTE:</B> <I>A full installation of SCO Skunkware will consume
several hundred Megabytes of disk space and take a couple of hours</I>.
<P>
<A NAME="indi">
To install an individual package on UnixWare, execute the command:</A>
<PRE>
    # pkgadd -d /mnt Package
</PRE>
If the Skunkware CDROM is not mounted, execute the command:
<PRE>
    # pkgadd -d /dev/cdrom/cdrom1 Package
</PRE>
To install an individual package on OpenServer, execute the command:</A>
<PRE>
    # /etc/custom -p SKUNK99:default:Package -i -m /dev/rcd0
</PRE>
where "Package" is the name of the desired component and /mnt is the mount
point of the Skunkware CDROM. See the file
<A HREF="COMPONENTS.html">
/<I>mount-point</I>/COMPONENTS</A> for the list of available components.
<P>
<LI><A NAME="conf">Configuring your system for use with Skunkware</A>
<P>
After completing the installation of the Skunkware components you desire,
you may wish to add /usr/local/bin to your PATH and /usr/local/man to your
MANPATH. You may also wish to add /usr/local/java to your CLASSPATH. It should
not be necessary to add /usr/local/lib to your LD_LIBRARY_PATH as the
Skunkware shared libraries have been built with the appropriate flags.
<P>
<LI><A NAME="browsing">Browsing the Skunkware HTML Documents</A>
<P>
For an introductory tour, point a web browser at 
<A HREF="index.html">
/<I>mount-point</I>/index.html</A>
<PRE>
    # /usr/bin/X11/netscape file:/<I>mount-point</I>/index.html
</PRE>
If you do not have Netscape Navigator installed, download a trial copy from
<A HREF="http://www2.sco.com">http://www2.sco.com</A> 
or use any browser that supports tables and open the URL file:/<I>mount-point</I>/index.html
(assuming you mounted the CD on /<I>mount-point</I>).
<P>
If you do not have or want a graphical browser, you can use Lynx
(a character browser) which is included as part of the UnixWare 7 installation
and as a Skunkware 99 component. Execute the command:
<PRE>
    # lynx file:/<I>mount-point</I>/index.html
</PRE>
<P>
SCO Skunkware 99 contains files suitable for installation
with the SCO Software Manager (pkgadd or custom).
In addition, there are 
<A HREF="http://www.sco.com/skunkware/src/">hundreds of source archives</A>
<P>
<LI><A NAME="removing">Removing the Skunkware software</A>
<P>
All of the Skunkware 99 software can be removed by issuing the command:
<PRE>
    # /<I>mount-point</I>/REMOVE
</PRE>
where <I>mount-point</I> indicates the directory on which the Skunkware
CDROM is mounted. Individual components can be removed with the command:
<PRE>
UnixWare
    # pkgrm <I>Component</I>

OpenServer
   # /etc/custom -p SKUNK99:default:Component -r
</PRE>
where <I>Component</I> is the individual component name.
<P>
A list of all installed Skunkware components can be retrieved with:
<PRE>
UnixWare
   # pkginfo -c skunkware

OpenServer
   # /etc/custom -p SKUNK99:default -l
</PRE>
<P>
<A NAME="other"><B>Accessing the CD on other platforms</B></A>
<P>
On any other system, after mounting or otherwise making the High-Sierra
Rockridge CD-ROM filesystem accessible, point your WWW browser to
<I>mount-point</I>/index.html where <I>mount-point</I> indicates
the UNIX directory or Windows drive representing the CD-ROM.
<P>
<A NAME="source"><B>Source Code Distribution</B></A>
<P>
In almost all cases, source code is available, so you can rebuild 
for earlier SCO releases or other platforms. A full source archive for
this and previous Skunkware releases is available at either
<A HREF="http://www.sco.com/skunkware/src/">
http://www.sco.com/skunkware/src/</A>
or
<A HREF="ftp://ftp.sco.com/skunkware/src/">
ftp://ftp.sco.com/skunkware/src/</A>.
<P>
Source code is provided in the <A HREF="http://www.sco.com/skunkware/src/">
src directory</A>.  
In some cases, source code is provided but no
compiled binaries. The source distributions are in bzip2 compressed
tar or cpio format. In order to extract these, use the command:

<FONT SIZE=-1>
<PRE>
$ bunzip2 -c /<I>mount-point</I>/src/&lt;directory&gt;/&lt;package&gt;.tar.bz2 | tar xf -
</PRE>
</FONT>

or, in the case of a compressed cpio archive:

<FONT SIZE=-1>
<PRE>
$ bunzip2 -c /<I>mount-point</I>/src/&lt;directory&gt;/&lt;package&gt;.cpio.bz2 | cpio -icdu
</PRE>
</FONT>

Where &lt;directory&gt; refers to the top-level source directory
and &lt;package&gt; is the package name (e.g. gzip-1.2.4).
<P>
If you do not have bunzip2 installed (part of the bzip2 package), you can
install it off of the SCO Skunkware 7.1 or 98 CD via the command:

<PRE>
UnixWare
   # pkgadd -d /<I>mount-point</I> bzip2

OpenServer
   # /etc/custom -p SKUNK98:default:Bzip2 -i -m /dev/rcd0
</PRE>
Precompiled binaries for use on SCO OpenServer and UnixWare systems can
be found in /<I>mount-point</I>/osr5/bin, /<I>mount-point</I>/uw7/bin and 
/<I>mount-point</I>/uw2/bin.
<P>
<A NAME="tls"><B>Technical Library Supplements</B></A>
<P>
You may also find the 
<A HREF="ftp://ftp.sco.com/TLS/">SCO Technical Library Supplements </A>
to be of interest. These are drawn from the 
<A HREF="http://www.sco.com/support/">SCO Support Online System</A>,
and are accessible via anonymous ftp on the Internet from 
<A HREF="ftp://ftp.sco.com">ftp.sco.com</A>
or via web facilities at 
<A HREF="http://www.sco.com">
http://www.sco.com</A>
<P>

<A NAME="config"><B>Default Package Configurations</B></A>
<P>
Many of the Skunkware packages contain configuration files. In order to
avoid excessive user interaction during installation and to provide a
consistent and well integrated set of configurations, the Skunkware
packages have been pre-configured with commonly used default values.
<P>
Generally, you will not need to alter the default configurations but you
may choose to do so. Some of the package pre-configurations are as follows:
<UL>
<LI><A NAME="apache">
The Apache web server is configured to run on port 80</A>. If you are
going to use Squid as an httpd accelerator, you may wish to run the Apache
web server on port 8080. To do so, modify /usr/local/lib/apache/conf/httpd.conf.
Further, the default document directory for the Apache web server is set to
/usr/local/lib/apache/htdocs. If you wish to serve your HTML documents out
of a different location, modify /usr/local/lib/apache/conf/httpd.conf.
<LI><A NAME="squid">
The Squid Internet Object Cache is configured to run on port 3128</A> and to 
act as a cacheing proxy server. It can also be configured to run
as an httpd accelerator by running on port 80.
If you wish to use the httpd accelerator configuration,
remember to stop/disable any other server running on port 80. In particular,
the Netscape FastTrack or Apache web server is usually configured to run on 
port 80.
<LI><A NAME="htmlman">
Several packages install documentation, manuals, tutorials and other</A>
introductory and informative matter as HTML documents in /usr/local/man/html.
During the installation of these packages, a symbolic link is created in
the default Apache web server document root. Thus, the documentation for
these packages can be accessed via a browser. For instance, the HTML documents
describing the Xcoral editor are installed in /usr/local/man/html/xcoral.
A symbolic link pointing to this location is installed as
/usr/local/lib/apache/htdocs/docs/xcoral. Thus, to access the Xcoral HTML 
documentation, you need only open the URL http://your.server.name/docs/xcoral/
These convenience links are provided for Count, SmallEiffel, addressbook,
crossfire, gd, giftrans, gimp, git, gv, GNU history, Hypermail, jasmin,
klassmaster, mathrec, msql, mutt, mysql, nedit, omniORB, php,
GNU readline, sox, squid, tcsh, vrwave, wget, wwwtar, xacc, xcoral, xtar, 
xtide and xv.
<LI><A NAME="sw98mount">
If you mount the CD-ROM under your default document root, </A>
you will be able to serve up the Skunkware HTML documents
with your web server. For instance, after installing the apache and squid
packages, if you mounted the Skunkware CD-ROM on 
/usr/local/lib/apache/htdocs/skunkware, then opening the URL
http://your.server.name/skunkware/ would allow you to browse the contents
of the Skunkware CD-ROM from any browser that could access your server.
<LI><A NAME="wmconf">Alternate window managers' default configurations</A>
are those provided in the source distributions and will need to be tailored
for use on UnixWare 7. That is, the rc startup files for fvwm, fvwm95,
KDE and WindowMaker may need system-specific
configuration. The Skunkware team plans on making UnixWare specific
window manager configuration files available via the Skunkware web site at
<A HREF="http://www.sco.com/skunkware/x11/winman/">
http://www.sco.com/skunkware/x11/winman/</A>.
<LI><A NAME="wmaker">Individual account configuration of WindowMaker</A>
must be done prior to using the WindowMaker window manager. To do so,
login as the user who desires to use WindowMaker and run the WindowMaker
configuration script:
<PRE>
    $ /usr/local/bin/wmaker.inst
</PRE>
On OpenServer, enter ".startxrc" when prompted for the name of the
X11 session startup script. On UnixWare 7, enter either ".xsession"
or ".xinitrc". Modify the resultant file in your home directory to
select the type of graphical login session you desire. If your selected
session type fails, edit this file and select either fvwm95 or pmwm
to verify that your setup is correct.
</UL>

<P>
<A NAME="limits"><B>Known Limitations and Problems</B></A>
<UL>
<LI> <A NAME="disk5">A full installation of the SCO Skunkware </A>
  can require several hundred Mb of disk space. If your system's root 
  filesystem does not contain sufficient disk space,
  then you may wish to perform the following
  workaround (rather than removing files from the root partition):
<PRE>
On UnixWare
   # mv /usr/local /u/local
   # ln -s /u/local /usr/local

On OpenServer
   # mkdir /u/SKUNK99
   # ln -s /u/SKUNK99 /opt/K/SKUNK99
</PRE>
  Where /u denotes an additional disk or filesystem with sufficient space.

<P>
</LI>
<LI><A NAME="xgrab">Some programs - including the
xfishtank animated background and the xgrabsc command - may need a 
PseudoColor visual</A>.
Before attempting to run either xfishtank or xgrab, 
the front-end for xgrabsc, 
you may need to configure your X server to run in 256 color mode. Sorry.

<P>
</LI>
<LI><A NAME="winman">Alternate window managers</A> - The Skunkware
window managers (Fvwm 2, Fvwm95, WindowMaker, KDE) should be considered
experimental. 
Some color-intensive X clients may not be able to allocate sufficient
color cells, particularly with WindowMaker. Additional window managers
and updated versions of these will be available at the 
<A HREF="http://www.sco.com/skunkware/x11/winman/">Skunkware web site</A>.

<P>
</LI><LI><A NAME="kde">The K Desktop Environment (KDE)</A>, release 1.1,
is now available in Skunkware for both OpenServer and UnixWare 7. 
KDE installs in the /usr/local/kde directory. Documentation for KDE can be 
found at 
<A HREF="http://www.kde.org/documentation/index.html">the KDE web site</A>
and in the Skunkware installation of KDE at http://localhost/docs/kde
(assuming you have installed KDE and Apache).
<P>
Source for KDE can be retrieved either from the KDE ftp site at
<A HREF="ftp://ftp.kde.org">ftp.kde.org</A> or from the Skunkware ftp site
at <A HREF="ftp://ftp.sco.com/skunkware/src/x11/winman/kde/">
ftp://ftp.sco.com/skunkware/src/x11/winman/kde/</A>
<P>
If you wish to setup the root user with a KDE environment, after starting
KDE as root you will need to edit the file /.kde/share/apps/kfm/desktop
and change all occurrences of "file://..." to "file:/...". Exit the
root KDE session and restart another. Root's desktop icons should now
function properly.
<P>
Note that KDE is not small. Running on a system with less than 64 Megabytes 
of RAM can, at times, be slow. Running on a system with less than 32 Megabytes
has not been tested and is not recommended.
<P>
It is hoped that this remarkable new desktop environment will please the
graphical Skunkware user.
<P>
</LI><LI><A NAME="kdm">The KDE graphical login manager</A>, kdm, can be
configured as a replacement for the standard X11 xdm by following the
instructions in the file /usr/local/kde/share/config/xdm-setup-uw7.README
This script can be executed (by root) and automates the setup of the kdm 
graphical login manager on UnixWare 7. It has not yet been ported to OpenServer.
After running this script on UnixWare 7, it may be necessary to restart
the X server or reboot the system in order to start the K display manager.
</LI><LI><A NAME="wmexit">Exiting the alternate window managers</A>
does not always exit the X session and return you to the graphical login.
If this happens, switch to another screen (ctrl-alt-fkey) and kill the
X server process for your display:
<PRE>
    # ps -ef | grep X
    # kill &lt;pid&gt;
</PRE>

<P>
</LI><LI><A NAME="mcexit">Exiting Midnight Commander under WindowMaker</A>
can be difficult as the WindowMaker window manager grabs F10.
<P>
</LI><LI><A NAME="freefont">Adding freefont directory to your font path</A>
can be accomplished with the following commands:
<PRE>
    $ xset -fp /usr/local/share/fonts/freefont
    $ xset +fp /usr/local/share/fonts/freefont
    $ xset fp rehash
</PRE>
The gimp command has been wrappered with a shell script which does this for you.

<P>
</LI>
<LI> <A NAME="bash">Installing bash on UnixWare 7.0.1</A> requires
<A HREF="ftp://ftp.sco.com/SLS/ptf7051c.Z">ptf7051c</A> (updated libc). 
Otherwise it fails to run. See the
<A HREF="ftp://ftp.sco.com/SLS/ptf7051c.txt">ptf7051c notes</A> 
for installation instructions.
</LI>
</UL>

<B>Comments</B>
<P>
We are interested in your general comments about this distribution
and about development tools in general. Please feel free to e-mail
<A HREF="mailto:skunkware@sco.com">skunkware@sco.com</A> with
comments, criticisms and suggestions.
<P>
<CENTER>
<TABLE WIDTH=80% BORDER=6 CELLPADDING=3 CELLSPACING=3>
<TR><TD ALIGN=CENTER><A HREF="http://www.ocston.org/~rr">
Ron Record</A></TD>
<TD ALIGN=CENTER><A HREF="mailto:rr@sco.com">rr@sco.com</A></TD></TR>
<TR><TD ALIGN=CENTER>
Open Source Program Architect</TD>
<TD ALIGN=CENTER><A HREF="http://www.sco.com/">SCO</A></TD></TR>
<TR><TD ALIGN=CENTER>400 Encinal St.</TD>
<TD ALIGN=CENTER>Santa Cruz, CA 95061</TD></TR>
</TABLE>
<P>
</CENTER>
</BODY>
</HTML>

