@@@SKUNKHEADER(Window Managers)

<P>Welcome to the Skunkware Window Managers section. The Skunkware
team has collected a few window managers which some users may wish
to run as a replacement for the SCO Desktop and Motif window managers.
Users wil almost certainly want to customize these window managers,
and probably create custom <TT>.startxrc</TT> files. Please consult the
startx man page for details on the contents of this file.</P>

<P>These window managers can all use the icons and pixmaps provided
in the Skunkware icon collection (see table below).
</P>
#ifdef SKUNK_CD
<P>
Additional window managers for SCO platforms are available via the Skunkware
web/ftp site at
<A HREF="http://skunkware.dev/skunkware/x11/winman/">
http://skunkware.dev/skunkware/x11/winman/</A>
</P>
#endif

@@@START_PACKAGELIST
@@@PACKLIST(skunkpix;Skunkware icon collection;1.0;Yes;Yes)
@@@PACKLIST(WindowMak;WindowMaker window manager;0.50.2;Yes;Yes)
@@@PACKLIST(enlighten;Enlightenment window manager;0.12.3;Yes;Yes)
@@@PACKLIST(fvwm;ICCCM compliant multiple virtual desktop window manager;2.0.46;Yes;Yes)
@@@PACKLIST(fvwm95;Well known product look and feel for fvwm;2.0.43a;Yes;Yes)
@@@PACKLIST(kde;the K Desktop Environment;1.1pre2;Yes;Yes)
@@@END_PACKAGELIST

#include "skunkpix.src"
#include "WindowMak.src"
#include "enlighten.src"
#include "fvwm.src"
#include "fvwm95.src"
#include "kde.src"

@@@SKUNKFOOTER
